In [1]:
import pandas as pd
import re
import numpy as np

# Main

For the updated version of my dataset, referred to as v2, we've made several important changes to how the data is processed and represented:

Preservation of Initial Data: In this version, we have opted to retain the original data present in the 'create' and 'backed' columns. This decision allows for a more comprehensive analysis for the number of projects that the project

Revision of Extraction Logic: The method used to populate the 'TotalCreated' and 'TotalBacked' fields has been updated. In the new approach, we ensure that projects without explicit creation data are defaulted to zero in 'TotalCreated' to better reflect the actual creator activity. Similarly, 'TotalBacked' now more accurately captures the backing activity. This adjustment ensures a more precise reflection of the creators' and backers' engagement with the platform.

Omission of 'Experience' ‘FriendNum’ Calculation: Unlike the previous iteration, the v2 dataset does not include the 'Experience' ,which was initially calculated as the difference in days between the project's start date and the creator's joining date. And ‘FriendNum’column, the number of friends generated from the 'Connect' columns.This decision may streamline the dataset and focus analysis on other key metrics.

Exporting to New File: Finally, after making these updates, the revised dataset is exported to 'kickstarter_cleaned_fullversion_v2.xlsx'. This file contains all modifications, ensuring data integrity and enabling a fresh analysis perspective based on the latest processing logic.

# import the original data of the tech,game,design

In [2]:
df_1011 = pd.read_excel("E:/Kickstarter_0406/data/1.Original/kickstarter1011V3.xlsx")
df_1009 = pd.read_excel('E:/Kickstarter_0406/data/1.Original/kickstarter1009V3.xlsx')
df_1018=pd.read_excel('E:/Kickstarter_0406/data/1.Original/kickstarter1018V2.xlsx')

In [3]:
df=pd.concat([df_1009, df_1011,df_1018], ignore_index=True, sort=False)
df.head()

,ProjectID,Subcategories,URL,State,ProjectName,ProjectDescription,CreatorName,LastUpdate,RemaingingDays,UpdateCount,...,LastLogin,CreatorURL,Connect,Text,Biography,backed,joined,create,webList,ActualEndDate
0,1,3D Printing,https://www.kickstarter.com/projects/3dprinter...,live,Halloween Spooktacular STL Bundle for 3D Printing,100+ 3D Printable Designs for a Haunting Hallo...,3D Printer Academy,NaN,3days to go,1.0,...,Last login Sep 9 2023,https://www.kickstarter.com/profile/3dprintera...,Not connected,17 created,Backer Favorite\n\n\n\nExplore and Download un...,Backed 7 projects,2020-05-16T02:37:41-04:00,17,3dprinteracademy.com,2023-9-22
1,2,3D Printing,https://www.kickstarter.com/projects/3dpprofes...,successful,PrintABlok:BattleMecha - Kitbash Toys for 3D P...,"PrintABlok, the toy of the future, is going Ro...",Joe Larson,2023-09-15T15:01:07-04:00,NaN,9.0,...,Sep 14 2023,https://www.kickstarter.com/profile/3dpprofess...,Joseph Larson,8 created\n\n·\n\n25 backed,"Backer Favorite\n\n\n\nYouTuber, Award winning...",Backed 25 projects,2011-04-12T09:03:40-04:00,25,3dpprofessor.com,NaN
2,3,3D Printing,https://www.kickstarter.com/projects/snapmaker...,successful,Snapmaker 2.0: Modular 3-in-1 3D Printers,Unlock your full creative potential from 3D pr...,Snapmaker,2023-06-29T11:14:46-04:00,NaN,26.0,...,Aug 29 2023,https://www.kickstarter.com/profile/snapmaker/...,Not connected,2 created\n\n·\n2 backed,Backer Favorite\n\n\n\nSnapmaker is a tech sta...,Backed 2 projects,2017-02-13T04:01:08-05:00,2,snapmaker.com,NaN
3,4,3D Printing,https://www.kickstarter.com/projects/126044585...,successful,Automatic Rubber Band Blaster Kit!,History trembled the day the Rubber Band Blast...,Dorhout R&D LLC,2015-04-06T14:15:36-04:00,NaN,19.0,...,Mar 7 2021,https://www.kickstarter.com/profile/1260445854...,David Dorhout,2 created\n\n·\n11 backed,2-time creator\n\n\n\nShuttle Bay Labs (a divi...,Backed 11 projects,2012-09-18T20:58:34-04:00,2,"shuttlebaylabs.com,DorhoutRD.com",NaN
4,5,3D Printing,https://www.kickstarter.com/projects/logxen/sm...,successful,Smoothieboard - The future of CNC motion control,Easy to use open source G-code interpreter for...,"Uberclock, LLC",2019-09-07T16:01:27-04:00,NaN,20.0,...,May 21 2022,https://www.kickstarter.com/profile/logxen/about,142 friends,First created\n·\n19 backed,"Creator\n\n\n\nUberclock, LLC was founded by M...",Backed 19 projects,2012-11-15T05:55:26-05:00,1,"uberclock.com,smoothieware.org,robotseed.com,r...",NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89093 entries, 0 to 89092
Data columns (total 36 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ProjectID           89093 non-null  int64
 1   Subcategories       89093 non-null  object
 2   URL                 89093 non-null  object
 3   State               89093 non-null  object
 4   ProjectName         89090 non-null  object
 5   ProjectDescription  89026 non-null  object
 6   CreatorName         89080 non-null  object
 7   LastUpdate          87129 non-null  object
 8   RemaingingDays      944 non-null    object
 9   UpdateCount         88855 non-null  float64
 10  CommentCount        88074 non-null  object
 11  ProWeLove           82736 non-null  float64
 12  ProjectLocation     89093 non-null  object
 13  Pledged             88051 non-null  object
 14  Goal                88074 non-null  object
 15  ImgCount            89093 non-null  int64
 16  videoCount          89093 non-null  int64
 17  youtubeCount        89093 non-null  int64
 18  Backer              88051 non-null  object
 19  StartDate           87130 non-null  object
 20  EndDate             87130 non-null  object
 21  Days                87130 non-null  object
 22  Featured            566 non-null    object
 23  Story               88073 non-null  object
 24  CreatorLocation     87543 non-null  object
 25  Verified            89040 non-null  object
 26  LastLogin           88942 non-null  object
 27  CreatorURL          89040 non-null  object
 28  Connect             89040 non-null  object
 29  Text                89040 non-null  object
 30  Biography           85918 non-null  object
 31  backed              85918 non-null  object
 32  joined              85918 non-null  object
 33  create              85615 non-null  object
 34  webList             64355 non-null  object
 35  ActualEndDate       1182 non-null   object
dtypes: float64(2), int64(4), object(30)
memory usage: 24.5+ MB

In [5]:
df.columns

Index(['ProjectID', 'Subcategories', 'URL', 'State', 'ProjectName',
       'ProjectDescription', 'CreatorName', 'LastUpdate', 'RemaingingDays',
       'UpdateCount', 'CommentCount', 'ProWeLove', 'ProjectLocation',
       'Pledged', 'Goal', 'ImgCount', 'videoCount', 'youtubeCount', 'Backer',
       'StartDate', 'EndDate', 'Days', 'Featured', 'Story', 'CreatorLocation',
       'Verified', 'LastLogin', 'CreatorURL', 'Connect', 'Text', 'Biography',
       'backed', 'joined', 'create', 'webList', 'ActualEndDate'],
      dtype='object')

# check specified columns.There are some problems in the ['Story'] and ['CreatorName']

In [6]:
# Specified columns
columns = ['ProjectID', 'State', 'CreatorName', 'URL', 'Story', 'Pledged', 'Goal', 'ImgCount', 
           'videoCount', 'youtubeCount', 'Backer', 'StartDate', 'EndDate']

# Check if specified columns exist in df2
if all(col in df.columns for col in columns):
    # Filter the DataFrame for the specific Project ID (e.g., Project ID 3806)
    project_id =86191
    project_data = df[df['ProjectID'] == project_id][columns]

    if not project_data.empty:
        # Print details of the project
        row = project_data.iloc[0]  # Assuming there's only one matching row
        print(f"Project ID: {row['ProjectID']}\n"
              f"State: {row['State']}\n"
              f"Creator Name: {row['CreatorName']}\n"
              f"URL: {row['URL']}\n"
              f"Story: {row['Story']}\n"
              f"Pledged: {row['Pledged']}\n"
              f"Goal: {row['Goal']}\n"
              f"Image Count: {row['ImgCount']}\n"
              f"Video Count: {row['videoCount']}\n"
              f"YouTube Count: {row['youtubeCount']}\n"
              f"Backer: {row['Backer']}\n"
              f"Start Date: {row['StartDate']}\n"
              f"End Date: {row['EndDate']}\n")
    else:
        print(f"No project found with Project ID {project_id}")
else:
    print("Some specified columns do not exist in df2.")

Project ID: 86191
State: unsuccessful
Creator Name: Ryan Hall
URL: https://www.kickstarter.com/projects/ryanwho/sector?ref=discovery_category_ending_soon
Story: Story







  Planned Platforms







 Promotional Demo 0.0.1 available now!































Welcome to Sector- a cyberpunk noir adventure.








Inspired by the raw, colorful cyberpunk stylings of the 80s and the strong world building elements of modern first person exploration games, adventure games, and immersive sims-- as well as esoteric mechanics like time progression as seen in Persona and branching storyline much like Way of the Samurai (or Choose Your Own Adventure books), Sector blends the bombastic visual and thematic trends from a bygone era into a modern-playing detective game set in an alternate near future-- where natural resources like drinking water are more scarce by the day, yet a new mystery element floating in the air has created a virtually unlimited source of power.







You play a CSR Agent, or Chaser, sent to investigate the mysterious murder of a splicer, a DNA augmented woman, outside of a popular night club on the rough side of town. On the journey to find justice there are multiple paths and dozens of endings. Will you solve the murder, or stumble into a larger conspiracy at play? Stepping on the wrong toes or turning into the wrong alley could send you to an early grave, and this city's full of em.

















You'll investigate crime scenes, track perps, and interview witnesses with a number of tools at your disposal, including multiple modes of vision that can expose additional leads and multiple hacking tools for when you log into the GRID-- a vast virtual network where you physically travel through data at blazing speeds to grab encrypted files, hack nodes, meet with clandestine avatars, or even find gateways into the illegal, crime-ridden UnderGRID.







On the hunt for the truth, you can completely miss a lead while investigating a scene as you only need one to move the story forward. Often the evidence you can find will give you multiple leads you can investigate next, however time passes which each choice you make and choosing to follow one lead could result in another disappearing. Weather is washing away evidence, people are coming and going inadvertently corrupting clues in their everyday routines, and criminals are cleaning up the trail behind them at the same rate you're making your way forward.


I believe in order for a player to have a sense of discovery, there has to be the possibility they can miss something completely. That's what truly makes it an adventure- without that you're just on a ride with someone else at the wheel.





As for conversations, you'll use Personality Profiles to interview witnesses and suspects in the direct dialog system, where the things you say irrevocably effect your relationship with that person as well as the information they give you, and possibly even what actions they take next. They can lie to you or lead you into a trap if you're not careful with your words. And you only get one shot to get that intel. No info-dumps here.Your hard-boiled protagonist's mental state effects the game as well. If there's time, going by Sue's Coffee in the morning will make you more perceptive the rest of that day, and you might be able to find more leads. However, there's a darkness in this detective's past as well, and the cure lies at the bottom of a bottle. If the Chaser doesn't drink for too long, the nightmares come back and interfere with the investigation in detrimental ways. Too much drinking has its obvious drawbacks as well and could draw the ire of Chief. Other vices can be found downtown if you need that extra, not-so-legal perk. Finding a wellness balance is key to staying sharp for this case... or perhaps falling off the deep end is just the edge you need to get things done?







As you investigate Sector city you'll be updating your internal database, and even if you reach an early ending (or grave) and start again, the dossiers and other data you've collected will carry over. You're better equipped with the data you need each time you play through, with campaigns lasting anywhere from half an hour to 6 hours. Having late game data early could even unlock new avenues of investigation. So don't be afraid to piss of that gangster- he might tell you something real important before strapping on those cement boots and you'll be able to use it on your next play to get even further down the rabbit hole. Why are you able to recall these things? Who can say, perhaps if you do a bit more digging...







With the sometimes lowkey, sometimes uptempo synth heavy music of SectoR I intend to invoke a time and place you've never visited, yet are nostalgic for nonetheless. With enough funding I'm also hoping to licence or even have original music composed by modern musicians leading the way in bringing 'wave music back in fresh new forms.Below are a few early, unfinished samples that should give a good idea of the type and range of music the final product may have.












Sector is a world with a rigidly defined class system, so much so that those living on the top floors have different sets of laws than those at the street level, with strictly guarded vertical borders. And when a crime is committed that overlaps these borders, you call a CSR agent.









   Because Sector is a post-singularity city, 5 tiers of artificial intelligence are used to categorize the different functions and abilities of its robot and computer inhabitants.







 Sector is not only a post-singularity city, its also a post singularity reaction city.  On the ashes of a divisive law that made illegal several million self-aware citizens, tensions have never been higher between biological and artificial. Several new industries have escalated in kind, identity alteration and trafficking as these former citizens attempt evade decommission with the help of their neighbors, and in response, bounty hunting and spying from the morally dubious types looking to make a little money, or with the promise of citizenship upgrade. A Chaser agent can't help but get involved, in one way or another.







Tech advances far faster than people are willing or able to adapt, which creates further conflict. Tech progress coinciding with social regress. Cavemen fighting with laser guns. How did it get to this point?







Following an unexpected meteor shower, a mysterious dust appeared in the air all over the world, clouding the atmosphere and killing 70% of all plant life and that which depended on it to live. Radio and satellite signals were unreadable.Worldwide chaos.But then, a discovery- this dust could be easily harnessed into a source of power, and seemed to be endless. Rich or poor, power was now everywhere and free. Nations of the world turned inward for a time as a 2nd Renaissance brought forth new technology quicker than ever before in history. Flora was dwindling but food could now be produced artificially. The rain and air was tainted, but most states had purification plants.Most, but not all. Plants couldn’t be built
fast enough to prevent a worldwide
famine. People were desperate.
On the ashes of The War, nations fell
 and in their place, thousands of micro
states, densely populated cities built
around essential water resources,
formed.
One of the larger city states in the
Northern Hemisphere is SectoR City.

The year is 2026. The world has ended twice in 40 years and been reborn twice.The world will end once more,
But until then...









 The Creator







 I'm Ryan Hall, formerly an animator at OffBase productions. While there did contract modeling, rigging, and animation work related to such marquee titles as Dark Souls 3, Naruto Ultimate Ninja Storm 4, Star Ocean: Integrity and Faithlessness, and Dragonball Xenoverse 2 in addition to some VR stuff I'm not at liberty to discuss in detail. Later once my contract ended I began work on an updated show reel and had the idea for a futurist city that could act as the connective gateway for my portfolio pieces. But the more I worked on it, the more I realized this could be the genesis of a more ambitious idea; that eventually became the Kickstarter I've shared with you today. While I am doing just about everything solo, Id be remiss not to thank a few groups that helped pick up the programming slack. Thanks so much to Panda Studios and Heads&Brains for the use of their code in that regard. And of course, none of it would be possible without Unreal Engine 4, and big thanks to the fine folks constantly tweaking it at Epic Games for making something user-friendly enough for a right brain type of guy like me to throw a demo together.Backer Rewards















 Risks and challengesBeing the sole creative drive for a game is a double edged sword, but enough people in the last decade have shown it can be a successful endeavor and often creates a game that feels unique in a way a large team game tends not to.

Additionally, with middle-ware development kits like Unreal 4 as well as marketplace blueprints and plugins, which were developed by teams of professional programmers and experts, you're never truly making a game on your own. And they'll be picking up the mechanical slack here while I focus on the rest; visuals, storytelling, modeling, rigging, texturing, animation, sound, music, etc., all the competencies of which can be assessed in the demo I've provided.

Most of the game's story and visuals have already been mapped out, as you can see in some of the pre-rendered cut scenes; its just a matter of being able to put the time in to get this stuff running in UE4, and that just leaves covering expenses along the way.

Branching off from a big Bay Area company and doing your own thing is a risk, but it avails you of risk-averse politics. You can take more creative chances and that's something that can only benefit the industry as a whole.瞭解 Kickstarter 的問責制度Questions about this project? Check out the FAQReport this project to Kickstarter
Pledged: US$ 7,646
Goal: US$  15,000
Image Count: 22
Video Count: 1
YouTube Count: 2
Backer: 89
Start Date: 2017-5-22
End Date: 2017-6-25

In [7]:
# Specified columns
columns = ['ProjectID', 'State', 'CreatorName', 'URL', 'Story', 'Pledged', 'Goal', 'ImgCount', 
           'videoCount', 'youtubeCount', 'Backer', 'StartDate', 'EndDate']

# Check if specified columns exist in df2
if all(col in df.columns for col in columns):
    # Filter the DataFrame for the specific Project ID (e.g., Project ID 3806)
    project_id =79660
    project_data = df[df['ProjectID'] == project_id][columns]

    if not project_data.empty:
        # Print details of the project
        row = project_data.iloc[0]  # Assuming there's only one matching row
        print(f"Project ID: {row['ProjectID']}\n"
              f"State: {row['State']}\n"
              f"Creator Name: {row['CreatorName']}\n"
              f"URL: {row['URL']}\n"
              f"Story: {row['Story']}\n"
              f"Pledged: {row['Pledged']}\n"
              f"Goal: {row['Goal']}\n"
              f"Image Count: {row['ImgCount']}\n"
              f"Video Count: {row['videoCount']}\n"
              f"YouTube Count: {row['youtubeCount']}\n"
              f"Backer: {row['Backer']}\n"
              f"Start Date: {row['StartDate']}\n"
              f"End Date: {row['EndDate']}\n")
    else:
        print(f"No project found with Project ID {project_id}")
else:
    print("Some specified columns do not exist in df2.")

Project ID: 79660
State: unsuccessful
Creator Name: Craig Indy（已刪除）
URL: https://www.kickstarter.com/projects/indy5live/the-silly-friends-drawing-game?ref=discovery_category_ending_soon
Story: StoryGreetings Kickstarter Nation!The Silly Friends Drawing Game is a game designed to help players learn how to draw and inspire creativity by using chance to generate fun, unique, playful, Silly Friends. The game consist of 6 game cards with 6 unique characters on each game card, giving the player 36 Silly Friends to practice drawing. When they are ready to play the game, simply grab a draw pad and a dice and start mixing the body parts divided into 10 categories, starting with the eyes and making their way down to the feet. There are many ways to play the game and the combinations of body parts are practically endless!







Thank you for taking the time to view my project! When I was a boy in elementary school I joined a cartooning club where I discovered my passion for drawing silly characters. I didn't care so much about using them in books or comics, it was the creative process that I fell in love with; the mixing of different lines and shapes to make unique looking characters. I remember covering entire sheets of paper with nothing but different looking eyes, noses, mouths, etc. I would then try to mix and match these parts to see what kind of cool characters I could generate. It was a lot of fun!







Later in life, around middle school, I rediscovered some of my old drawings and it reminded me of all the fun times I had with friends making these goofy characters. So I decided to make a game out of it, using a printed off grid that my mom made me on her office computer, I drew 6 body parts across 15 categories with each part being represented by a number on a dice. I would then roll the dice for each of the categories, drawing out each part on a dry erase board as I went along, until I completed my unique character drawing. That's when The Silly Friends Drawing Game was born.





Prototype - Game Artwork & Graphics by Daniel Alfaro






Well, to be fair, I called it Crazy People, but that's not so politically correct to say and it would exclude my ability to include other fun creatures like humanoids, robots, monsters, aliens and animals if I didn't change the name to Silly Friends. But even after bringing back an old hobby of mine, the busy-ness of life growing up as a teenager pushed the game into a drawer where it sat for another 15 years (Alright, well, the busy-ness of life as a teenager, college student & young adult, lol). Anyways, after all these years of the game being stored away, it has come back into my life, and this time, it's better than ever and ready to be shared with the world.





Even though I am a grown adult now, I still enjoy playing the game. I have 4 nieces and soon to be 2 nephews (and several friends with kids as well) and it's been fun sharing my love for drawing with them. The more artistic kids focus on the lines and making the best drawing they can as they play the game. The other kids, they just like mixing and matching parts to see what the end results will look like. With my family, it somehow turns into a contest! Either way, artist or not, all kids have a creative side and would enjoy playing this game.


The possibilities are endless with The Silly Friends Drawing Game!





Please consider backing my project. I have spent quite a bit of my own money developing a commercially viable version of The Silly Friends Drawing Game and with your support, I can put on the final touches, such as: copyright, ISBN & Barcode, website, marketing, mass producing, packaging, distribution, eventual trademarking, mobile app, additional retail versions & products. Like my video said at the end, "The possibilities are endless with The Silly Friends Drawing Game!"


Great for All Ages





Thank you for your time,
Craig InderwiesenCreator of the Silly Friends Drawing GameFollow us on Facebook and Instagram!


Here are the rewards for backing this project!





 NOTE: Reward #10 in the image above is now Reward #11. Reward #10 is now 9x Retail Version of The Silly Friends Drawing Game with 1x Collector's Version of the game. Also, a single Draw Pad has 50 sheets of paper, for those wondering if they should get an extra Draw Pad or not.P.S. The game says ages 5+ because the retail version comes with a dice, which can be a possible chocking hazard. This game is great for all ages, young or old.

Risks and challengesI have already made connections with an artist that's helping me produce the game, as well as a print shop that is willing to printing the game. I have a functional prototype of the game and draw pad, but there is a bit of refining that the product needs before it is brought to market, such as; making the product a bit more user friendly for kids, making some body parts connect a little better with other parts, perhaps making the size smaller so the game is a bit more portable and fit on a shelf better. I also travel 3 nights a week with my current job so that makes it a bit more difficult to get everything done in a timely manner, but I promise my backers if this project is funded that they will receive a copy of The Silly Friends Drawing Game.Questions about this project? Check out the FAQReport this project to Kickstarter
Pledged: US$ 1,102
Goal: US$  8,000
Image Count: 7
Video Count: 1
YouTube Count: 0
Backer: 15
Start Date: 2017-7-22
End Date: 2017-8-21

In [8]:
# Specified columns
columns = ['ProjectID', 'State', 'CreatorName', 'URL', 'Story', 'Pledged', 'Goal', 'ImgCount', 
           'videoCount', 'youtubeCount', 'Backer', 'StartDate', 'EndDate']

# Check if specified columns exist in df2
if all(col in df.columns for col in columns):
    # Filter the DataFrame for the specific Project ID (e.g., Project ID 3806)
    project_id = 59018
    project_data = df[df['ProjectID'] == project_id][columns]

    if not project_data.empty:
        # Print details of the project
        row = project_data.iloc[0]  # Assuming there's only one matching row
        print(f"Project ID: {row['ProjectID']}\n"
              f"State: {row['State']}\n"
              f"Creator Name: {row['CreatorName']}\n"
              f"URL: {row['URL']}\n"
              f"Story: {row['Story']}\n"
              f"Pledged: {row['Pledged']}\n"
              f"Goal: {row['Goal']}\n"
              f"Image Count: {row['ImgCount']}\n"
              f"Video Count: {row['videoCount']}\n"
              f"YouTube Count: {row['youtubeCount']}\n"
              f"Backer: {row['Backer']}\n"
              f"Start Date: {row['StartDate']}\n"
              f"End Date: {row['EndDate']}\n")
    else:
        print(f"No project found with Project ID {project_id}")
else:
    print("Some specified columns do not exist in df2.")

Project ID: 59018
State: successful
Creator Name: Mystic.Realm
URL: https://www.kickstarter.com/projects/mysticrealm/act-5-chasm-of-the-accursed-tabletop-terrain-by-mystic-realm?ref=discovery_category_ending_soon
Story: Story




Act 5: Chasm of the Goblin King
Epic in proportions Act 5 thematic terrain is a fully immersive 48"x48" diorama. The Act is situated in a murky underground chasm complete with a subterranean river, a steep island bluff, dilapidated bridges, rickety shanties and large multi level playable mountains burrowed deep blow the surface world.
We started this project in November 2021 and our goal was to make a diorama with a storyline driven theme for a completely immersive experience!  It turns out we made a mini movie set and its fantastic!
Print the entire Act and continue the storyline as you build on the lore and history of the previous 4 Acts or set up a Halfing Wargaming skirmish! The playable scenarios are endless and give you the creative freedom to use the mountains, bridges and shanties independently with your existing terrain.  A incredible value for many hours of gaming entertainment, the possibilities are endless.
The inspiration for this Act is from the book of Enoch and the story of Korach and his rebellion which were swallowed up into the earth.

If you love thematic terrain then you will want to follow us, we have more much to share with you.


































3D Printable .STL Files | No Physical Products
Digital Delivered: Files are added to your www.Mystic-Realm.com account and delivered via downloaded.  Everything will be ready for download delivery as soon as the KS closes.

The Act 5 Pledge Includes

  Hollow Point Area
  Flattop Mountain
  Foulford Mountain
  Valdorin Mountain
  Dusky River and Island
  Dilapidated Bridges
  Accessories



Hollow Point











  6"x6" Floor System [18"x30" at the largest spot]
  Thematic Terrain

Flattop Mountain










  Flattop Mountain [2 levels]
  6"x6" Floor System [18"x18"]
  Thematic Terrain


Foulford Range











  Foulford Mountain
  6"x6" Floor System [12"x30"]
  Thematic Terrain


Valdorin Peaks











  Valdorin Mountain [2 levels]
  6"x6" Floor System [24"x18" at the largest spot]
  Thematic Terrain


Dusky River & Island











  6"x6" Dusky River System [24"x48" at the largest spot]
  Island Mountain [2 levels]
  Thematic Terrain


Bridges











  Bridges
  Bridges raised


Accessories











  Pier
  Storage
  Fishmonger cleaning station


Stretch Goals











Act 1-4 Add-On Options

















Add-Ons
Acts 1-4, QDS and QCS can be added as add-ons.
Add on Instruction
To add one or more of the add-ons to your pledge.

  1. Click Manage your pledge
  2. Click Change your pledge
  3. Select your pledge and add the add-on(s) to it
  4. Click Continue



Act 5 Sample Set









FREE Act 5 Sample Set!  This free sample set includes a shanty, bridge and Hollowpoint themed mountain strip.  You can download the file now and start printing.
Link: https://www.mystic-realm.com/index.php/act5/
We try to add free files to our website monthly so be sure to sign up for our website newsletter.

We need your help!
If you're able to back this project we want to thank you!  If you can’t back this project and want to help us, please help us reach others by sharing a link to this project or our website. Thank you so much!

In Play Gallery


























Mystic-Lock Bases - OpenLOCK Compatible









Hollow Point, Flattop, Foulford and Valdorin floors mount onto our Mystic-Lock base which are OpenLOCK compatible. Most of Dusky river doesn't need the bases and uses OpenLOCK clips.

Mystic-Realm 3d Printable Terrain
We are Mystic-Realm, a husband and wife tabletop gaming family.  We started off designing terrain for our games during the era of 1e/2e.  Over the years we continued making pieces for our adventures.  Then in 2014 we started making molds of our terrain and offering resin cast models on eBay.  In 2015 we started sculpting terrain and miniatures in ZBrush.  Our first Kickstarter project was back in 2017.   Since then we have been bringing a wide variety of Thematic Terrain to the table.


Printer Settings









All the terrain we print to show in videos and pictures which also becomes our personal set is printed on a FDM machine.  We print at .10 layer height, 5% infill and .7 or .9 shell thickness.
Most folks would be okay with .15 instead of .10 for the mountains, river and floor tiles
We recommend printing Mystic-Lock bases in draft mode on an FDM printer.
We print at .30 layer height and 5% infill.

Printer Build Volume Sizes
The largest pieces will need to be printed on a 6x6x6 printer bed. Act 5 is built on our 6x6 Mystic-Lock bases which are OpenLOCK compatible. The Mystic-Lock base is FREE - visit our website to download now.

Free Slicer Program









We use the Prusa Slic3r program and have really good results.  If you're having trouble with your slicer consider downloading the program from the Prusa Website.

Painting
We print all our terrain in black PLA and do not primer.  With this strategy we take advantage of the PLA color which is used to retain the shadows in the crevices. This method incredibly speeds up the painting process.  Much of the terrain is large pieces which makes for fast and easy dry brushing.
Youtube Chanel: https://www.youtube.com/+mysticrealmRisks and challengesWe have most of this project done.  The only thing left to do is adjust the size on some of the river tiles, adjust 2 tiles in Valdorin and adjust the thickness of a bridge.  After that it's all about adding stretch goals as the KS progresses.

By the time KS comes to a close we will be done with all models and all that will be left to do is build the webpage.  We expect to deliver as soon as KS says all funding have cleared.Learn about accountability on KickstarterEnvironmental commitmentsVisit our Environmental Resources Center to learn how Kickstarter encourages sustainable practices經久耐用的設計Digital Products. No expiry date重複使用與廢物回收No landfills needed.永續材料STL files use zero materials only solar energy.環境友善工廠Digital designed on a program on my PC, printed using plant based PLASustainable DistributionDigital FulfilmentQuestions about this project? Check out the FAQReport this project to Kickstarter
Pledged: $ 6,947
Goal: $ 10
Image Count: 21
Video Count: 0
YouTube Count: 1
Backer: 90
Start Date: 2022-10-13
End Date: 2022-11-7

In [9]:
# Specified columns
columns = ['ProjectID','State', 'CreatorName','URL', 'Story','Pledged', 'Goal', 'ImgCount', 
           'videoCount', 'youtubeCount', 'Backer', 'StartDate', 'EndDate','Biography']

# Check if specified columns exist in df2
if all(col in df.columns for col in columns):
    # Select specified columns and sample 1 row
    df_sample = df[columns].sample(1)

    # Loop through each row in the sample and print details
    for idx, row in df_sample.iterrows():
        print(f"Project ID: {row['ProjectID']}\n"
              f"URL: {row['URL']}\n"
              f"State: {row['State']}\n"
              f"Creator Name: {row['CreatorName']}\n"
              f"Pledged: {row['Pledged']}\n"
              f"Goal: {row['Goal']}\n"
              f"Image Count: {row['ImgCount']}\n"
              f"Video Count: {row['videoCount']}\n"
              f"YouTube Count: {row['youtubeCount']}\n"
              f"Backer: {row['Backer']}\n"
              f"Start Date: {row['StartDate']}\n"
              f"End Date: {row['EndDate']}\n"
             f"Story: {row['Story']}\n"
             f"biograph: {row['Biography']}\n")
        print("-"*80)  # Add a separator for readability
else:
    print("Some specified columns do not exist in df2.")

Project ID: 61156
URL: https://www.kickstarter.com/projects/r-rook/chronicles-of-the-spacejammer-enochs-wake?ref=discovery_category_ending_soon
State: successful
Creator Name: R. Rook Studio
Pledged: $ 4,156
Goal: $ 3,000
Image Count: 3
Video Count: 0
YouTube Count: 1
Backer: 216
Start Date: 2021-2-10
End Date: 2021-2-24
Story: Story











Welcome to Enoch, the city on the comet: port, haven, metropolis, and necropolis of the ancient and forgotten.
Chronicles of the Spacejammer: Enoch's Wake is a stand-alone 2d6 tabletop RPG about life in the comet city. Stroll from wealthy Promenade, where the merchants build homes to compete with the aristocrats of High Rock to the boisterous inns of Harbortown. Sign on with a ship's crew, and journey the Hundred Spheres. Consult the haughty scholars of The High Academy or masked tutors of the Secret Collegium for the secrets of the Wild Void. Get shady messages calling you to meet with corrupt senators in the shadowy Underrock near the Necropolis Gates, but don't venture into them: the Immortals and their servitors guard that alien ruin (and the treasures foolish people claim are within).
Enoch's Wake includes the Traveller-inspired game you use to build your character, simple 2d6-driven rules to get you started, including the use of arcane powers and the necromantic rites that make Enoch's merchant fleet a power in the Wild Void. You'll also find fantastical (and mundane) equipment, rules for using skills, and pointers on the fine art of Spacejamming. Spacejammer is a standalone game with everything you'll need to play.
But what about that first volume, Freebooters of the Wild Void? Read on and find out how you can back this project and add that PDF or Print-on-Demand zine to your collection for a discount!
Character Creation in Enoch
Character creation isn't just part of the system, it's a short, 20-30 minute solo game of its own. Characters in Enoch use a luck-pressing lifepath system that combines player decisions about their with random events that take the character in new directions. Characters starting in Enoch have roots in the city. They might have attended The High Academy (or the stranger, more arcane Secret Collegium), worked for one of Enoch's aristocratic senators, sailed the Hundred Spheres aboard one of Enoch's trading vessels, served as a templar at the Gates of the Necropolis, or supported their old neighborhood as a member of the Anarch Defense.
Several people who've playtested character creation have been kind enough to Tweet through the character creation process. You can see "Muscles" the ogre from Michael Lombardi (currently previewing A Catalogue Chimerical), Philliam the human of High Rock from Geoff Cullop (currently running Isometric Blanks), Micah the Mycanoid from Ben Adelman (of Bone Box Chant), and Griogar the Hammer-Handed from Malcolm Wilson (currently running Island of the Excellent).
How the System Works (and Actual Play!)
The system behind Spacejammer is developed from a classic 2d6 SRD and influenced by systems like Apocalypse World, Offworlders, and Troika. When you do something risky, roll 2d6, adjust with modifiers for your skills, the situation, and the difficulty. On 8+, you succeed. If not, well,  things look bad, but there might be a way (at a cost).
Check out an actual play episode with Tony and crew from +1 Exp. When Enoch's Wake funds, PDF playtest materials will go out to backers in March 2021.
For the GMs...
Adventures in Enoch is a PDF companion zine that includes location-based adventures from Richard Ruane, Pam Punzalan, Diwata ng Manila, and Lucas Rolim, as well as Richard's random tables of encounters in the city, the necropolis, and the strange spheres of the Wild Void itself.
The Cover
Below, take a look at the B&W cover illustration for Chronicles of the Spacejammer: Enoch's Wake by Minerva Fox!









And Troika!?
The first volume of Chronicles of the Spacejammer was a support book for Troika! from Melsonian Arts Council. While this is a stand-alone game, we'll carry on in the fine tradition of supporting Troika!, the world's other favorite tabletop RPG, with more backgrounds, magic, and skills you can use to import Enoch into your Troika game. Every pledge that gets the zine comes with Troika! support!
The Volume 1 Add On
When you pledge, you'll have the option of adding the first Chronicles of the Spacejammer: Freebooters of the Wild Void to your order for less than the retail price. If you've never picked it up, check it out for a bigger picture of what the peoples that the Hundred Spheres might hold. It's being updated this summer and everyone who has a copy will get the update free.
Also, if you've already got a digital copy, when the update is posted this summer, it will also include a Print-on-Demand option. You can get in on that at cost with a $6 add-on to your pledge.
Team
Richard Ruane (creator/developer) is the creator of Chronicles of the Spacejammer, Barrow Keep: Den of Spies, Moonlight on Roseville Beach, and other games. He was nominated for an IGDN Groundbreaker Award for Best Setting for his 2019 game Dark Designs in Verdigris. An RPG editor in a previous life, he created R. Rook Studio in 2019. By day, he is an instructional designer and content developer living in Brooklyn, NY. Find him on Twitter, Itch, and DriveThru RPG.
Minerva Fox (illustration).You may know Minerva's work from such projects as Hearts of Wulin, Demigods, and her fan web-comic, Heavy Metal Sailor Moon. A lot of her inspiration comes from manga and western comics. She absolutely loves collaborating and bringing ideas to life with both physical and digital media. You can follow her on social media: @blue_troller on Instagram, Twitter, and Twitch!
Diwata ng Manila (adventure design, layout) is a queer game designer and artist based in Metro Manila. The games they design focus on their love of greeneries, their takes on love, loss, and death, and their concepts of revolution.  Check Sin out on Patreon or the Our Shores Kickstarter they're a part of.
Jared Sinclair (editing) is an editor and sometime writer of games and games-related material, including Anti-Sisyphus, What's So Cool About Outer Space?, Prismot!, and The Vanilla Game. He also runs Spear Witch, an independent online bookstore specializing in small-creator game books and zines.
Abigail LaLonde (cartography) started playing RPGs back in '99 and has been drawing for as long as she can remember. She has become fascinated by the Old School/DIY movement and has open commissions for stippling and maps. Check Abigail's work out on Patreon and at ArtStation.
Pam Punzalan (adventure design) is a game designer, writer, editor, sensitivity & cultural consultant, and community organizer from the Philippines. Her games are explorations on the fringe, reclamations of topics and themes that are often barred to her and her own, adaptations of popular tropes and archetypes, and a good mix of sweetness and light that dances on the darker edges of human experiences. Check Pam out on Patreon or the Our Shores Kickstarter she's a part of.
Lucas Rolim (adventure design) is an RPG game designer, author of games like Pacts & Blades. He's been active in the Brazilian OSR scene since 2018 and internationally since 2020. He's written games and zines that were printed by indie publishers like Exalted Funeral, Soul Muppet Publishing, and Spear Witch.
Stretch Goals

   At $3750, we'll add an adventure by Sharang Biswas to Adventures in Enoch and get two new pieces of art from Minerva. FUNDED!

   At $4500, we'll add an adventure by Nicholas Masyk to Adventures in Enoch and get three new pieces of art from Minerva.
   At $5250, we'll add an adventure by Linda Codega to Adventures in Enoch and get two new pieces of art from Minerva.

Project Schedule

   By March 31, 2021, Richard releases the beta version of Enoch's Wake to backers.
   By April 30, 2021, Richard the updated Spacejamming Freebooters to everyone who included it as an add-on item.
   By June 30, 2021, Richard releases the PoD of Spacejamming Freebooters to everyone who included it as an add-on item.
   By September 1, 2021, Richard finalizes the beta rules and sends them to Jared for editing. Adventure writers send their entries to Richard.
   By September 30, 2021, the Enoch's Wake book goes to production with Diwata ng Manila. Pledge management opens for postage and handling charges and pre-orders.

Fulfillment
For printed books, US fulfillment will be through Spear Witch, and Canadian fulfillment will be through Monkey's Paw. We are looking at fulfillment options in other countries with multiple backers to help keep shipping and handling costs as low as possible. Shipping will be charged after the Kickstarter via the R. Rook Shopify store.
Digital/PDF and Print-on-Demand fulfillment will be through DriveThruRPG.









Retail
If you're interested in working out a retail purchase, reach out. My previous games are currently in stock in Exalted Funeral and Spear Witch. I'd love to talk to you!Risks and challengesThis is my second Zine Quest Kickstarter, and I've produced or participated in several PDF zine projects, and have worked on additional Kickstarters as a co-coordinator and reward-tier provider. I have a skilled professional team working with me and have delivered projects for other publishers before, and I'm giving us over 7 months to complete the project.

There are drafts of the city, character creation, and arcane powers already in playtesting.瞭解 Kickstarter 的問責制度Questions about this project? Check out the FAQReport this project to Kickstarter
biograph: Backer Favorite




Superbacker




R. Rook Studio was founded by Richard Ruane in 2019. Before R. Rook, Richard did work as a writer and editor for tabletop RPGs for White Wolf Publishing, worked as an instructional design and educational technology consultant, and published OSR adventures in Gauntlet Codex. His game Dark Designs in Verdigris was nominated for an IGDN Groundbreaker Award in 2020, and his romantic fantasy setting Barrow Keep was nominated for the same award in 2021. His game Enoch's Wake comes out in November 2021.

--------------------------------------------------------------------------------

# correct the ['CreatorName']

In [10]:
# Identify entries with non-ASCII characters 
non_ascii_text = df[df['CreatorName'].apply(lambda x: any(ord(char) > 127 for char in str(x)))] 
# Print these entries print("Entries with non-ASCII characters:") 
non_ascii_text.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2452 entries, 51 to 89076
Data columns (total 36 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ProjectID           2452 non-null   int64
 1   Subcategories       2452 non-null   object
 2   URL                 2452 non-null   object
 3   State               2452 non-null   object
 4   ProjectName         2452 non-null   object
 5   ProjectDescription  2451 non-null   object
 6   CreatorName         2452 non-null   object
 7   LastUpdate          2433 non-null   object
 8   RemaingingDays      12 non-null     object
 9   UpdateCount         2450 non-null   float64
 10  CommentCount        2445 non-null   object
 11  ProWeLove           2303 non-null   float64
 12  ProjectLocation     2452 non-null   object
 13  Pledged             2445 non-null   object
 14  Goal                2445 non-null   object
 15  ImgCount            2452 non-null   int64
 16  videoCount          2452 non-null   int64
 17  youtubeCount        2452 non-null   int64
 18  Backer              2445 non-null   object
 19  StartDate           2433 non-null   object
 20  EndDate             2433 non-null   object
 21  Days                2433 non-null   object
 22  Featured            5 non-null      object
 23  Story               2444 non-null   object
 24  CreatorLocation     2170 non-null   object
 25  Verified            2450 non-null   object
 26  LastLogin           2352 non-null   object
 27  CreatorURL          2450 non-null   object
 28  Connect             2450 non-null   object
 29  Text                2450 non-null   object
 30  Biography           512 non-null    object
 31  backed              512 non-null    object
 32  joined              512 non-null    object
 33  create              512 non-null    object
 34  webList             418 non-null    object
 35  ActualEndDate       14 non-null     object
dtypes: float64(2), int64(4), object(30)
memory usage: 708.8+ KB

In [11]:
# Randomly display 50 entries from the 'CreatorName' column
random_entries = non_ascii_text['CreatorName'].sample(n=50, random_state=1)  # Use random_state for reproducibility
print(random_entries)

83339                                Fraccas（已刪除）
86278                    Sophisticated Gamer（已刪除）
9843            Sammy &quot;Solar&quot; Park（已刪除）
35631                           Dale Simpson（已刪除）
19446     Cara Rose-Randolph and Cannabis Rocks!©
39591                                 Theseus (™)
54368                               CTKevinK（已刪除）
85982                  Cynikal Entertainment（已刪除）
15800                                 Lukí Berlin
38678                               Shuami Gaëtan
46584                       Robert Sha + CAPSULE™
86762                          Daniel Bishop（已刪除）
70187                     Sleepey Initiative（已刪除）
57031    Rosaura Tirado &amp; P.A.C. Pazmiño（已刪除）
80954               Timo Multamäki @ Arctic Union
57642                               Tritiere（已刪除）
37051                      Marie &amp; Boone（已刪除）
54696                                AlieN SlinK™
35966                      The Turner Family（已刪除）
61155               Timo Multamäki @ Arctic Union
23167                             Harlan Cox（已刪除）
328                      DropKey® Pop-up Studios®
12259                    Juan Manuel Alvarez（已刪除）
10055                             OneSafe.io（已刪除）
5701                 Russell Yoskowitz - (PF360°)
21478                        Dwight Morrison（已刪除）
36481                                 Rick B（已刪除）
65191                         Joey Hennessey（已刪除）
84394                          Lori McDonald（已刪除）
70357                          Onova Project（已刪除）
30682                     Gig2Go™ from WrighTrell
30067                             Bo Spruell（已刪除）
26493                                Brittany Aäe
74056                  Cynikal Entertainment（已刪除）
16898                             Scribblerr（已刪除）
21477                          Robert Kayian（已刪除）
58295                        Lunderful Games（已刪除）
74592                             Jay Blades（已刪除）
23062                                Frettsy（已刪除）
1460                            Amanda Ervin（已刪除）
24598                         Aaron Anderson（已刪除）
30390                      Ashley “The Hair Hero”
50578                        Veronica Gratia（已刪除）
24163                  Darla K. Skolnekovich（已刪除）
14277                 ♠~♠~♠ Card Validator ♠ ~♠~♠
18588                       Jeremy M. Dalmer（已刪除）
14798                          DeAndre Price（已刪除）
58083                                  FUGIA（已刪除）
88565                           Strangelette（已刪除）
57898                         R Game Designs（已刪除）
Name: CreatorName, dtype: object

In [12]:
def remove_non_ascii(text):
    # Check if the 'text' is a string instance
    if isinstance(text, str):
        return re.sub(r'[^\x00-\x7F]+', '', text)
    # If 'text' is not a string (could be NaN or other types), return it as-is
    return text

df['CreatorName'] = df['CreatorName'].apply(remove_non_ascii)

# correct the ['Story']

In [13]:
# Corrected dictionary with a comma separating the items
translation_dict = {
    '經久耐用的設計': 'Long-lasting design',
    '重複使用與廢物回收': 'Reusability and recyclability',
    '永續材料': 'Sustainable materials',
    '環境友善工廠': 'Environmentally friendly factories',  # Added missing comma here
    '瞭解 Kickstarter 的問責制度': 'Learn about accountability on Kickstarter'
    # Add any other phrases here...
}

# Function to replace phrases in the 'Story' column
def translate_story(row):
    # Make sure 'Story' is a string, if not (i.e., it's NaN or None), then keep the original value
    story = row['Story'] if isinstance(row['Story'], str) else row['Story']
    
    # If 'Story' is a string, proceed with the replacements
    if isinstance(story, str):
        for chinese, english in translation_dict.items():
            story = story.replace(chinese, english)
    return story

# Apply the function to the 'Story' column
df['Story'] = df.apply(translate_story, axis=1)

In [14]:
# Specified columns
columns = ['ProjectID', 'State', 'CreatorName', 'URL', 'Story', 'Pledged', 'Goal', 'ImgCount', 
           'videoCount', 'youtubeCount', 'Backer', 'StartDate', 'EndDate']

# Check if specified columns exist in df2
if all(col in df.columns for col in columns):
    # Filter the DataFrame for the specific Project ID (e.g., Project ID 3806)
    project_id =79660
    project_data = df[df['ProjectID'] == project_id][columns]

    if not project_data.empty:
        # Print details of the project
        row = project_data.iloc[0]  # Assuming there's only one matching row
        print(f"Project ID: {row['ProjectID']}\n"
              f"State: {row['State']}\n"
              f"Creator Name: {row['CreatorName']}\n"
              f"URL: {row['URL']}\n"
              f"Story: {row['Story']}\n"
              f"Pledged: {row['Pledged']}\n"
              f"Goal: {row['Goal']}\n"
              f"Image Count: {row['ImgCount']}\n"
              f"Video Count: {row['videoCount']}\n"
              f"YouTube Count: {row['youtubeCount']}\n"
              f"Backer: {row['Backer']}\n"
              f"Start Date: {row['StartDate']}\n"
              f"End Date: {row['EndDate']}\n")
    else:
        print(f"No project found with Project ID {project_id}")
else:
    print("Some specified columns do not exist in df2.")

Project ID: 79660
State: unsuccessful
Creator Name: Craig Indy
URL: https://www.kickstarter.com/projects/indy5live/the-silly-friends-drawing-game?ref=discovery_category_ending_soon
Story: StoryGreetings Kickstarter Nation!The Silly Friends Drawing Game is a game designed to help players learn how to draw and inspire creativity by using chance to generate fun, unique, playful, Silly Friends. The game consist of 6 game cards with 6 unique characters on each game card, giving the player 36 Silly Friends to practice drawing. When they are ready to play the game, simply grab a draw pad and a dice and start mixing the body parts divided into 10 categories, starting with the eyes and making their way down to the feet. There are many ways to play the game and the combinations of body parts are practically endless!







Thank you for taking the time to view my project! When I was a boy in elementary school I joined a cartooning club where I discovered my passion for drawing silly characters. I didn't care so much about using them in books or comics, it was the creative process that I fell in love with; the mixing of different lines and shapes to make unique looking characters. I remember covering entire sheets of paper with nothing but different looking eyes, noses, mouths, etc. I would then try to mix and match these parts to see what kind of cool characters I could generate. It was a lot of fun!







Later in life, around middle school, I rediscovered some of my old drawings and it reminded me of all the fun times I had with friends making these goofy characters. So I decided to make a game out of it, using a printed off grid that my mom made me on her office computer, I drew 6 body parts across 15 categories with each part being represented by a number on a dice. I would then roll the dice for each of the categories, drawing out each part on a dry erase board as I went along, until I completed my unique character drawing. That's when The Silly Friends Drawing Game was born.





Prototype - Game Artwork & Graphics by Daniel Alfaro






Well, to be fair, I called it Crazy People, but that's not so politically correct to say and it would exclude my ability to include other fun creatures like humanoids, robots, monsters, aliens and animals if I didn't change the name to Silly Friends. But even after bringing back an old hobby of mine, the busy-ness of life growing up as a teenager pushed the game into a drawer where it sat for another 15 years (Alright, well, the busy-ness of life as a teenager, college student & young adult, lol). Anyways, after all these years of the game being stored away, it has come back into my life, and this time, it's better than ever and ready to be shared with the world.





Even though I am a grown adult now, I still enjoy playing the game. I have 4 nieces and soon to be 2 nephews (and several friends with kids as well) and it's been fun sharing my love for drawing with them. The more artistic kids focus on the lines and making the best drawing they can as they play the game. The other kids, they just like mixing and matching parts to see what the end results will look like. With my family, it somehow turns into a contest! Either way, artist or not, all kids have a creative side and would enjoy playing this game.


The possibilities are endless with The Silly Friends Drawing Game!





Please consider backing my project. I have spent quite a bit of my own money developing a commercially viable version of The Silly Friends Drawing Game and with your support, I can put on the final touches, such as: copyright, ISBN & Barcode, website, marketing, mass producing, packaging, distribution, eventual trademarking, mobile app, additional retail versions & products. Like my video said at the end, "The possibilities are endless with The Silly Friends Drawing Game!"


Great for All Ages





Thank you for your time,
Craig InderwiesenCreator of the Silly Friends Drawing GameFollow us on Facebook and Instagram!


Here are the rewards for backing this project!





 NOTE: Reward #10 in the image above is now Reward #11. Reward #10 is now 9x Retail Version of The Silly Friends Drawing Game with 1x Collector's Version of the game. Also, a single Draw Pad has 50 sheets of paper, for those wondering if they should get an extra Draw Pad or not.P.S. The game says ages 5+ because the retail version comes with a dice, which can be a possible chocking hazard. This game is great for all ages, young or old.

Risks and challengesI have already made connections with an artist that's helping me produce the game, as well as a print shop that is willing to printing the game. I have a functional prototype of the game and draw pad, but there is a bit of refining that the product needs before it is brought to market, such as; making the product a bit more user friendly for kids, making some body parts connect a little better with other parts, perhaps making the size smaller so the game is a bit more portable and fit on a shelf better. I also travel 3 nights a week with my current job so that makes it a bit more difficult to get everything done in a timely manner, but I promise my backers if this project is funded that they will receive a copy of The Silly Friends Drawing Game.Questions about this project? Check out the FAQReport this project to Kickstarter
Pledged: US$ 1,102
Goal: US$  8,000
Image Count: 7
Video Count: 1
YouTube Count: 0
Backer: 15
Start Date: 2017-7-22
End Date: 2017-8-21

# Reconcile values in ['State']

In [15]:
df['State'].unique()

array(['live', 'successful', 'failed', 'canceled', 'suspended',
       'upcoming', 'Unsuccessful', 'unsuccessful'], dtype=object)

In [16]:
# Replace 'Unsuccessful' with 'failed' in the 'State' column
df['State'] = df['State'].replace('Unsuccessful', 'failed')
df['State'] = df['State'].replace('unsuccessful', 'failed')

# Create ['Category']

In [17]:
df['Subcategories'].unique()

array(['3D Printing', 'Camera Equipment', 'DIY Electronics',
       'Fabrication Tools', 'Flight', 'Gadgets', 'Hardware', 'Robots',
       'Software', 'Sound', 'Space Exploration', 'Web', 'Wearables',
       'Makerspaces', 'Television', 'Comic Books', 'Tabletop Games',
       'Product Design', 'Illustration', 'Art Books', 'Apps',
       'Graphic Design', 'Architecture', 'Interactive Design',
       'Civic Design', 'Toys', 'Typography', 'Puzzles', 'Live Games',
       'Gaming Hardware', 'Mobile Games', 'Video Games', 'Playing Cards'],
      dtype=object)

In [18]:
# Define the categories for subcategories
categories_mapping = {
    "Technology": ['3D Printing', 'Camera Equipment', 'DIY Electronics', 'Fabrication Tools',
                   'Flight', 'Gadgets', 'Hardware', 'Robots', 'Software', 'Sound', 'Space Exploration',
                   'Web', 'Wearables', 'Makerspaces', 'Apps'],
    "Design": ['Interactive Design', 'Product Design','Architecture', 'Civic Design', 'Toys', 'Graphic Design', 'Typography'],
    'Games':['Puzzles', 'Live Games', 'Gaming Hardware', 'Mobile Games','Tabletop Games', 'Video Games', 'Playing Cards']
    
}

# Function to get the main category given a subcategory
def get_main_category(subcategory_name):
    for category, subcategories_list in categories_mapping.items():
        if subcategory_name in subcategories_list:
            return category
    return None



# Create a new column 'Category' based on the 'Subcategories' column
df['Category'] = df['Subcategories'].apply(get_main_category)

In [19]:
df['Category'].unique()

array(['Technology', None, 'Games', 'Design'], dtype=object)

In [20]:
df = df[df['Category'].isin(['Technology','Games', 'Design'])]

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 89069 entries, 0 to 89092
Data columns (total 37 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ProjectID           89069 non-null  int64
 1   Subcategories       89069 non-null  object
 2   URL                 89069 non-null  object
 3   State               89069 non-null  object
 4   ProjectName         89066 non-null  object
 5   ProjectDescription  89002 non-null  object
 6   CreatorName         89056 non-null  object
 7   LastUpdate          87129 non-null  object
 8   RemaingingDays      920 non-null    object
 9   UpdateCount         88831 non-null  float64
 10  CommentCount        88050 non-null  object
 11  ProWeLove           82712 non-null  float64
 12  ProjectLocation     89069 non-null  object
 13  Pledged             88027 non-null  object
 14  Goal                88050 non-null  object
 15  ImgCount            89069 non-null  int64
 16  videoCount          89069 non-null  int64
 17  youtubeCount        89069 non-null  int64
 18  Backer              88027 non-null  object
 19  StartDate           87130 non-null  object
 20  EndDate             87130 non-null  object
 21  Days                87130 non-null  object
 22  Featured            566 non-null    object
 23  Story               88049 non-null  object
 24  CreatorLocation     87519 non-null  object
 25  Verified            89016 non-null  object
 26  LastLogin           88918 non-null  object
 27  CreatorURL          89016 non-null  object
 28  Connect             89016 non-null  object
 29  Text                89016 non-null  object
 30  Biography           85894 non-null  object
 31  backed              85894 non-null  object
 32  joined              85894 non-null  object
 33  create              85591 non-null  object
 34  webList             64337 non-null  object
 35  ActualEndDate       1158 non-null   object
 36  Category            89069 non-null  object
dtypes: float64(2), int64(4), object(31)
memory usage: 25.8+ MB

# Create ['WebNum']

In [22]:
# Define a function to count the number of websites in a cell
def count_websites(cell):
    if pd.isna(cell) or not cell:  # Check for NaN or empty strings
        return 0  # Return 0 for NaN or empty entries
    else:
        # Each URL is separated by a comma; count the number of elements after splitting by cdfomma
        websites = cell.split(',')
        return len(websites)

# Apply the function to the 'webList' column to create a new 'WebNum' column
df['WebNum'] = df['webList'].apply(count_websites)
df.head()

,ProjectID,Subcategories,URL,State,ProjectName,ProjectDescription,CreatorName,LastUpdate,RemaingingDays,UpdateCount,...,Connect,Text,Biography,backed,joined,create,webList,ActualEndDate,Category,WebNum
0,1,3D Printing,https://www.kickstarter.com/projects/3dprinter...,live,Halloween Spooktacular STL Bundle for 3D Printing,100+ 3D Printable Designs for a Haunting Hallo...,3D Printer Academy,NaN,3days to go,1.0,...,Not connected,17 created,Backer Favorite\n\n\n\nExplore and Download un...,Backed 7 projects,2020-05-16T02:37:41-04:00,17,3dprinteracademy.com,2023-9-22,Technology,1
1,2,3D Printing,https://www.kickstarter.com/projects/3dpprofes...,successful,PrintABlok:BattleMecha - Kitbash Toys for 3D P...,"PrintABlok, the toy of the future, is going Ro...",Joe Larson,2023-09-15T15:01:07-04:00,NaN,9.0,...,Joseph Larson,8 created\n\n·\n\n25 backed,"Backer Favorite\n\n\n\nYouTuber, Award winning...",Backed 25 projects,2011-04-12T09:03:40-04:00,25,3dpprofessor.com,NaN,Technology,1
2,3,3D Printing,https://www.kickstarter.com/projects/snapmaker...,successful,Snapmaker 2.0: Modular 3-in-1 3D Printers,Unlock your full creative potential from 3D pr...,Snapmaker,2023-06-29T11:14:46-04:00,NaN,26.0,...,Not connected,2 created\n\n·\n2 backed,Backer Favorite\n\n\n\nSnapmaker is a tech sta...,Backed 2 projects,2017-02-13T04:01:08-05:00,2,snapmaker.com,NaN,Technology,1
3,4,3D Printing,https://www.kickstarter.com/projects/126044585...,successful,Automatic Rubber Band Blaster Kit!,History trembled the day the Rubber Band Blast...,Dorhout R&D LLC,2015-04-06T14:15:36-04:00,NaN,19.0,...,David Dorhout,2 created\n\n·\n11 backed,2-time creator\n\n\n\nShuttle Bay Labs (a divi...,Backed 11 projects,2012-09-18T20:58:34-04:00,2,"shuttlebaylabs.com,DorhoutRD.com",NaN,Technology,2
4,5,3D Printing,https://www.kickstarter.com/projects/logxen/sm...,successful,Smoothieboard - The future of CNC motion control,Easy to use open source G-code interpreter for...,"Uberclock, LLC",2019-09-07T16:01:27-04:00,NaN,20.0,...,142 friends,First created\n·\n19 backed,"Creator\n\n\n\nUberclock, LLC was founded by M...",Backed 19 projects,2012-11-15T05:55:26-05:00,1,"uberclock.com,smoothieware.org,robotseed.com,r...",NaN,Technology,4

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 89069 entries, 0 to 89092
Data columns (total 38 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ProjectID           89069 non-null  int64
 1   Subcategories       89069 non-null  object
 2   URL                 89069 non-null  object
 3   State               89069 non-null  object
 4   ProjectName         89066 non-null  object
 5   ProjectDescription  89002 non-null  object
 6   CreatorName         89056 non-null  object
 7   LastUpdate          87129 non-null  object
 8   RemaingingDays      920 non-null    object
 9   UpdateCount         88831 non-null  float64
 10  CommentCount        88050 non-null  object
 11  ProWeLove           82712 non-null  float64
 12  ProjectLocation     89069 non-null  object
 13  Pledged             88027 non-null  object
 14  Goal                88050 non-null  object
 15  ImgCount            89069 non-null  int64
 16  videoCount          89069 non-null  int64
 17  youtubeCount        89069 non-null  int64
 18  Backer              88027 non-null  object
 19  StartDate           87130 non-null  object
 20  EndDate             87130 non-null  object
 21  Days                87130 non-null  object
 22  Featured            566 non-null    object
 23  Story               88049 non-null  object
 24  CreatorLocation     87519 non-null  object
 25  Verified            89016 non-null  object
 26  LastLogin           88918 non-null  object
 27  CreatorURL          89016 non-null  object
 28  Connect             89016 non-null  object
 29  Text                89016 non-null  object
 30  Biography           85894 non-null  object
 31  backed              85894 non-null  object
 32  joined              85894 non-null  object
 33  create              85591 non-null  object
 34  webList             64337 non-null  object
 35  ActualEndDate       1158 non-null   object
 36  Category            89069 non-null  object
 37  WebNum              89069 non-null  int64
dtypes: float64(2), int64(5), object(31)
memory usage: 26.5+ MB

# Create ['IsFeatured']

In [24]:
# Whether the projects are featured
df['IsFeatured'] = df['Featured'].notna()&df['Featured'].astype(bool)

In [25]:
df['Featured'].head(50)

0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
5                                                   NaN
6                                                   NaN
7                                                   NaN
8                                                   NaN
9                                                   NaN
10    Tech Weekly: Lights, Camera, Action\nJuly 11 2015
11                                                  NaN
12                                                  NaN
13                                                  NaN
14                                                  NaN
15                                                  NaN
16                                                  NaN
17                                                  NaN
18                                                  NaN
19                                                  NaN
20                                                  NaN
21    Connected Everything: Our Tech Predictions for...
22                                                  NaN
23                                                  NaN
24                                                  NaN
25                                                  NaN
26                                                  NaN
27             Tech Weekly: Fresh Prints\nMarch 13 2015
28    Kickstarter's Future Fab Lab and More at the 2...
29    Kickstarter's Guide to CES 2017\nDecember 29 2...
30                                                  NaN
31                                                  NaN
32                                                  NaN
33                                                  NaN
34                                                  NaN
35    Connected Everything: Our Tech Predictions for...
36                                                  NaN
37                                                  NaN
38                                                  NaN
39                                                  NaN
40                                                  NaN
41           Tech Weekly: Elemental Design\nMay 23 2015
42                                                  NaN
43                                                  NaN
44                                                  NaN
45                                                  NaN
46                                                  NaN
47                                                  NaN
48                                                  NaN
49                                                  NaN
Name: Featured, dtype: object

In [26]:
df['IsFeatured'].head(50)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21     True
22    False
23    False
24    False
25    False
26    False
27     True
28     True
29     True
30    False
31    False
32    False
33    False
34    False
35     True
36    False
37    False
38    False
39    False
40    False
41     True
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
Name: IsFeatured, dtype: bool

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 89069 entries, 0 to 89092
Data columns (total 39 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ProjectID           89069 non-null  int64
 1   Subcategories       89069 non-null  object
 2   URL                 89069 non-null  object
 3   State               89069 non-null  object
 4   ProjectName         89066 non-null  object
 5   ProjectDescription  89002 non-null  object
 6   CreatorName         89056 non-null  object
 7   LastUpdate          87129 non-null  object
 8   RemaingingDays      920 non-null    object
 9   UpdateCount         88831 non-null  float64
 10  CommentCount        88050 non-null  object
 11  ProWeLove           82712 non-null  float64
 12  ProjectLocation     89069 non-null  object
 13  Pledged             88027 non-null  object
 14  Goal                88050 non-null  object
 15  ImgCount            89069 non-null  int64
 16  videoCount          89069 non-null  int64
 17  youtubeCount        89069 non-null  int64
 18  Backer              88027 non-null  object
 19  StartDate           87130 non-null  object
 20  EndDate             87130 non-null  object
 21  Days                87130 non-null  object
 22  Featured            566 non-null    object
 23  Story               88049 non-null  object
 24  CreatorLocation     87519 non-null  object
 25  Verified            89016 non-null  object
 26  LastLogin           88918 non-null  object
 27  CreatorURL          89016 non-null  object
 28  Connect             89016 non-null  object
 29  Text                89016 non-null  object
 30  Biography           85894 non-null  object
 31  backed              85894 non-null  object
 32  joined              85894 non-null  object
 33  create              85591 non-null  object
 34  webList             64337 non-null  object
 35  ActualEndDate       1158 non-null   object
 36  Category            89069 non-null  object
 37  WebNum              89069 non-null  int64
 38  IsFeatured          89069 non-null  bool
dtypes: bool(1), float64(2), int64(5), object(31)
memory usage: 26.6+ MB

# Create ['IsConnect']

In [28]:
df['Connect'].unique()

array(['Not connected', 'Joseph Larson', 'David Dorhout', ...,
       'William Stallwood', 'Falco Girgis', 'Nathaniel Downes'],
      dtype=object)

In [29]:
df['Connect'].head(50)

0             Not connected
1             Joseph Larson
2             Not connected
3             David Dorhout
4               142 friends
5             Not connected
6                   Jade Wu
7             Not connected
8             Not connected
9             Not connected
10              513 friends
11            Not connected
12            Not connected
13            Not connected
14               Ryan Stout
15            Not connected
16            Not connected
17    Connected to Facebook
18            Not connected
19            1,627 friends
20            Not connected
21            Not connected
22     JenniErik Kettenburg
23           Bruno Buyssens
24            Not connected
25            Not connected
26            Not connected
27           Justin Johnson
28            Not connected
29            Not connected
30              243 friends
31            Nick Williams
32            Not connected
33               Judah Sher
34            Not connected
35            Not connected
36            Not connected
37            Not connected
38            Not connected
39             Shai Goitein
40            Not connected
41        Jonathan Meringer
42            Not connected
43            Peter Ekstrom
44            Clint LeClair
45            Not connected
46            Not connected
47            Not connected
48            Not connected
49            Not connected
Name: Connect, dtype: object

In [30]:
# Use the 'apply' method with a lambda function to change 'Not connected' to 0 and others to 1
df['IsConnect'] = df['Connect'].apply(lambda x: 0 if x == 'Not connected' else 1)
df['IsConnect']=df['IsConnect'].astype(bool)
df['IsConnect'].head(50)

0     False
1      True
2     False
3      True
4      True
5     False
6      True
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14     True
15    False
16    False
17     True
18    False
19     True
20    False
21    False
22     True
23     True
24    False
25    False
26    False
27     True
28    False
29    False
30     True
31     True
32    False
33     True
34    False
35    False
36    False
37    False
38    False
39     True
40    False
41     True
42    False
43     True
44     True
45    False
46    False
47    False
48    False
49    False
Name: IsConnect, dtype: bool

# Create ['TotalCreated', 'TotalBacked']

In [31]:
df['Text'].head(50)

0                      17 created
1     8 created\n\n·\n\n25 backed
2        2 created\n\n·\n2 backed
3       2 created\n\n·\n11 backed
4     First created\n·\n19 backed
5                        0 backed
6           1created\n·\n0 backed
7       3 created\n\n·\n18 backed
8      2 created\n\n·\n\n9 backed
9        6 created\n\n·\n3 backed
10      2 created\n\n·\n11 backed
11       2 created\n\n·\n2 backed
12      3 created\n\n·\n10 backed
13      5 created\n\n·\n12 backed
14       3 created\n\n·\n3 backed
15          1created\n·\n4 backed
16                       0 backed
17                       0 backed
18      3 created\n\n·\n13 backed
19      3 created\n\n·\n55 backed
20          1created\n·\n8 backed
21      2 created\n\n·\n15 backed
22      6 created\n\n·\n29 backed
23          1created\n·\n3 backed
24                       0 backed
25          1created\n·\n1 backed
26          1created\n·\n1 backed
27         1created\n·\n49 backed
28          1created\n·\n8 backed
29          1created\n·\n4 backed
30          1created\n·\n4 backed
31         1created\n·\n21 backed
32        1created\n·\n\n3 backed
33          1created\n·\n9 backed
34          1created\n·\n1 backed
35          1created\n·\n6 backed
36                       0 backed
37         1created\n·\n14 backed
38          1created\n·\n3 backed
39      5 created\n\n·\n16 backed
40          1created\n·\n1 backed
41          1created\n·\n3 backed
42          1created\n·\n1 backed
43          1created\n·\n0 backed
44         1created\n·\n20 backed
45                      3 created
46                      3 created
47                       0 backed
48                      3 created
49                      2 created
Name: Text, dtype: object

In [32]:
# Define a function to check if the text contains only "Y backed" without "X created"
def is_only_backed(text):
    if pd.isna(text):
        return False  # Ignore NaN values
    # Check if the text matches the pattern of only "Y backed" without "X created"
    return re.match(r'^\d+ backed$', str(text).strip()) is not None

# Apply this function to the dataset to identify entries with only "Y backed"

# Filter the DataFrame to get only those entries
only_backed_projects = df[df['Text'].apply(is_only_backed)]
only_backed_projects.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22611 entries, 5 to 37953
Data columns (total 40 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ProjectID           22611 non-null  int64
 1   Subcategories       22611 non-null  object
 2   URL                 22611 non-null  object
 3   State               22611 non-null  object
 4   ProjectName         22611 non-null  object
 5   ProjectDescription  22608 non-null  object
 6   CreatorName         22611 non-null  object
 7   LastUpdate          22431 non-null  object
 8   RemaingingDays      180 non-null    object
 9   UpdateCount         22611 non-null  float64
 10  CommentCount        22611 non-null  object
 11  ProWeLove           22611 non-null  float64
 12  ProjectLocation     22611 non-null  object
 13  Pledged             22610 non-null  object
 14  Goal                22611 non-null  object
 15  ImgCount            22611 non-null  int64
 16  videoCount          22611 non-null  int64
 17  youtubeCount        22611 non-null  int64
 18  Backer              22610 non-null  object
 19  StartDate           22431 non-null  object
 20  EndDate             22431 non-null  object
 21  Days                22431 non-null  object
 22  Featured            26 non-null     object
 23  Story               22611 non-null  object
 24  CreatorLocation     22591 non-null  object
 25  Verified            22611 non-null  object
 26  LastLogin           22611 non-null  object
 27  CreatorURL          22611 non-null  object
 28  Connect             22611 non-null  object
 29  Text                22611 non-null  object
 30  Biography           21948 non-null  object
 31  backed              21948 non-null  object
 32  joined              21948 non-null  object
 33  create              21948 non-null  object
 34  webList             14781 non-null  object
 35  ActualEndDate       180 non-null    object
 36  Category            22611 non-null  object
 37  WebNum              22611 non-null  int64
 38  IsFeatured          22611 non-null  bool
 39  IsConnect           22611 non-null  bool
dtypes: bool(2), float64(2), int64(5), object(31)
memory usage: 6.8+ MB

In [33]:
#only_backed_projects.to_excel('only_backed_projects.xlsx', index=False)

In [34]:
# Define the function to check if the text contains only "X created" without "Y backed"
def is_only_created(text):
    if pd.isna(text):
        return False  # Ignore NaN values
    # Check if the text matches the pattern of only "X created" without "Y backed"
    return re.match(r'^(\d+|First) created$', str(text).strip()) is not None

# Apply this function to the dataset to identify entries with only "X created"

# Filter the DataFrame to get only those entries
only_created_projects = df[df['Text'].apply(is_only_created)]
only_created_projects.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7520 entries, 0 to 37951
Data columns (total 40 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ProjectID           7520 non-null   int64
 1   Subcategories       7520 non-null   object
 2   URL                 7520 non-null   object
 3   State               7520 non-null   object
 4   ProjectName         7520 non-null   object
 5   ProjectDescription  7519 non-null   object
 6   CreatorName         7520 non-null   object
 7   LastUpdate          7382 non-null   object
 8   RemaingingDays      138 non-null    object
 9   UpdateCount         7520 non-null   float64
 10  CommentCount        7520 non-null   object
 11  ProWeLove           7520 non-null   float64
 12  ProjectLocation     7520 non-null   object
 13  Pledged             7519 non-null   object
 14  Goal                7520 non-null   object
 15  ImgCount            7520 non-null   int64
 16  videoCount          7520 non-null   int64
 17  youtubeCount        7520 non-null   int64
 18  Backer              7519 non-null   object
 19  StartDate           7382 non-null   object
 20  EndDate             7382 non-null   object
 21  Days                7382 non-null   object
 22  Featured            12 non-null     object
 23  Story               7519 non-null   object
 24  CreatorLocation     7511 non-null   object
 25  Verified            7520 non-null   object
 26  LastLogin           7520 non-null   object
 27  CreatorURL          7520 non-null   object
 28  Connect             7520 non-null   object
 29  Text                7520 non-null   object
 30  Biography           7303 non-null   object
 31  backed              7303 non-null   object
 32  joined              7303 non-null   object
 33  create              7303 non-null   object
 34  webList             5522 non-null   object
 35  ActualEndDate       138 non-null    object
 36  Category            7520 non-null   object
 37  WebNum              7520 non-null   int64
 38  IsFeatured          7520 non-null   bool
 39  IsConnect           7520 non-null   bool
dtypes: bool(2), float64(2), int64(5), object(31)
memory usage: 2.3+ MB

In [35]:
# Export the filtered DataFrame to an Excel file
#econly_created_projects.to_excel('only_created_projects.xlsx', index=False)

In [36]:
def extract_total_created_backed(text):
    # Check for NaN and preserve it if present
    if pd.isna(text):
        return pd.NA, pd.NA  # Return pandas' NA for missing values

    # Initialize with explicit values (removed since we now handle NaN separately)
    total_created, total_backed = 1, 0

    # Compile regular expression patterns
    created_pattern = re.compile(r'(\d+|First) created')
    backed_pattern = re.compile(r'(\d+) backed')

    # Search for patterns in the text
    created_match = created_pattern.search(str(text))
    backed_match = backed_pattern.search(str(text))

    # Extract numbers if patterns are found, handle 'First' as a special case
    if created_match:
        created_text = created_match.group(1)
        total_created = 1 if created_text == 'First' else int(created_text)
    if backed_match:
        total_backed = int(backed_match.group(1))

    return total_created, total_backed
df['TotalCreated'], df['TotalBacked'] = zip(*df['Text'].apply(extract_total_created_backed))

# Display the resulting DataFrame to verify the new columns
print(df[['TotalCreated', 'TotalBacked']])

      TotalCreated TotalBacked
0               17           0
1                8          25
2                2           2
3                2          11
4                1          19
...            ...         ...
89088            1           0
89089           16           1
89090            1           0
89091            3           0
89092            6          24

[89069 rows x 2 columns]

# Convert ['Verified']

In [37]:
df['Verified'].unique()

array(['Jeffrey Wolfe', 'Joseph Larson', 'Yee Him Hsu', ...,
       'Robert Linder', 'Sharon Ramsay', 'Joseph Rottet'], dtype=object)

In [38]:
df['Verified'].head(50)

0            Jeffrey Wolfe
1            Joseph Larson
2              Yee Him Hsu
3     (name not available)
4     (name not available)
5           Kevin Springer
6                 QIUYU WU
7         Norston Fontaine
8                  YING LI
9     (name not available)
10          Jeffrey Martin
11    (name not available)
12    (name not available)
13    (name not available)
14              Ryan Stout
15    (name not available)
16           DAVID BATEMAN
17               Taian Qiu
18    (name not available)
19    (name not available)
20             Jason  Gouw
21    (name not available)
22    (name not available)
23    (name not available)
24          Mihai Iordache
25      Christopher Olenik
26            Martin Angst
27           Joel  Johnson
28            Zaib Iqtidar
29    (name not available)
30    (name not available)
31    (name not available)
32     Ahmet Yasir Karakus
33    (name not available)
34    (name not available)
35    (name not available)
36            Ryan Chapman
37    (name not available)
38           Helen Greiner
39            Shai Goitein
40    (name not available)
41             Peter Fuchs
42    (name not available)
43    (name not available)
44    (name not available)
45         Nina Seyedabadi
46                  XU LIU
47            XIAOFENG CAI
48               Tim Clark
49           Dong Sheng Xu
Name: Verified, dtype: object

In [39]:
# Identify entries with non-ASCII characters 
non_ascii_entries = df[df['Verified'].apply(lambda x: any(ord(char) > 127 for char in str(x)))] 
# Print these entries print("Entries with non-ASCII characters:") 
non_ascii_entries.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 134 entries, 414 to 84559
Data columns (total 42 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ProjectID           134 non-null    int64
 1   Subcategories       134 non-null    object
 2   URL                 134 non-null    object
 3   State               134 non-null    object
 4   ProjectName         134 non-null    object
 5   ProjectDescription  134 non-null    object
 6   CreatorName         134 non-null    object
 7   LastUpdate          123 non-null    object
 8   RemaingingDays      5 non-null      object
 9   UpdateCount         132 non-null    float64
 10  CommentCount        128 non-null    object
 11  ProWeLove           128 non-null    float64
 12  ProjectLocation     134 non-null    object
 13  Pledged             128 non-null    object
 14  Goal                128 non-null    object
 15  ImgCount            134 non-null    int64
 16  videoCount          134 non-null    int64
 17  youtubeCount        134 non-null    int64
 18  Backer              128 non-null    object
 19  StartDate           123 non-null    object
 20  EndDate             123 non-null    object
 21  Days                123 non-null    object
 22  Featured            0 non-null      object
 23  Story               128 non-null    object
 24  CreatorLocation     134 non-null    object
 25  Verified            134 non-null    object
 26  LastLogin           134 non-null    object
 27  CreatorURL          134 non-null    object
 28  Connect             134 non-null    object
 29  Text                134 non-null    object
 30  Biography           131 non-null    object
 31  backed              131 non-null    object
 32  joined              131 non-null    object
 33  create              130 non-null    object
 34  webList             84 non-null     object
 35  ActualEndDate       7 non-null      object
 36  Category            134 non-null    object
 37  WebNum              134 non-null    int64
 38  IsFeatured          134 non-null    bool
 39  IsConnect           134 non-null    bool
 40  TotalCreated        134 non-null    object
 41  TotalBacked         134 non-null    object
dtypes: bool(2), float64(2), int64(5), object(33)
memory usage: 43.2+ KB

In [40]:
non_ascii_entries[['ProjectID','State','Verified','Pledged','Goal','Backer','CreatorName','joined','StartDate','EndDate']].head(50)

,ProjectID,State,Verified,Pledged,Goal,Backer,CreatorName,joined,StartDate,EndDate
414,415,successful,César Martins,"$ 55,329","$ 50,000",154,Csar Martins,2018-02-09T03:37:03-05:00,2018-\n\n3-13,2018\n-4-12
1587,1588,successful,世成 黄,"$ 56,620","$ 5,000",789,CHENGSHE.design,2023-05-24T05:46:26-04:00,2023-\n\n6-28,2023\n-7-28
2007,2008,successful,Jérémy BRANDT,"€ 5,484","€ 1,000",132,Digital Academy,2021-12-23T15:53:41-05:00,2021-\n\n12-24,2022\n-2-22
2579,2580,failed,Monika Jauniūtė,"$1,186","$ 10,682",9,JWST Mission Crew,2021-12-02T07:37:38-05:00,2021-\n\n12-25,2022\n-1-24
3666,3667,failed,Kászon Pandula,"US$ 12,477","US$ 20,000",162,Sectock Privacy Case,2022-07-27T07:51:21-04:00,2023-\n\n5-24,2023\n-6-23
3953,3954,successful,赵 建峰,"HK$ 431,436","HK$ 30,000",121,GUITAR EXP,2023-06-27T05:51:28-04:00,2023-\n\n8-2,2023\n-9-11
4669,4670,failed,Ömer Özhan,US$ 22,"US$ 7,000",6,GrandAssembly,2023-01-24T15:45:58-05:00,2023-\n\n4-2,2023\n-5-2
5334,5335,failed,James Villaseñor,"US$ 3,946","US$ 89,000",5,Firfly,2021-04-27T18:40:49-04:00,2021-\n\n9-14,2021\n-10-14
5400,5401,successful,Josué Ribeiro Dias Filho,"$ 15,693",$ 250,320,Oceanus Brass,2017-06-01T19:04:07-04:00,2018-\n\n4-11,2018\n-6-10
6027,6028,successful,亚杰 唐,"$ 571,819","$ 100,000","3,397",70mai,2022-09-05T06:44:15-04:00,2022-\n\n10-11,2022\n-11-15
6883,6884,successful,Miguel Ángel Camones,"$ 114,783","$ 20,000","1,181",Micaton Usa Corporation,2017-11-09T09:40:56-05:00,2017-\n\n12-27,2018\n-2-5
8385,8386,successful,浩乾 李,"$ 397,290","$ 5,000","3,632",Oladance,2021-09-14T23:30:10-04:00,2021-\n\n9-28,2021\n-11-28
9374,9375,successful,Dávid Palánki,"$ 63,240","$ 10,000",144,Shrooly,2022-09-07T10:34:58-04:00,2022-\n\n9-24,2022\n-11-14
9634,9635,successful,洋钰 皮,"$ 56,404","$ 5,000",101,TopJuke,2023-04-22T23:31:09-04:00,2023-\n\n5-16,2023\n-6-15
9641,9642,successful,骋 陈,"HK$ 512,140","HK$ 78,373",47,freebeat,2023-03-24T05:37:56-04:00,2023-\n\n6-8,2023\n-8-7
10224,10225,failed,Yamel Barroso Machín,US$ 230,"US$ 15,000",12,Yamel Barroso,2020-08-06T14:14:25-04:00,2021-\n\n1-27,2021\n-2-26
10481,10482,successful,偉江 梁,"HK$ 77,468","HK$ 10,000",205,KAKA,2023-04-18T22:08:26-04:00,2023-\n\n5-11,2023\n-6-20
11014,11015,failed,Damian Domżalski,$1,"$ 72,116",1,Damian Domzalski,2023-06-13T06:29:56-04:00,2023-\n\n6-13,2023\n-7-13
11482,11483,failed,Sandy Rodríguez,US$ 351,"US$ 5,000",5,Sandy Rodrguez Garca,2017-09-28T22:38:19-04:00,2017-\n\n10-6,2017\n-11-5
13237,13238,failed,Anaïs Gracia,US$ 10,"US$ 65,000",1,Anas Hinck,2014-08-31T14:35:28-04:00,2017-\n\n1-18,2017\n-2-17
14223,14224,failed,José Miguel Richart Paulino,$2,"$ 10,651",2,Jos Miguel Richart Paulino,2020-09-30T12:53:28-04:00,2020-\n\n10-5,2020\n-11-4
14385,14386,canceled,Abel Acuña,"US$ 1,220","US$ 5,000",12,"BeeHex, Inc.",2016-01-25T19:59:45-05:00,2016-\n\n3-16,2016\n-4-25
15593,15594,canceled,业城 罗,"¥1,822,508","¥ 1,482,799",13,3E Wisdom,2021-11-26T02:37:35-05:00,2022-\n\n1-11,2022\n-2-10
15842,15843,failed,Shawn O’Brien,US$ 17,"US$ 3,000",3,Shawn O'Brien,2019-09-09T16:19:51-04:00,2020-\n\n1-25,2020\n-3-22
17898,17899,failed,Frédéric Pattyn,$10,"$ 26,659",1,Frdric Pattyn,2013-10-28T10:46:15-04:00,2016-\n\n1-28,2016\n-2-27
18053,18054,failed,Santiago Gómez Linares,$683,"$ 58,092",12,adviceme,2023-06-19T13:17:39-04:00,2023-\n\n7-28,2023\n-9-6
18838,18839,failed,Anna Åsard,$0,"$ 8,945",0,anna sard,NaN,2016-\n\n1-25,2016\n-2-24
18903,18904,failed,Dennis Jiménez,US$ 5,"US$ 30,000",4,YFSE,2018-12-07T20:38:35-05:00,2018-\n\n12-12,2019\n-1-13
18967,18968,failed,Gaëtan SHUAMI,$2,"$ 3,195,510",2,Shuami Gatan,2022-06-01T14:50:27-04:00,2023-\n\n7-31,2023\n-8-30
19856,19857,failed,Camila Ana María Harb Borda,"US$ 11,134","US$ 20,000",40,NEPUS,2021-10-22T15:00:04-04:00,2021-\n\n10-29,2021\n-11-29
19916,19917,canceled,Furkan Biçer,"US$ 53,708","US$ 50,000",188,Clay Engineering,2021-02-10T14:10:36-05:00,2021-\n\n3-31,2021\n-4-30
21140,21141,canceled,Mohamed Chérif Haidara,$1,"$ 5,331",1,Mohamed Chrif Haidara,2021-04-20T10:38:22-04:00,2021-\n\n4-28,2021\n-5-28
21792,21793,canceled,José Miguel Clavijo Ríos,$22,"$ 2,154,092",2,Fenix Rios,NaN,2023-\n\n5-8,2023\n-7-7
27771,27772,failed,Guy Maréchal,"$1,607","$ 21,296",43,Antonio Gaspar,2016-09-16T05:06:45-04:00,2016-\n\n11-2,2016\n-12-17
28491,28492,failed,王 槐,US$ 130,"US$ 3,218",3,Warry wang,2022-10-18T09:06:45-04:00,2022-\n\n12-2,2023\n-1-1
28498,28499,failed,David González,US$ 400,"US$ 50,000",2,Walking Team,2015-06-18T17:55:54-04:00,2015-\n\n12-4,2016\n-1-3
28900,28901,failed,Emmanuel Laffon de Mazières,"US$ 53,897","US$ 100,000",186,Drop Designs Inc.,2011-03-01T20:09:06-05:00,2015-\n\n6-9,2015\n-7-9
30985,30986,failed,NaChé Thompson,"US$ 1,614","US$ 15,000",34,NaCh Thompson,2016-07-16T04:46:05-04:00,2016-\n\n11-3,2016\n-12-18
31964,31965,failed,Dānin Jensen,"US$ 3,621","US$ 20,000",49,Dnin Jensen,2016-01-19T18:26:00-05:00,2016-\n\n8-9,2016\n-9-9
32777,32778,successful,俊 胡,"$ 1,101",$ 200,25,CYKAPU,2021-12-10T01:33:47-05:00,2022-\n\n7-12,2022\n-8-11
33223,33224,canceled,sefa demirtaş,$372,$ 700,12,issedesing.LLC,2020-09-09T16:01:22-04:00,2021-\n\n9-7,2021\n-10-7
34027,34028,canceled,Maria del Carmen Ramírez,"US$ 3,898","US$ 6,000",6,Maria Franco,2022-06-28T19:10:59-04:00,2022-\n\n7-21,2022\n-8-30
34853,34854,failed,Miguel Acosta González,US$ 526,"US$ 2,500",7,Miguel Acosta,2017-02-17T11:28:41-05:00,2018-\n\n8-20,2018\n-10-4
35347,35348,failed,Jaka Skušek,"$1,969","$ 52,810",25,Jure,2021-06-16T18:13:14-04:00,2021-\n\n7-19,2021\n-8-18
36804,36805,live,周 路萍,$496,$ 511,11,deep-seafish office,2022-03-15T23:36:14-04:00,NaN,NaN
37594,37595,failed,Salomée Souag,US$ 7,"US$ 2,500",3,Salome Souag,2020-02-03T23:16:07-05:00,2020-\n\n2-4,2020\n-3-25
38289,38290,successful,赵 建峰,"HK$ 431,436","HK$ 30,000",121,GUITAR EXP,2023-06-27T05:51:28-04:00,2023-\n\n8-2,2023\n-9-11
38465,38466,canceled,José Miguel Clavijo Ríos,$22,"$ 2,139,943",2,Fenix Rios,NaN,2023-\n\n5-8,2023\n-7-7
38678,38679,failed,Gaëtan SHUAMI,$2,"$ 3,178,134",2,Shuami Gatan,2022-06-01T14:50:27-04:00,2023-\n\n7-31,2023\n-8-30
38859,38860,successful,亚杰 唐,"$ 571,819","$ 100,000","3,397",70mai,2022-09-05T06:44:15-04:00,2022-\n\n10-11,2022\n-11-15

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 89069 entries, 0 to 89092
Data columns (total 42 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ProjectID           89069 non-null  int64
 1   Subcategories       89069 non-null  object
 2   URL                 89069 non-null  object
 3   State               89069 non-null  object
 4   ProjectName         89066 non-null  object
 5   ProjectDescription  89002 non-null  object
 6   CreatorName         89056 non-null  object
 7   LastUpdate          87129 non-null  object
 8   RemaingingDays      920 non-null    object
 9   UpdateCount         88831 non-null  float64
 10  CommentCount        88050 non-null  object
 11  ProWeLove           82712 non-null  float64
 12  ProjectLocation     89069 non-null  object
 13  Pledged             88027 non-null  object
 14  Goal                88050 non-null  object
 15  ImgCount            89069 non-null  int64
 16  videoCount          89069 non-null  int64
 17  youtubeCount        89069 non-null  int64
 18  Backer              88027 non-null  object
 19  StartDate           87130 non-null  object
 20  EndDate             87130 non-null  object
 21  Days                87130 non-null  object
 22  Featured            566 non-null    object
 23  Story               88049 non-null  object
 24  CreatorLocation     87519 non-null  object
 25  Verified            89016 non-null  object
 26  LastLogin           88918 non-null  object
 27  CreatorURL          89016 non-null  object
 28  Connect             89016 non-null  object
 29  Text                89016 non-null  object
 30  Biography           85894 non-null  object
 31  backed              85894 non-null  object
 32  joined              85894 non-null  object
 33  create              85591 non-null  object
 34  webList             64337 non-null  object
 35  ActualEndDate       1158 non-null   object
 36  Category            89069 non-null  object
 37  WebNum              89069 non-null  int64
 38  IsFeatured          89069 non-null  bool
 39  IsConnect           89069 non-null  bool
 40  TotalCreated        89016 non-null  object
 41  TotalBacked         89016 non-null  object
dtypes: bool(2), float64(2), int64(5), object(33)
memory usage: 28.0+ MB

In [42]:
df['IsIdentityVerified'] = df['Verified'].apply(lambda x: False if str(x).lower() == 'identity not verified' else True) 
df['IsVerifiedIDAvailable'] = df['Verified'].apply(lambda x: False if str(x).lower() == 'name not available' else True) 
# Adjusted replace operation 
df['Verified'] = df['Verified'].replace( to_replace=[r'(?i)^\(*identity not verified\)*$', r'(?i)^\(*name not available\)*$'], value=np.nan, regex=True )

In [43]:
df['Verified'].head(50)

0           Jeffrey Wolfe
1           Joseph Larson
2             Yee Him Hsu
3                     NaN
4                     NaN
5          Kevin Springer
6                QIUYU WU
7        Norston Fontaine
8                 YING LI
9                     NaN
10         Jeffrey Martin
11                    NaN
12                    NaN
13                    NaN
14             Ryan Stout
15                    NaN
16          DAVID BATEMAN
17              Taian Qiu
18                    NaN
19                    NaN
20            Jason  Gouw
21                    NaN
22                    NaN
23                    NaN
24         Mihai Iordache
25     Christopher Olenik
26           Martin Angst
27          Joel  Johnson
28           Zaib Iqtidar
29                    NaN
30                    NaN
31                    NaN
32    Ahmet Yasir Karakus
33                    NaN
34                    NaN
35                    NaN
36           Ryan Chapman
37                    NaN
38          Helen Greiner
39           Shai Goitein
40                    NaN
41            Peter Fuchs
42                    NaN
43                    NaN
44                    NaN
45        Nina Seyedabadi
46                 XU LIU
47           XIAOFENG CAI
48              Tim Clark
49          Dong Sheng Xu
Name: Verified, dtype: object

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 89069 entries, 0 to 89092
Data columns (total 44 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProjectID              89069 non-null  int64
 1   Subcategories          89069 non-null  object
 2   URL                    89069 non-null  object
 3   State                  89069 non-null  object
 4   ProjectName            89066 non-null  object
 5   ProjectDescription     89002 non-null  object
 6   CreatorName            89056 non-null  object
 7   LastUpdate             87129 non-null  object
 8   RemaingingDays         920 non-null    object
 9   UpdateCount            88831 non-null  float64
 10  CommentCount           88050 non-null  object
 11  ProWeLove              82712 non-null  float64
 12  ProjectLocation        89069 non-null  object
 13  Pledged                88027 non-null  object
 14  Goal                   88050 non-null  object
 15  ImgCount               89069 non-null  int64
 16  videoCount             89069 non-null  int64
 17  youtubeCount           89069 non-null  int64
 18  Backer                 88027 non-null  object
 19  StartDate              87130 non-null  object
 20  EndDate                87130 non-null  object
 21  Days                   87130 non-null  object
 22  Featured               566 non-null    object
 23  Story                  88049 non-null  object
 24  CreatorLocation        87519 non-null  object
 25  Verified               71226 non-null  object
 26  LastLogin              88918 non-null  object
 27  CreatorURL             89016 non-null  object
 28  Connect                89016 non-null  object
 29  Text                   89016 non-null  object
 30  Biography              85894 non-null  object
 31  backed                 85894 non-null  object
 32  joined                 85894 non-null  object
 33  create                 85591 non-null  object
 34  webList                64337 non-null  object
 35  ActualEndDate          1158 non-null   object
 36  Category               89069 non-null  object
 37  WebNum                 89069 non-null  int64
 38  IsFeatured             89069 non-null  bool
 39  IsConnect              89069 non-null  bool
 40  TotalCreated           89016 non-null  object
 41  TotalBacked            89016 non-null  object
 42  IsIdentityVerified     89069 non-null  bool
 43  IsVerifiedIDAvailable  89069 non-null  bool
dtypes: bool(4), float64(2), int64(5), object(33)
memory usage: 28.2+ MB

# Standardizing formats

# Extract ['Pledged','Goal']

In [45]:
df['Pledged'].unique()

array(['US$ 19,121', '$ 3,343', '$ 7,850,866', ..., 'US$ 4,215',
       'US$ 6,886', '$335'], dtype=object)

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 89069 entries, 0 to 89092
Data columns (total 44 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProjectID              89069 non-null  int64
 1   Subcategories          89069 non-null  object
 2   URL                    89069 non-null  object
 3   State                  89069 non-null  object
 4   ProjectName            89066 non-null  object
 5   ProjectDescription     89002 non-null  object
 6   CreatorName            89056 non-null  object
 7   LastUpdate             87129 non-null  object
 8   RemaingingDays         920 non-null    object
 9   UpdateCount            88831 non-null  float64
 10  CommentCount           88050 non-null  object
 11  ProWeLove              82712 non-null  float64
 12  ProjectLocation        89069 non-null  object
 13  Pledged                88027 non-null  object
 14  Goal                   88050 non-null  object
 15  ImgCount               89069 non-null  int64
 16  videoCount             89069 non-null  int64
 17  youtubeCount           89069 non-null  int64
 18  Backer                 88027 non-null  object
 19  StartDate              87130 non-null  object
 20  EndDate                87130 non-null  object
 21  Days                   87130 non-null  object
 22  Featured               566 non-null    object
 23  Story                  88049 non-null  object
 24  CreatorLocation        87519 non-null  object
 25  Verified               71226 non-null  object
 26  LastLogin              88918 non-null  object
 27  CreatorURL             89016 non-null  object
 28  Connect                89016 non-null  object
 29  Text                   89016 non-null  object
 30  Biography              85894 non-null  object
 31  backed                 85894 non-null  object
 32  joined                 85894 non-null  object
 33  create                 85591 non-null  object
 34  webList                64337 non-null  object
 35  ActualEndDate          1158 non-null   object
 36  Category               89069 non-null  object
 37  WebNum                 89069 non-null  int64
 38  IsFeatured             89069 non-null  bool
 39  IsConnect              89069 non-null  bool
 40  TotalCreated           89016 non-null  object
 41  TotalBacked            89016 non-null  object
 42  IsIdentityVerified     89069 non-null  bool
 43  IsVerifiedIDAvailable  89069 non-null  bool
dtypes: bool(4), float64(2), int64(5), object(33)
memory usage: 28.2+ MB

In [47]:
df['Pledged'].tail(50)

89043    US$ 2,678
89044    US$ 7,266
89045    US$ 4,215
89046    US$ 5,654
89047       US$ 20
89048      US$ 199
89049       US$ 40
89050        US$ 5
89051        US$ 1
89052        US$ 2
89053        US$ 0
89054      US$ 660
89055        US$ 1
89056        US$ 1
89057        US$ 0
89058       US$ 36
89059        US$ 0
89060        US$ 0
89061       US$ 81
89062       US$ 20
89063      US$ 120
89064        US$ 0
89065        US$ 0
89066      US$ 100
89067    US$ 6,886
89068      US$ 150
89069      US$ 363
89070        US$ 4
89071        US$ 2
89072        US$ 1
89073       US$ 15
89074        US$ 5
89075        US$ 1
89076        US$ 0
89077      US$ 415
89078       US$ 51
89079      US$ 720
89080       US$ 51
89081           $0
89082           $0
89083          $12
89084         $126
89085           $0
89086         $335
89087         $120
89088           $0
89089           $1
89090         $195
89091           $0
89092      $ 7,618
Name: Pledged, dtype: object

In [48]:
df['Goal'].head(50)

0      US$  1,000
1           $ 200
2       $ 100,000
3           $ 500
4        $ 20,000
5      US$  3,000
6       $ 100,000
7       $ 100,000
8        $ 50,000
9        $ 75,000
10      $ 150,000
11      $ 200,000
12       $ 11,000
13       $ 14,000
14      $ 100,000
15       $ 50,000
16     US$  1,000
17     US$  1,000
18       $ 50,000
19       $ 10,000
20       $ 50,000
21       $ 85,000
22        $ 5,000
23       $ 50,000
24    US$  20,000
25       $ 90,000
26       $ 50,000
27       $ 50,000
28      $ 349,750
29      $ 100,000
30       $ 80,000
31       $ 20,000
32       $ 35,000
33       $ 20,000
34        $ 7,000
35       $ 50,000
36     US$  8,500
37       $ 10,000
38      $ 250,000
39      $ 100,000
40        $ 5,000
41      $ 200,000
42       $ 20,000
43        $ 2,000
44          $ 200
45     US$  5,000
46     US$  5,000
47     US$  5,000
48    US$  50,000
49    US$  10,000
Name: Goal, dtype: object

In [49]:
# Function to check if the entry is a string that does not contain standard currency format 
def is_non_currency_string(value): 
    if pd.isna(value):
        return False
    if isinstance(value, str): 
        # Check if the string is a currency format (starts with $ or contains 'US$') 
        # If not, return True (it's a non-currency string) 
        return not re.match(r'^(US\$|\$)', value.strip()) 
    return False # Non-strings are not our concern here 
# Apply the function to each column individually 
df['NonCurrency_Pledged'] = df['Pledged'].apply(is_non_currency_string) 
df['NonCurrency_Goal'] = df['Goal'].apply(is_non_currency_string) # Now, combine these results into a new DataFrame 
# We filter df where either 'Pledged' or 'Goal' columns have non-currency strings 
non_currency_strings = df[(df['NonCurrency_Pledged']) | (df['NonCurrency_Goal'])] 
# First, list all columns for identifying duplicates 
non_currency_strings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1757 entries, 257 to 88810
Data columns (total 46 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProjectID              1757 non-null   int64
 1   Subcategories          1757 non-null   object
 2   URL                    1757 non-null   object
 3   State                  1757 non-null   object
 4   ProjectName            1757 non-null   object
 5   ProjectDescription     1757 non-null   object
 6   CreatorName            1754 non-null   object
 7   LastUpdate             1753 non-null   object
 8   RemaingingDays         4 non-null      object
 9   UpdateCount            1757 non-null   float64
 10  CommentCount           1757 non-null   object
 11  ProWeLove              1722 non-null   float64
 12  ProjectLocation        1757 non-null   object
 13  Pledged                1752 non-null   object
 14  Goal                   1757 non-null   object
 15  ImgCount               1757 non-null   int64
 16  videoCount             1757 non-null   int64
 17  youtubeCount           1757 non-null   int64
 18  Backer                 1752 non-null   object
 19  StartDate              1753 non-null   object
 20  EndDate                1753 non-null   object
 21  Days                   1753 non-null   object
 22  Featured               3 non-null      object
 23  Story                  1757 non-null   object
 24  CreatorLocation        1721 non-null   object
 25  Verified               1425 non-null   object
 26  LastLogin              1754 non-null   object
 27  CreatorURL             1756 non-null   object
 28  Connect                1756 non-null   object
 29  Text                   1756 non-null   object
 30  Biography              1686 non-null   object
 31  backed                 1686 non-null   object
 32  joined                 1686 non-null   object
 33  create                 1686 non-null   object
 34  webList                1092 non-null   object
 35  ActualEndDate          4 non-null      object
 36  Category               1757 non-null   object
 37  WebNum                 1757 non-null   int64
 38  IsFeatured             1757 non-null   bool
 39  IsConnect              1757 non-null   bool
 40  TotalCreated           1756 non-null   object
 41  TotalBacked            1756 non-null   object
 42  IsIdentityVerified     1757 non-null   bool
 43  IsVerifiedIDAvailable  1757 non-null   bool
 44  NonCurrency_Pledged    1757 non-null   bool
 45  NonCurrency_Goal       1757 non-null   bool
dtypes: bool(6), float64(2), int64(5), object(33)
memory usage: 573.1+ KB

In [50]:
non_currency_strings['Goal'].tail(50)

79294        CA$  600
80372           € 500
80492           € 500
80496           € 500
80771         € 3,700
80783         € 9,300
80898         € 1,000
81535      CA$  4,000
81603         € 4,700
81627         € 2,699
81741     CA$  10,000
81923         £ 3,500
82482         € 3,700
82666         € 1,000
82698         € 1,000
82812         € 6,000
83414           € 250
83652           € 500
83663        CA$  200
83670           £ 200
83677           € 100
83684           € 100
83708         CA$  17
83715        AU$  200
83772      AU$  1,200
84174      AU$  1,500
84247        CA$  500
84487      CA$  8,000
84559         € 5,000
84888         £ 9,000
85203        £ 30,000
85550           € 100
85760        € 13,000
86310           € 250
86345        AU$  150
86438     NZ$  14,793
86503     CA$  15,000
86525     HK$  80,000
86558        £ 30,000
86966        MX$  510
87256     CA$  25,000
87462        MX$  600
87651      CA$  6,320
87654         £ 2,000
87725     CA$  25,000
87887        MX$  510
87888        MX$  510
87890        MX$  530
88391        MX$  510
88810    HK$  390,000
Name: Goal, dtype: object

In [51]:
# Real-world exchange rates based on provided values 
#https://www.kickstarter.com/projects/jaydigital/covert-union-vehicle-ghost?ref=discovery_category  2024.03.18
  # €91,865=US$ 100,000
                  # HK$ 781,973=US$ 100,000
                  # $ 135,394=US$ 100,000
                  #¥14,909,284=US$ 100,000
                  #£78,572=US$ 100,000
                  #AU$ 152,374=US$ 100,000
                  #S$ 133,832=US$ 100,000
                  #MX$ 1,671,705=US$ 100,000
                  #NZ$ 164,103=US$ 100,000
                  #CHF 88,329=US$ 100,000
                  #DKK 685,059=US$ 100,000
                  #NOK 1,061=US$ 100,000
                  #PLN 395,399=US$ 100,000
                  #SEK 1,036,369=US$ 100,000

In [52]:
exchange_rates = {
    '€': 100000 / 91865,   # Euro
    'HK$': 100000 / 781973,  # Hong Kong Dollar
    'CA$': 100000 / 135394,  # Canadian Dollar
    '¥': 100000 / 14909284,  # Japanese Yen
    '£': 100000 / 78572,   # British Pound
    'AU$': 100000 / 152374,  # Australian Dollar
    'S$': 100000 / 133832,  # Singapore Dollar
    'MX$': 100000 / 1671705,  # Mexican Peso
    'NZ$': 100000 / 164103,  # New Zealand Dollar
    'CHF': 100000 / 88329,   # Swiss Franc
    'DKK': 100000 / 685059,  # Danish Krone
    'NOK': 100000 / 1061,  # Norwegian Krone
    'PLN': 100000 / 395399,  # Polish Zloty, adjusted based on your example
    'SEK': 100000 / 1036369,  # Swedish Krona, adjusted based on your example
}


def convert_to_usd(value):
    if pd.isna(value) or isinstance(value, (float, int)):
        return value  # Return as-is if value is NaN or already a number
    
    # Adjust regex to capture both '€ 50,000' and '50 000 $' formats
    pattern = re.compile(r'([A-Za-z¥€£$]+)?\s*([\d,\. ]+)([A-Za-z¥€£$]+)?')
    
    cleaned_value = value.replace(',', '').replace(' ', '').strip()  # Remove commas and spaces for conversion
    
    match = pattern.match(cleaned_value)
    if match:
        currency_prefix, amount_str, currency_suffix = match.groups()
        currency = currency_prefix if currency_prefix else (currency_suffix if currency_suffix else '$')  # Default to $
        try:
            amount = float(amount_str)
            return round(amount * exchange_rates.get(currency, 1), 2)
        except ValueError:
            print(f"Invalid amount: {amount_str}")
    else:
        print(f"Unmatched format: {value}")
    return None

In [53]:
non_currency_strings['Pledged_USD'] = non_currency_strings['Pledged'].apply(convert_to_usd) 
non_currency_strings['Goal_USD'] = non_currency_strings['Goal'].apply(convert_to_usd) 
#non_currency_strings.to_excel('non_currency_strings.xlsx', index=False)

C:\Users\Wu\AppData\Local\Temp\ipykernel_11652\987682815.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_currency_strings['Pledged_USD'] = non_currency_strings['Pledged'].apply(convert_to_usd)
C:\Users\Wu\AppData\Local\Temp\ipykernel_11652\987682815.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_currency_strings['Goal_USD'] = non_currency_strings['Goal'].apply(convert_to_usd)

In [54]:
non_currency_strings['Goal_USD'].tail(50)

79294      443.15
80372      544.28
80492      544.28
80496      544.28
80771     4027.65
80783    10123.55
80898     1088.55
81535     2954.34
81603     5116.20
81627     2938.01
81741     7385.85
81923     4454.51
82482     4027.65
82666     1088.55
82698     1088.55
82812     6531.32
83414      272.14
83652      544.28
83663      147.72
83670      254.54
83677      108.86
83684      108.86
83708       12.56
83715      131.26
83772      787.54
84174      984.42
84247      369.29
84487     5908.68
84559     5442.77
84888    11454.46
85203    38181.54
85550      108.86
85760    14151.20
86310      272.14
86345       98.44
86438     9014.46
86503    11078.78
86525    10230.53
86558    38181.54
86966       30.51
87256    18464.63
87462       35.89
87651     4667.86
87654     2545.44
87725    18464.63
87887       30.51
87888       30.51
87890       31.70
88391       30.51
88810    49873.84
Name: Goal_USD, dtype: float64

In [55]:
non_currency_strings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1757 entries, 257 to 88810
Data columns (total 48 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProjectID              1757 non-null   int64
 1   Subcategories          1757 non-null   object
 2   URL                    1757 non-null   object
 3   State                  1757 non-null   object
 4   ProjectName            1757 non-null   object
 5   ProjectDescription     1757 non-null   object
 6   CreatorName            1754 non-null   object
 7   LastUpdate             1753 non-null   object
 8   RemaingingDays         4 non-null      object
 9   UpdateCount            1757 non-null   float64
 10  CommentCount           1757 non-null   object
 11  ProWeLove              1722 non-null   float64
 12  ProjectLocation        1757 non-null   object
 13  Pledged                1752 non-null   object
 14  Goal                   1757 non-null   object
 15  ImgCount               1757 non-null   int64
 16  videoCount             1757 non-null   int64
 17  youtubeCount           1757 non-null   int64
 18  Backer                 1752 non-null   object
 19  StartDate              1753 non-null   object
 20  EndDate                1753 non-null   object
 21  Days                   1753 non-null   object
 22  Featured               3 non-null      object
 23  Story                  1757 non-null   object
 24  CreatorLocation        1721 non-null   object
 25  Verified               1425 non-null   object
 26  LastLogin              1754 non-null   object
 27  CreatorURL             1756 non-null   object
 28  Connect                1756 non-null   object
 29  Text                   1756 non-null   object
 30  Biography              1686 non-null   object
 31  backed                 1686 non-null   object
 32  joined                 1686 non-null   object
 33  create                 1686 non-null   object
 34  webList                1092 non-null   object
 35  ActualEndDate          4 non-null      object
 36  Category               1757 non-null   object
 37  WebNum                 1757 non-null   int64
 38  IsFeatured             1757 non-null   bool
 39  IsConnect              1757 non-null   bool
 40  TotalCreated           1756 non-null   object
 41  TotalBacked            1756 non-null   object
 42  IsIdentityVerified     1757 non-null   bool
 43  IsVerifiedIDAvailable  1757 non-null   bool
 44  NonCurrency_Pledged    1757 non-null   bool
 45  NonCurrency_Goal       1757 non-null   bool
 46  Pledged_USD            1752 non-null   float64
 47  Goal_USD               1757 non-null   float64
dtypes: bool(6), float64(4), int64(5), object(33)
memory usage: 600.5+ KB

In [56]:
df['Pledged'].tail(50)

89043    US$ 2,678
89044    US$ 7,266
89045    US$ 4,215
89046    US$ 5,654
89047       US$ 20
89048      US$ 199
89049       US$ 40
89050        US$ 5
89051        US$ 1
89052        US$ 2
89053        US$ 0
89054      US$ 660
89055        US$ 1
89056        US$ 1
89057        US$ 0
89058       US$ 36
89059        US$ 0
89060        US$ 0
89061       US$ 81
89062       US$ 20
89063      US$ 120
89064        US$ 0
89065        US$ 0
89066      US$ 100
89067    US$ 6,886
89068      US$ 150
89069      US$ 363
89070        US$ 4
89071        US$ 2
89072        US$ 1
89073       US$ 15
89074        US$ 5
89075        US$ 1
89076        US$ 0
89077      US$ 415
89078       US$ 51
89079      US$ 720
89080       US$ 51
89081           $0
89082           $0
89083          $12
89084         $126
89085           $0
89086         $335
89087         $120
89088           $0
89089           $1
89090         $195
89091           $0
89092      $ 7,618
Name: Pledged, dtype: object

In [57]:
# Function to check currency and extract amount 
def extract_usd_amount(value): 
    if isinstance(value,str):# Match US$ or $ followed by any number (with commas) 
        match = re.match(r'(US\$|\$)\s*(\d[\d,]*)', value)
        if match: # Extracted currency and amount 
            currency, amount = match.groups() 
            amount = float(amount.replace(',', '')) 
            # Convert amount to a float after removing commas 
            if currency == '$' or currency == 'US$':  
                return amount # Check if currency is USD 
    return pd.NA # Return NaN if not USD or no match 
# Apply the function to the 'Pledges' column 
df['Pledged'] = df['Pledged'].apply(extract_usd_amount) # Filter out rows where 'USD_Pledges' is NaN (i.e., not in USD) 
df['Goal']=df['Goal'].apply(extract_usd_amount)

In [58]:
df['Pledged'].tail(50)

89043    2678.0
89044    7266.0
89045    4215.0
89046    5654.0
89047      20.0
89048     199.0
89049      40.0
89050       5.0
89051       1.0
89052       2.0
89053       0.0
89054     660.0
89055       1.0
89056       1.0
89057       0.0
89058      36.0
89059       0.0
89060       0.0
89061      81.0
89062      20.0
89063     120.0
89064       0.0
89065       0.0
89066     100.0
89067    6886.0
89068     150.0
89069     363.0
89070       4.0
89071       2.0
89072       1.0
89073      15.0
89074       5.0
89075       1.0
89076       0.0
89077     415.0
89078      51.0
89079     720.0
89080      51.0
89081       0.0
89082       0.0
89083      12.0
89084     126.0
89085       0.0
89086     335.0
89087     120.0
89088       0.0
89089       1.0
89090     195.0
89091       0.0
89092    7618.0
Name: Pledged, dtype: object

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 89069 entries, 0 to 89092
Data columns (total 46 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProjectID              89069 non-null  int64
 1   Subcategories          89069 non-null  object
 2   URL                    89069 non-null  object
 3   State                  89069 non-null  object
 4   ProjectName            89066 non-null  object
 5   ProjectDescription     89002 non-null  object
 6   CreatorName            89056 non-null  object
 7   LastUpdate             87129 non-null  object
 8   RemaingingDays         920 non-null    object
 9   UpdateCount            88831 non-null  float64
 10  CommentCount           88050 non-null  object
 11  ProWeLove              82712 non-null  float64
 12  ProjectLocation        89069 non-null  object
 13  Pledged                86275 non-null  object
 14  Goal                   86293 non-null  object
 15  ImgCount               89069 non-null  int64
 16  videoCount             89069 non-null  int64
 17  youtubeCount           89069 non-null  int64
 18  Backer                 88027 non-null  object
 19  StartDate              87130 non-null  object
 20  EndDate                87130 non-null  object
 21  Days                   87130 non-null  object
 22  Featured               566 non-null    object
 23  Story                  88049 non-null  object
 24  CreatorLocation        87519 non-null  object
 25  Verified               71226 non-null  object
 26  LastLogin              88918 non-null  object
 27  CreatorURL             89016 non-null  object
 28  Connect                89016 non-null  object
 29  Text                   89016 non-null  object
 30  Biography              85894 non-null  object
 31  backed                 85894 non-null  object
 32  joined                 85894 non-null  object
 33  create                 85591 non-null  object
 34  webList                64337 non-null  object
 35  ActualEndDate          1158 non-null   object
 36  Category               89069 non-null  object
 37  WebNum                 89069 non-null  int64
 38  IsFeatured             89069 non-null  bool
 39  IsConnect              89069 non-null  bool
 40  TotalCreated           89016 non-null  object
 41  TotalBacked            89016 non-null  object
 42  IsIdentityVerified     89069 non-null  bool
 43  IsVerifiedIDAvailable  89069 non-null  bool
 44  NonCurrency_Pledged    89069 non-null  bool
 45  NonCurrency_Goal       89069 non-null  bool
dtypes: bool(6), float64(2), int64(5), object(33)
memory usage: 28.4+ MB

# Convert other columns

In [60]:
df['LastLogin']

0        Last login Sep 9 2023
1                  Sep 14 2023
2                  Aug 29 2023
3                   Mar 7 2021
4                  May 21 2022
                 ...
89088             July 24 2019
89089            March 17 2021
89090         December 14 2014
89091            March 29 2016
89092          February 5 2023
Name: LastLogin, Length: 89069, dtype: object

In [61]:
df['joined']

0        2020-05-16T02:37:41-04:00
1        2011-04-12T09:03:40-04:00
2        2017-02-13T04:01:08-05:00
3        2012-09-18T20:58:34-04:00
4        2012-11-15T05:55:26-05:00
                   ...
89088    2015-04-14T05:57:29-04:00
89089    2012-06-06T09:25:29-04:00
89090    2014-03-08T05:47:18-05:00
89091    2014-07-01T20:08:26-04:00
89092    2010-06-23T01:31:59-04:00
Name: joined, Length: 89069, dtype: object

In [62]:
df['joined'].head(50)

0     2020-05-16T02:37:41-04:00
1     2011-04-12T09:03:40-04:00
2     2017-02-13T04:01:08-05:00
3     2012-09-18T20:58:34-04:00
4     2012-11-15T05:55:26-05:00
5     2023-06-23T17:29:54-04:00
6     2021-04-05T06:02:50-04:00
7     2014-08-23T22:56:32-04:00
8     2021-01-19T01:53:22-05:00
9     2013-11-30T06:04:19-05:00
10    2011-09-28T10:33:14-04:00
11    2013-09-01T11:24:31-04:00
12    2011-11-03T11:15:06-04:00
13    2012-07-30T03:23:00-04:00
14    2012-03-28T17:20:25-04:00
15    2014-07-02T13:09:58-04:00
16    2023-08-28T06:21:48-04:00
17    2022-09-14T08:25:00-04:00
18    2013-02-13T18:43:02-05:00
19    2011-02-08T16:15:55-05:00
20    2014-07-07T18:47:57-04:00
21    2013-04-23T11:16:08-04:00
22    2011-08-24T17:03:48-04:00
23    2013-06-10T07:05:14-04:00
24    2020-02-22T17:03:38-05:00
25    2017-09-20T17:39:49-04:00
26    2019-06-20T16:10:27-04:00
27    2013-08-31T23:37:43-04:00
28    2015-03-27T08:33:05-04:00
29    2014-06-16T15:41:13-04:00
30    2011-06-24T02:35:32-04:00
31    2013-03-24T15:11:46-04:00
32    2022-03-31T07:35:09-04:00
33    2011-03-30T12:43:21-04:00
34    2010-08-21T22:33:03-04:00
35    2014-06-10T16:42:54-04:00
36    2023-06-13T09:06:14-04:00
37    2012-09-27T22:53:15-04:00
38    2015-03-18T14:57:58-04:00
39    2010-11-23T15:31:45-05:00
40    2014-05-18T11:27:00-04:00
41    2015-03-22T08:26:00-04:00
42    2014-01-27T19:18:14-05:00
43    2012-02-29T13:17:54-05:00
44    2011-08-31T02:36:17-04:00
45    2015-05-12T18:42:05-04:00
46    2022-11-11T02:08:25-05:00
47    2023-03-20T04:38:48-04:00
48    2014-07-28T23:49:19-04:00
49    2023-06-02T00:37:04-04:00
Name: joined, dtype: object

In [63]:
df['CommentCount'].unique()

array(['23', '4', '5,611', ..., '2,598', '24,943', '36,884'], dtype=object)

In [64]:
df['backed'].unique()

array(['Backed 7 projects', 'Backed 25 projects', 'Backed 2 projects',
       'Backed 11 projects', 'Backed 19 projects', '6', '0', '18', '9',
       '3', '11', '2', '10', '12', '4', '13', '55', '8', '15', '29', '1',
       '49', '21', '14', '16', '20', '7', '22', '19', '5', '25', '189',
       '28', '33', nan, '44', '113', '128', '17', '32', '53', '76', '57',
       '58', '26', '27', '666', '108', '66', '38', '69', '92', '34', '51',
       '71', '40', '30', '50', '37', '62', '97', '54', '78', '52', '88',
       '42', '166', '64', '89', '117', '35', '196', '163', '24', '60',
       '56', '41', '162', '75', '31', '73', '23', '79', '48', '133',
       '794', '46', '67', '85', '45', '39', '36', '103', '98', '100',
       '124', '191', '61', '293', '466', '105', '101', '63', '59', '131',
       '119', '137', '70', '74', '176', '456', '217', '80', '96', '83',
       '111', '126', '213', '72', '81', '109', '43', '371', '47', '158',
       '65', '136', '135', '326', '282', '408', '82', '141', '84', '185',
       '130', '68', '208', '94', '114', '267', '90', '123',
       'Backed 0 projects', '104', '283', '77', '169', '708', '308',
       '338', '366', '286', '193', '86', '122', '107', '411', '184',
       '154', '332', '91', '145', '212', '214', '172', '238', '589',
       '171', '1,122', '118', '132', '146', '205', '150', '239', '167',
       '301', '236', '149', '93', '1,120', '99', 'Backed 4 projects',
       '226', '220', '156', '194', '277', '95', '272', '343', '348',
       '115', '223', '121', '265', '127', '731', '345', '161', '884',
       '102', '165', '178', '222', '674', '249', '160', '398', '116',
       '87', '190', '174', '151', '605', '180', 'Backed 10 projects',
       'Backed 111 projects', '179', '187', '120', '201', '237', '330',
       '243', '246', '252', '202', '138', '352', '890', '721', '227',
       '188', '418', '349', '268', '186', '258', '476', '129', '170',
       '147', '199', '175', '242', '142', '245', '318', '490', '331',
       '368', '409', '462', '159', '182', 'Backed 39 projects',
       'Backed 22 projects', '341', 'Backed 21 projects', '317', '988',
       'Backed 1 project', 'Backed 9 projects', '112', '360', '110',
       'Backed 17 projects', '210', '229', '257', '335', '181', '211',
       'Backed 97 projects', 'Backed 49 projects', '298', '405',
       'Backed 32 projects', '560', 'Backed 105 projects',
       'Backed 47 projects', '192', '247', 'Backed 15 projects',
       'Backed 72 projects', 'Backed 24 projects', 'Backed 8 projects',
       '598', '144', 'Backed 549 projects', 'Backed 6 projects',
       'Backed 3 projects', 'Backed 5 projects', '139',
       'Backed 12 projects', 'Backed 95 projects', '200',
       'Backed 129 projects', '233', '325', 'Backed 14 projects',
       'Backed 20 projects', 'Backed 137 projects', '311', '152', '125',
       '140', '445', '173', '383', '328', '183', '399', '1,608',
       'Backed 74 projects', '216', '219', 'Backed 33 projects', '474',
       'Backed 70 projects', '665', '134', '254', '457', '203', '299',
       '290', '1,138', 'Backed 27 projects', '516', '224',
       'Backed 165 projects', '278', '198', '164', '256', '324',
       'Backed 266 projects', '306', '168', '300', '781', '314', '106',
       '577', '617', '339', '446', '521', '351', '829', '234', '329',
       '250', 'Backed 28 projects', '811', '302', '307', '463', '259',
       '552', '478', 'Backed 73 projects', '545', 'Backed 35 projects',
       'Backed 360 projects', 'Backed 66 projects', '230', '354', '547',
       '1,325', '373', '473', '292', '613', '157', '228', '251', '260',
       '342', 'Backed 147 projects', '285', '592', '333', '221', '231',
       '148', '438', '261', 'Backed 86 projects', '232', '310', '143',
       'Backed 29 projects', 'Backed 94 projects', 'Backed 42 projects',
       'Backed 372 projects', '155', '197', '600', '533',
       'Backed 102 projects', '153', '621', '206', '297', '984', '336',
       'Backed 78 projects', '384', '449', 'Backed 92 projects',
       'Backed 69 projects', 'Backed 37 projects', '559', '244',
       'Backed 18 projects', '255', '209', '410', '266', '275', '454',
       '337', '455', 'Backed 38 projects', '444', '572', '279', '537',
       '578', '263', '356', '361', '241', '362', '569', '440', '177',
       '322', '1,134', '488', '439', '407', '471', '1,086', '714', '240',
       '434', '280', '524', '519', 'Backed 41 projects',
       'Backed 133 projects', '493', '430', '386', '350', '388', '377',
       '284', 'Backed 13 projects', 'Backed 77 projects', '1,244', '218',
       '532', '295', '425', 'Backed 81 projects', '344', '312', '853',
       '393', 'Backed 127 projects', '423', '567', 'Backed 50 projects',
       '204', '650', '904', '1,322', '584', '248', '861', '195', '375',
       '719', '271', '428', '568', 'Backed 103 projects', '309', '289',
       '225', '709', '1,200', '994', '718', '467', '495', '276',
       'Backed 249 projects', '1,396', 'Backed 51 projects',
       'Backed 54 projects', 'Backed 26 projects', 'Backed 34 projects',
       'Backed 16 projects', 'Backed 36 projects', 'Backed 30 projects',
       'Backed 43 projects', 'Backed 63 projects', 'Backed 85 projects',
       'Backed 62 projects', 'Backed 40 projects', 'Backed 23 projects',
       'Backed 104 projects', 'Backed 117 projects', 'Backed 56 projects',
       '253', 'Backed 87 projects', 'Backed 44 projects',
       'Backed 48 projects', 'Backed 52 projects', 'Backed 163 projects',
       'Backed 88 projects', 'Backed 109 projects', 'Backed 209 projects',
       'Backed 31 projects', 'Backed 116 projects', 'Backed 61 projects',
       'Backed 45 projects', 'Backed 447 projects', 'Backed 125 projects',
       '207'], dtype=object)

In [65]:
df['create'].unique()

array(['17', '25', '2', '1', '6', '3', '9', '5', '0', '4', '12', '11',
       '189', '8', nan, '113', '15', '32', '53', '28', '10', '66', '69',
       '20', '92', '7', '35', '22', '26', '33', '30', '18', '50', '37',
       '14', '97', '16', '166', '13', '89', '117', '24', '55', '49', '60',
       '56', '58', '23', '48', '794', '45', '39', '31', '38', '103', '19',
       '27', '29', '54', '44', '124', '191', '293', '466', '101', '21',
       '34', '131', '119', '74', '176', '456', '213', '72', '81', '371',
       '47', '65', '63', '36', '41', '326', '282', '128', '84', '85',
       '104', '109', '283', '77', '57', '88', '62', '82', '366', '184',
       '40', '212', '214', '238', '70', '1,122', '118', '146', '67', '75',
       '301', '46', '91', '236', '149', '93', '99', '226', '76', '220',
       '167', '61', '51', '95', '107', '121', '265', '127', '52', '111',
       '43', '71', '161', '884', '108', '42', '105', '102', '178', '674',
       '185', '398', '79', '87', '190', '115', '151', '180', '59', '78',
       '179', '187', '120', '201', '156', '68', '96', '100', '80', '252',
       '352', '721', '418', '349', '268', '132', '174', '476', '343',
       '129', '98', '130', '170', '147', '122', '318', '73', '490', '205',
       '331', '368', '83', '409', '462', '64', '341', '110', '210', '257',
       '335', '165', '258', '560', '192', '247', '90', '145', '144',
       '549', '163', '139', '141', '233', '186', '311', '86', '152',
       '193', '133', '445', '173', '383', '328', '183', '246', '1,608',
       '112', '665', '134', '222', '254', '457', '116', '203', '290',
       '136', '1,138', '516', '224', '198', '164', '114', '324', '266',
       '306', '243', '168', '300', '781', '94', '299', '106', '577',
       '617', '227', '138', '158', '339', '446', '521', '351', '829',
       '234', '329', '314', '811', '249', '307', '463', '408', '259',
       '552', '478', '360', '230', '354', '547', '1,325', '373', '208',
       '473', '330', '292', '200', '613', '157', '142', '228', '251',
       '135', '260', '342', '285', '231', '148', '438', '261', '232',
       '310', '143', '137', '160', '150', '221', '155', '600', '533',
       '126', '621', '202', '223', '250', '229', '297', '984', '336',
       '182', '449', '154', '559', '153', '188', '255', '194', '209',
       '197', '454', '337', '455', '444', '572', '279', '578', '263',
       '172', '356', '361', '241', '569', '237', '440', '177', '171',
       '411', '298', '1,134', '488', '125', '407', '714', '524', '519',
       '430', '388', '377', '140', '123', '245', '218', '344', '853',
       '393', '217', '312', '211', '204', '904', '1,322', '584', '248',
       '375', '719', '267', '271', '289', '216', '1,200', '994', '195',
       '718', '278', '495', '276', '302', '225'], dtype=object)

In [66]:
df['LastLogin'] = df['LastLogin'].str.extract('(\w+\s+\d+\s+\d+)', expand=False)

# Step 2: Convert the extracted date strings to datetime objects
df['LastLogin'] = pd.to_datetime(df['LastLogin'], format='%b %d %Y', errors='coerce')

In [67]:
df['ActualEndDate'].unique()

array(['2023-9-22', nan, '2023-10-13', '2023-9-27', '2023-10-15',
       '2023-9-23', '2023-10-1', '2023-10-12', '2023-10-10', '2023-10-5',
       '2023-10-14', '2023-9-30', '2023-10-21', '2023-10-22', '2023-9-29',
       '2023-10-11', '2023-11-10', '2023-10-6', '2023-10-2', '2023-9-26',
       '2023-10-7', '2023-11-7', '2023-9-19', '2023-11-4', '2023-10-3',
       '2023-9-21', '2023-11-12', '2023-9-24', '2023-10-8', '2023-10-25',
       '2023-10-4', '2023-11-15', '2023-9-25', '2023-10-24', '2023-9-20',
       '2023-10-9', '2023-10-20', '2023-11-11', '2023-10-31', '2023-11-6',
       '2023-10-16', '2023-11-9', '2023-11-18', '2023-11-13',
       '2023-10-19', '2023-10-29', '2023-9-28', '2023-11-2', '2023-11-20',
       '2023-11-14', '2023-11-8', '2023-11-21', '2023-10-26',
       '2023-10-18', '2023-11-19', '2023-10-28', '2023-10-30',
       '2023-11-5', '2023-11-22', '2023-11-1', '2023-11-29', '2023-12-2',
       '2023-11-3', '2023-10-23', '2023-12-1', '2023-10-27', '2023-11-17',
       '2023-11-30', '2023-11-28', '2023-12-6', '2023-12-5', '2023-12-3',
       '2023-11-25', '2023-11-26', '--',
       'Monday, October 16 2023 10:18 AM AWST',
       'Monday, October 30 2023 5:31 AM AWST',
       'Friday, October3 2023 1:57 AM AWST',
       'Thursday, October9 2023 4:08 PM AWST',
       'Friday, October 13 2023 8:00 AM AWST',
       'Tuesday, October 17 2023 5:30 AM AWST',
       'Saturday, October 21 2023 11:43 PM AWST',
       'Friday, October 27 2023 1:59 PM AWST',
       'Wednesday, October1 2023 11:59 AM AWST',
       'Friday, October 13 2023 12:01 AM AWST',
       'Wednesday, October 18 2023 11:59 PM AWST',
       'Friday, October 20 2023 1:59 PM AWST',
       'Friday, October 27 2023 11:00 AM AWST',
       'Friday, October3 2023 11:59 AM AWST',
       'Friday, October 13 2023 1:52 AM AWST',
       'Friday, October 20 2023 10:20 PM AWST',
       'Friday, October 13 2023 12:00 AM AWST',
       'Friday, October 20 2023 8:30 PM AWST',
       'Saturday, October 28 2023 10:47 PM AWST',
       'Monday, October20 2023 6:48 AM AWST',
       'Friday, October 13 2023 9:01 PM AWST',
       'Saturday, October 21 2023 2:59 PM AWST',
       'Tuesday, October 31 2023 12:29 AM AWST',
       'Friday, October 20 2023 12:58 AM AWST',
       'Friday, October17 2023 6:59 AM AWST',
       'Monday, October 23 2023 2:00 AM AWST',
       'Sunday, October 22 2023 4:27 AM AWST',
       'Wednesday, October 25 2023 2:00 AM AWST',
       'Friday, October10 2023 9:00 PM AWST',
       'Sunday, October12 2023 12:08 AM AWST',
       'Friday, October 13 2023 6:43 AM AWST',
       'Friday, October 20 2023 8:59 PM AWST',
       'Wednesday, October 11 2023 11:02 PM AWST',
       'Tuesday, October 17 2023 4:43 AM AWST',
       'Saturday, October 21 2023 12:59 PM AWST',
       'Friday, October17 2023 7:45 PM AWST',
       'Friday, October 20 2023 2:59 PM AWST',
       'Saturday, October 28 2023 5:00 AM AWST',
       'Sunday, October 29 2023 2:58 AM AWST',
       'Tuesday, October 17 2023 2:59 PM AWST',
       'Saturday, October 28 2023 12:00 PM AWST',
       'Saturday, October 28 2023 9:00 PM AWST',
       'Monday, October20 2023 1:59 AM AWST',
       'Sunday, October26 2023 8:00 PM AWST',
       'Monday, October 16 2023 11:58 PM AWST',
       'Monday, October 30 2023 10:00 PM AWST',
       'Tuesday, October7 2023 9:56 PM AWST',
       'Monday, October 23 2023 11:30 PM AWST',
       'Friday, October 27 2023 6:31 AM AWST',
       'Sunday, October5 2023 11:00 PM AWST',
       'Thursday, October 26 2023 10:45 PM AWST',
       'Friday, October 27 2023 2:00 AM AWST',
       'Saturday, October 14 2023 8:00 PM AWST',
       'Saturday, October 14 2023 10:19 PM AWST',
       'Wednesday, October1 2023 11:02 PM AWST',
       'Thursday, October 12 2023 8:55 PM AWST',
       'Thursday, October 19 2023 9:00 PM AWST',
       'Monday, October13 2023 11:37 AM AWST',
       'Thursday, October2 2023 8:58 PM AWST',
       'Sunday, October 29 2023 8:00 PM AWST',
       'Sunday, October19 2023 5:00 PM AWST',
       'Monday, 十月 16 2023 2:55 PM AWST',
       'Friday, 十月 27 2023 3:00 PM AWST',
       'Friday, 十月 13 2023 1:37 PM AWST',
       'Friday, 十月 20 2023 10:49 PM AWST',
       'Thursday, 十月 26 2023 4:10 AM AWST',
       'Saturday, 十一月 11 2023 6:45 AM AWST',
       'Friday, 十一月 10 2023 1:00 PM AWST',
       'Thursday, 十月 19 2023 7:30 AM AWST',
       'Wednesday, 十一月 1 2023 3:57 AM AWST',
       'Monday, 十一月 13 2023 12:59 PM AWST',
       'Friday, 十月 13 2023 9:01 PM AWST',
       'Monday, 十月 30 2023 9:44 AM AWST',
       'Saturday, 十一月 4 2023 5:23 AM AWST',
       'Friday, 十二月 1 2023 9:43 PM AWST',
       'Friday, 十一月 3 2023 11:18 PM AWST',
       'Monday, 十月 16 2023 10:25 AM AWST',
       'Wednesday, 十一月 1 2023 11:26 PM AWST',
       'Friday, 十月 27 2023 11:59 AM AWST',
       'Friday, 十一月 3 2023 3:01 AM AWST',
       'Saturday, 十月 14 2023 7:00 AM AWST',
       'Friday, 十月 20 2023 5:51 AM AWST',
       'Saturday, 十月 14 2023 9:00 AM AWST',
       'Friday, 十一月 3 2023 12:27 AM AWST',
       'Saturday, 十一月 25 2023 10:38 AM AWST',
       'Wednesday, 十月 18 2023 12:29 AM AWST',
       'Friday, 十月 13 2023 9:25 AM AWST',
       'Monday, 十月 16 2023 1:41 AM AWST',
       'Thursday, 十月 19 2023 11:07 PM AWST',
       'Thursday, 十一月 2 2023 10:42 AM AWST',
       'Sunday, 十月 15 2023 2:50 AM AWST',
       'Sunday, 十月 15 2023 1:29 PM AWST',
       'Friday, 十月 27 2023 4:15 AM AWST',
       'Thursday, 十一月 2 2023 12:57 AM AWST',
       'Sunday, 十月 22 2023 3:58 AM AWST',
       'Thursday, 十月 12 2023 9:00 PM AWST',
       'Thursday, 十月 12 2023 8:15 PM AWST',
       'Saturday, 十一月 25 2023 7:44 PM AWST',
       'Friday, 十月 20 2023 11:00 AM AWST',
       'Tuesday, 十月 31 2023 8:00 AM AWST',
       'Sunday, 十月 29 2023 5:32 AM AWST',
       'Sunday, 十月 15 2023 7:21 AM AWST',
       'Monday, 十月 16 2023 9:34 PM AWST',
       'Monday, 十月 30 2023 11:00 AM AWST',
       'Tuesday, 十月 17 2023 7:29 AM AWST',
       'Thursday, 十一月 16 2023 3:45 AM AWST',
       'Sunday, 十月 15 2023 9:01 PM AWST',
       'Friday, 十月 20 2023 2:15 AM AWST',
       'Tuesday, 十一月 28 2023 12:07 PM AWST',
       'Monday, 十月 23 2023 5:08 AM AWST',
       'Sunday, 十月 29 2023 9:01 PM AWST',
       'Monday, 十月 16 2023 6:12 AM AWST',
       'Thursday, 十一月 2 2023 12:59 PM AWST',
       'Tuesday, 十月 31 2023 5:25 PM AWST',
       'Saturday, 十月 21 2023 1:43 AM AWST',
       'Saturday, 十月 28 2023 12:00 AM AWST',
       'Tuesday, 十月 17 2023 11:00 AM AWST',
       'Wednesday, 十月 18 2023 10:00 PM AWST',
       'Friday, 十一月 10 2023 1:00 AM AWST',
       'Friday, 十月 27 2023 4:02 AM AWST',
       'Tuesday, 十月 31 2023 4:00 AM AWST',
       'Saturday, 十月 21 2023 10:00 AM AWST',
       'Thursday, 十月 12 2023 11:50 PM AWST',
       'Thursday, 十月 12 2023 10:59 PM AWST',
       'Saturday, 十月 14 2023 9:09 PM AWST',
       'Thursday, 十一月 9 2023 7:16 AM AWST',
       'Monday, 十月 30 2023 7:04 AM AWST',
       'Tuesday, 十月 24 2023 6:57 AM AWST',
       'Thursday, 十月 12 2023 6:08 AM AWST',
       'Saturday, 十月 14 2023 3:25 AM AWST',
       'Thursday, 十月 19 2023 11:04 PM AWST',
       'Wednesday, 十月 25 2023 1:34 AM AWST',
       'Tuesday, 十月 24 2023 3:44 PM AWST',
       'Saturday, 十月 21 2023 11:05 PM AWST',
       'Tuesday, 十一月 7 2023 5:27 AM AWST',
       'Sunday, 十一月 12 2023 2:53 PM AWST',
       'Friday, 十二月 1 2023 12:58 AM AWST',
       'Sunday, 十月 15 2023 3:48 AM AWST',
       'Sunday, 十月 15 2023 12:00 AM AWST',
       'Tuesday, 十月 31 2023 12:00 PM AWST',
       'Wednesday, 十一月 15 2023 1:59 PM AWST',
       'Friday, 十二月 1 2023 2:08 AM AWST',
       'Friday, 十一月 17 2023 12:00 PM AWST',
       'Friday, 十二月 1 2023 7:35 AM AWST',
       'Sunday, 十一月 19 2023 3:03 PM AWST',
       'Wednesday, 十一月 1 2023 9:42 AM AWST',
       'Thursday, 十一月 2 2023 7:00 AM AWST',
       'Friday, 十一月 3 2023 5:11 PM AWST',
       'Saturday, 十一月 4 2023 4:00 AM AWST',
       'Wednesday, 十一月 8 2023 7:57 PM AWST',
       'Thursday, 十一月 9 2023 9:31 PM AWST',
       'Friday, 十一月 17 2023 9:25 PM AWST',
       'Saturday, 十一月 25 2023 10:01 AM AWST',
       'Thursday, 十一月 9 2023 10:50 PM AWST',
       'Wednesday, 十月 25 2023 3:05 AM AWST',
       'Thursday, 十月 26 2023 2:00 PM AWST',
       'Friday, 十月 20 2023 12:30 AM AWST',
       'Friday, 十月 20 2023 8:00 AM AWST',
       'Tuesday, 十月 31 2023 9:56 PM AWST',
       'Wednesday, 十一月 1 2023 2:10 AM AWST',
       'Wednesday, 十月 18 2023 2:00 AM AWST',
       'Thursday, 十月 19 2023 7:00 PM AWST',
       'Tuesday, 十月 31 2023 2:46 AM AWST',
       'Thursday, 十月 26 2023 11:00 PM AWST',
       'Saturday, 十月 28 2023 11:00 AM AWST',
       'Tuesday, 十月 31 2023 9:04 PM AWST',
       'Wednesday, 十月 25 2023 11:00 PM AWST',
       'Thursday, 十月 26 2023 12:24 AM AWST',
       'Saturday, 十月 28 2023 11:01 PM AWST',
       'Monday, 十月 30 2023 9:45 PM AWST',
       'Wednesday, 十一月 1 2023 1:59 PM AWST',
       'Thursday, 十一月 2 2023 12:29 AM AWST',
       'Thursday, 十一月 2 2023 11:04 PM AWST',
       'Friday, 十一月 3 2023 4:01 AM AWST',
       'Saturday, 十月 28 2023 7:52 PM AWST',
       'Tuesday, 十月 31 2023 12:00 AM AWST',
       'Wednesday, 十一月 1 2023 11:59 AM AWST',
       'Thursday, 十一月 2 2023 10:38 PM AWST',
       'Friday, 十一月 3 2023 7:00 PM AWST',
       'Sunday, 十一月 5 2023 10:58 PM AWST',
       'Tuesday, 十月 31 2023 9:00 PM AWST',
       'Wednesday, 十一月 1 2023 6:00 AM AWST',
       'Saturday, 十一月 11 2023 11:00 AM AWST',
       'Thursday, 十一月 2 2023 11:01 PM AWST',
       'Friday, 十一月 3 2023 9:00 AM AWST',
       'Monday, 十一月 6 2023 11:09 AM AWST',
       'Tuesday, 十一月 28 2023 8:30 AM AWST',
       'Thursday, 十一月 9 2023 2:00 AM AWST',
       'Sunday, 十一月 5 2023 10:15 PM AWST',
       'Tuesday, 十一月 7 2023 9:00 AM AWST',
       'Sunday, 十一月 12 2023 1:11 PM AWST',
       'Saturday, 十二月 2 2023 3:01 PM AWST',
       'Sunday, 十二月 10 2023 6:27 AM AWST',
       'Friday, 十月 13 2023 7:47 AM AWST',
       'Sunday, 十月 22 2023 9:57 PM AWST',
       'Friday, 十二月 1 2023 11:40 AM AWST',
       'Saturday, 十一月 4 2023 7:08 PM AWST',
       'Saturday, 十月 14 2023 1:00 AM AWST',
       'Thursday, 十一月 2 2023 2:38 PM AWST',
       'Saturday, 十一月 4 2023 11:48 PM AWST',
       'Thursday, 十一月 9 2023 11:57 AM AWST',
       'Wednesday, 十二月 6 2023 11:42 AM AWST',
       'Wednesday, 十月 11 2023 11:49 PM AWST',
       'Friday, 十一月 3 2023 12:59 AM AWST',
       'Saturday, 十月 21 2023 11:09 PM AWST',
       'Thursday, 十月 26 2023 3:14 AM AWST',
       'Saturday, 十月 28 2023 2:59 PM AWST',
       'Sunday, 十月 29 2023 6:40 AM AWST',
       'Sunday, 十月 29 2023 10:00 PM AWST',
       'Monday, 十月 30 2023 1:08 AM AWST',
       'Tuesday, 十月 31 2023 11:55 PM AWST',
       'Friday, 十一月 3 2023 2:00 AM AWST',
       'Friday, 十一月 10 2023 2:01 AM AWST',
       'Sunday, 十一月 12 2023 3:11 AM AWST',
       'Monday, 十月 30 2023 11:59 PM AWST',
       'Friday, 十月 20 2023 12:27 AM AWST',
       'Monday, 十月 16 2023 2:13 PM AWST',
       'Friday, 十一月 3 2023 12:00 PM AWST',
       'Sunday, 十月 15 2023 11:59 AM AWST',
       'Tuesday, 十月 17 2023 9:56 PM AWST',
       'Friday, 十月 27 2023 2:50 AM AWST',
       'Wednesday, 十一月 1 2023 2:20 AM AWST',
       'Thursday, 十一月 2 2023 10:30 AM AWST',
       'Friday, 十一月 10 2023 3:59 PM AWST',
       'Thursday, 十一月 2 2023 11:30 PM AWST',
       'Friday, 十月 13 2023 10:58 PM AWST',
       'Friday, 十月 20 2023 5:00 AM AWST',
       'Thursday, 十月 26 2023 2:02 AM AWST',
       'Thursday, 十月 26 2023 7:15 PM AWST',
       'Sunday, 十一月 5 2023 6:29 AM AWST',
       'Friday, 十月 20 2023 2:59 PM AWST',
       'Saturday, 十月 14 2023 6:17 AM AWST',
       'Sunday, 十月 15 2023 2:29 AM AWST',
       'Sunday, 十月 15 2023 11:00 AM AWST',
       'Monday, 十月 16 2023 8:38 PM AWST',
       'Tuesday, 十月 17 2023 7:01 AM AWST',
       'Tuesday, 十月 17 2023 3:25 AM AWST',
       'Sunday, 十月 22 2023 12:00 PM AWST',
       'Wednesday, 十月 25 2023 6:20 PM AWST',
       'Saturday, 十月 28 2023 1:39 AM AWST',
       'Tuesday, 十月 31 2023 12:04 AM AWST',
       'Saturday, 十月 14 2023 11:35 AM AWST',
       'Tuesday, 十月 31 2023 10:32 PM AWST',
       'Tuesday, 十一月 7 2023 6:59 AM AWST',
       'Wednesday, 十一月 22 2023 10:38 PM AWST',
       'Saturday, 十二月 2 2023 3:17 AM AWST',
       'Friday, 十月 20 2023 10:00 PM AWST',
       'Thursday, 十月 12 2023 9:29 PM AWST',
       'Thursday, 十月 12 2023 10:00 PM AWST',
       'Friday, 十月 13 2023 12:00 PM AWST',
       'Monday, 十月 16 2023 5:45 AM AWST',
       'Friday, 十月 20 2023 4:00 AM AWST',
       'Friday, 十月 20 2023 7:00 AM AWST',
       'Thursday, 十月 26 2023 9:29 PM AWST',
       'Saturday, 十月 28 2023 12:00 PM AWST',
       'Sunday, 十一月 12 2023 12:00 AM AWST',
       'Friday, 十月 27 2023 12:00 AM AWST',
       'Tuesday, 十月 24 2023 9:58 PM AWST',
       'Saturday, 十月 28 2023 3:00 AM AWST',
       'Friday, 十月 13 2023 5:00 AM AWST',
       'Thursday, 十一月 2 2023 12:00 PM AWST',
       'Saturday, 十月 21 2023 8:24 PM AWST',
       'Friday, 十一月 3 2023 9:59 PM AWST',
       'Friday, 十月 20 2023 9:46 PM AWST',
       'Thursday, 十一月 2 2023 10:00 PM AWST',
       'Saturday, 十一月 11 2023 11:10 AM AWST',
       'Wednesday, 十月 18 2023 11:59 AM AWST',
       'Wednesday, 十月 25 2023 8:00 AM AWST',
       'Monday, 十月 30 2023 11:56 PM AWST',
       'Thursday, 十一月 2 2023 9:55 PM AWST',
       'Thursday, 十一月 16 2023 9:00 AM AWST',
       'Tuesday, 十月 31 2023 11:59 AM AWST',
       'Sunday, 十一月 19 2023 8:20 AM AWST',
       'Friday, 十一月 10 2023 3:10 AM AWST',
       'Wednesday, 十月 11 2023 11:13 PM AWST',
       'Wednesday, 十一月 1 2023 4:00 PM AWST',
       'Saturday, 十月 14 2023 6:56 AM AWST',
       'Wednesday, 十月 25 2023 1:13 AM AWST',
       'Sunday, 十月 29 2023 6:00 AM AWST',
       'Wednesday, 十一月 1 2023 10:00 PM AWST',
       'Wednesday, 十一月 8 2023 12:54 AM AWST',
       'Thursday, 十一月 16 2023 9:34 AM AWST',
       'Tuesday, 十月 24 2023 8:02 PM AWST',
       'Saturday, 十一月 18 2023 9:49 PM AWST',
       'Tuesday, 十月 31 2023 11:44 PM AWST',
       'Wednesday, 十一月 1 2023 2:00 PM AWST',
       'Saturday, 十一月 11 2023 11:43 AM AWST',
       'Saturday, 十一月 18 2023 7:15 AM AWST',
       'Sunday, 十月 15 2023 10:00 PM AWST',
       'Thursday, 十一月 2 2023 9:10 PM AWST',
       'Thursday, 十一月 2 2023 11:59 AM AWST',
       'Monday, 十一月 6 2023 6:43 AM AWST',
       'Thursday, 十月 12 2023 10:10 PM AWST',
       'Monday, 十月 16 2023 10:00 AM AWST',
       'Saturday, 十月 21 2023 5:04 AM AWST',
       'Friday, 十一月 10 2023 2:00 AM AWST',
       'Thursday, 十月 12 2023 4:07 PM AWST',
       'Thursday, 十月 19 2023 12:59 PM AWST',
       'Wednesday, 十月 25 2023 9:28 PM AWST',
       'Tuesday, 十月 31 2023 12:22 AM AWST',
       'Wednesday, 十一月 8 2023 5:48 AM AWST',
       'Saturday, 十月 14 2023 1:43 AM AWST',
       'Saturday, 十月 14 2023 6:53 AM AWST',
       'Sunday, 十月 15 2023 3:34 AM AWST',
       'Sunday, 十月 15 2023 12:59 PM AWST',
       'Tuesday, 十月 17 2023 2:02 AM AWST',
       'Thursday, 十月 19 2023 1:00 PM AWST',
       'Thursday, 十月 19 2023 10:21 AM AWST',
       'Tuesday, 十月 24 2023 11:01 PM AWST',
       'Saturday, 十月 28 2023 9:41 PM AWST',
       'Wednesday, 十一月 1 2023 12:14 AM AWST',
       'Monday, 十月 23 2023 11:00 PM AWST',
       'Wednesday, 十一月 1 2023 11:32 PM AWST',
       'Wednesday, 十一月 15 2023 11:52 PM AWST',
       'Thursday, 十一月 23 2023 10:00 AM AWST',
       'Wednesday, 十二月 6 2023 1:08 AM AWST',
       'Wednesday, 十月 11 2023 11:21 PM AWST',
       'Wednesday, 十一月 1 2023 12:59 PM AWST',
       'Wednesday, 十一月 1 2023 2:59 PM AWST',
       'Wednesday, 十一月 1 2023 9:58 PM AWST',
       'Thursday, 十一月 2 2023 12:00 AM AWST',
       'Wednesday, 十月 11 2023 9:55 PM AWST',
       'Friday, 十月 13 2023 12:01 AM AWST',
       'Sunday, 十月 15 2023 1:03 AM AWST',
       'Sunday, 十月 15 2023 11:55 AM AWST',
       'Monday, 十月 16 2023 2:12 AM AWST',
       'Wednesday, 十月 18 2023 7:05 PM AWST',
       'Saturday, 十月 21 2023 10:00 PM AWST',
       'Saturday, 十月 21 2023 11:12 PM AWST',
       'Sunday, 十月 22 2023 1:14 AM AWST',
       'Wednesday, 十月 18 2023 2:59 PM AWST',
       'Wednesday, 十月 25 2023 9:41 AM AWST',
       'Saturday, 十月 28 2023 3:27 AM AWST',
       'Wednesday, 十一月 1 2023 1:53 AM AWST',
       'Thursday, 十一月 2 2023 1:00 PM AWST',
       'Wednesday, 十一月 8 2023 12:16 AM AWST',
       'Friday, 十一月 10 2023 8:50 PM AWST',
       'Sunday, 十一月 12 2023 12:43 AM AWST',
       'Tuesday, 十一月 14 2023 2:01 PM AWST',
       'Thursday, 十月 12 2023 10:33 PM AWST',
       'Saturday, 十月 21 2023 8:39 AM AWST',
       'Tuesday, 十月 24 2023 11:59 AM AWST',
       'Wednesday, 十月 25 2023 6:00 AM AWST',
       'Monday, 十月 30 2023 3:00 PM AWST',
       'Tuesday, 十月 31 2023 11:02 PM AWST',
       'Saturday, 十一月 4 2023 11:59 AM AWST',
       'Friday, 十一月 10 2023 12:00 AM AWST',
       'Sunday, 十月 29 2023 12:10 AM AWST',
       'Sunday, 十月 29 2023 8:00 AM AWST',
       'Tuesday, 十月 31 2023 11:46 PM AWST',
       'Friday, 十月 20 2023 2:32 AM AWST',
       'Friday, 十月 13 2023 6:00 AM AWST',
       'Saturday, 十月 14 2023 9:10 AM AWST',
       'Thursday, 十月 19 2023 9:01 PM AWST',
       'Wednesday, 十月 25 2023 12:59 PM AWST',
       'Wednesday, 十月 18 2023 1:03 PM AWST',
       'Saturday, 十一月 4 2023 2:00 AM AWST',
       'Sunday, 十一月 19 2023 12:23 AM AWST',
       'Friday, 十月 20 2023 11:59 AM AWST',
       'Friday, 十月 13 2023 12:33 PM AWST',
       'Tuesday, 十月 24 2023 1:00 AM AWST',
       'Tuesday, 十月 24 2023 11:00 PM AWST',
       'Tuesday, 十月 31 2023 2:59 AM AWST',
       'Thursday, 十月 12 2023 11:00 PM AWST',
       'Thursday, 十一月 2 2023 8:00 AM AWST',
       'Monday, 十一月 6 2023 5:19 AM AWST',
       'Wednesday, 十一月 15 2023 4:00 AM AWST',
       'Tuesday, 十月 24 2023 11:59 PM AWST',
       'Monday, 十月 30 2023 12:30 AM AWST',
       'Thursday, 十一月 2 2023 1:00 AM AWST',
       'Saturday, 十一月 11 2023 12:29 PM AWST',
       'Saturday, 十一月 4 2023 5:37 PM AWST',
       'Wednesday, 十二月 6 2023 2:27 AM AWST',
       'Friday, 十一月 17 2023 2:31 PM AWST',
       'Thursday, 十一月 16 2023 10:23 AM AWST',
       'Wednesday, 十一月 8 2023 11:19 PM AWST',
       'Thursday, 十二月 7 2023 1:37 AM AWST',
       'Saturday, 十二月 9 2023 1:38 AM AWST',
       'Thursday, 十一月 16 2023 8:13 AM AWST',
       'Friday, 十一月 3 2023 11:00 AM AWST',
       'Saturday, 十一月 25 2023 1:07 PM AWST',
       'Sunday, 十一月 5 2023 9:55 PM AWST',
       'Thursday, 十一月 2 2023 9:00 AM AWST',
       'Friday, 十一月 3 2023 5:00 AM AWST',
       'Sunday, 十月 22 2023 11:59 AM AWST',
       'Monday, 十月 23 2023 9:16 PM AWST',
       'Tuesday, 十月 24 2023 8:11 PM AWST',
       'Friday, 十月 27 2023 12:48 AM AWST',
       'Saturday, 十月 28 2023 8:00 AM AWST',
       'Sunday, 十月 29 2023 4:16 AM AWST',
       'Monday, 十月 30 2023 2:39 AM AWST',
       'Tuesday, 十月 31 2023 12:59 AM AWST',
       'Wednesday, 十一月 1 2023 8:38 PM AWST',
       'Wednesday, 十一月 8 2023 12:07 PM AWST',
       'Tuesday, 十一月 28 2023 7:57 AM AWST',
       'Saturday, 十一月 11 2023 6:56 AM AWST',
       'Friday, 十月 20 2023 8:00 PM AWST',
       'Friday, 十月 20 2023 2:27 AM AWST',
       'Saturday, 十月 21 2023 4:00 AM AWST',
       'Monday, 十月 23 2023 9:00 AM AWST',
       'Tuesday, 十月 24 2023 6:54 AM AWST',
       'Thursday, 十月 26 2023 4:23 AM AWST',
       'Friday, 十月 27 2023 9:54 AM AWST',
       'Monday, 十月 30 2023 11:22 PM AWST',
       'Friday, 十一月 3 2023 10:01 PM AWST',
       'Saturday, 十一月 4 2023 11:03 PM AWST',
       'Tuesday, 十一月 7 2023 7:59 PM AWST',
       'Wednesday, 十一月 8 2023 9:00 PM AWST',
       'Monday, 十一月 13 2023 3:49 AM AWST',
       'Friday, 十一月 17 2023 12:01 AM AWST',
       'Friday, 十月 27 2023 2:59 PM AWST',
       'Saturday, 十月 28 2023 11:03 AM AWST',
       'Tuesday, 十月 31 2023 6:46 PM AWST',
       'Friday, 十一月 3 2023 8:00 AM AWST',
       'Saturday, 十一月 4 2023 4:10 AM AWST',
       'Saturday, 十一月 4 2023 9:00 AM AWST',
       'Friday, 十一月 10 2023 8:00 AM AWST',
       'Tuesday, 十一月 14 2023 1:30 AM AWST',
       'Monday, 十一月 13 2023 2:00 AM AWST',
       'Monday, 十一月 13 2023 5:07 PM AWST',
       'Saturday, 十月 21 2023 9:00 AM AWST',
       'Wednesday, 十一月 8 2023 4:14 PM AWST',
       'Sunday, 十月 15 2023 2:00 AM AWST',
       'Tuesday, 十月 17 2023 11:31 PM AWST',
       'Monday, 十月 23 2023 12:00 PM AWST',
       'Wednesday, 十一月 1 2023 5:00 AM AWST',

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 89069 entries, 0 to 89092
Data columns (total 46 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProjectID              89069 non-null  int64
 1   Subcategories          89069 non-null  object
 2   URL                    89069 non-null  object
 3   State                  89069 non-null  object
 4   ProjectName            89066 non-null  object
 5   ProjectDescription     89002 non-null  object
 6   CreatorName            89056 non-null  object
 7   LastUpdate             87129 non-null  object
 8   RemaingingDays         920 non-null    object
 9   UpdateCount            88831 non-null  float64
 10  CommentCount           88050 non-null  object
 11  ProWeLove              82712 non-null  float64
 12  ProjectLocation        89069 non-null  object
 13  Pledged                86275 non-null  object
 14  Goal                   86293 non-null  object
 15  ImgCount               89069 non-null  int64
 16  videoCount             89069 non-null  int64
 17  youtubeCount           89069 non-null  int64
 18  Backer                 88027 non-null  object
 19  StartDate              87130 non-null  object
 20  EndDate                87130 non-null  object
 21  Days                   87130 non-null  object
 22  Featured               566 non-null    object
 23  Story                  88049 non-null  object
 24  CreatorLocation        87519 non-null  object
 25  Verified               71226 non-null  object
 26  LastLogin              6145 non-null   datetime64[ns]
 27  CreatorURL             89016 non-null  object
 28  Connect                89016 non-null  object
 29  Text                   89016 non-null  object
 30  Biography              85894 non-null  object
 31  backed                 85894 non-null  object
 32  joined                 85894 non-null  object
 33  create                 85591 non-null  object
 34  webList                64337 non-null  object
 35  ActualEndDate          1158 non-null   object
 36  Category               89069 non-null  object
 37  WebNum                 89069 non-null  int64
 38  IsFeatured             89069 non-null  bool
 39  IsConnect              89069 non-null  bool
 40  TotalCreated           89016 non-null  object
 41  TotalBacked            89016 non-null  object
 42  IsIdentityVerified     89069 non-null  bool
 43  IsVerifiedIDAvailable  89069 non-null  bool
 44  NonCurrency_Pledged    89069 non-null  bool
 45  NonCurrency_Goal       89069 non-null  bool
dtypes: bool(6), datetime64[ns](1), float64(2), int64(5), object(32)
memory usage: 28.4+ MB

In [69]:
# Helper function to convert a column to datetime
def to_datetime(df, column):
    df[column] = pd.to_datetime(df[column], errors='coerce')

# Helper function to convert a column to float
def to_float(df, column):
    # We'll convert all non-numeric characters to '', and convert the results to float
    df[column] = pd.to_numeric(df[column].astype(str).str.replace('[^0-9.]', ''), errors='coerce')

# Helper function to convert a column to integer
def to_int(df, column):
    # We'll convert all non-numeric characters to '', and then convert the results to integer
    # We are using 'Int64' to handle NaN values properly, which 'int' datatype cannot handle
    df[column] = pd.to_numeric(df[column].astype(str).str.replace('[^0-9]', ''), errors='coerce').astype('Int64')


def to_bool(df, column):
    # Convert to boolean type; this will convert non-zero/True values to True, and zero/False/NaN to False
    df[column] = df[column].astype(bool)
    
# Columns to convert to datetime
datetime_columns = ['StartDate', 'EndDate']

# Columns to convert to float 
float_columns = [
    'Pledged',   
    'Goal'     
]

# Columns to convert to int
int_columns = ['Backer', 'Days', 'create', 'backed', 'CommentCount','UpdateCount',"TotalCreated",'TotalBacked']

bool_columns = ['ProWeLove', 'IsConnect', 'IsFeatured']
# Convert 'object' columns to 'datetime'
for column in datetime_columns:
    to_datetime(df, column)

# Convert 'object' columns to 'float'
for column in float_columns:
    to_float(df, column)

# Convert 'object' columns to 'int'
for column in int_columns:
    to_int(df, column)
    
for column in bool_columns:
    to_bool(df, column)

df.head()

C:\Users\Wu\AppData\Local\Temp\ipykernel_11652\2492964900.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  df[column] = pd.to_numeric(df[column].astype(str).str.replace('[^0-9.]', ''), errors='coerce')
C:\Users\Wu\AppData\Local\Temp\ipykernel_11652\2492964900.py:14: FutureWarning: The default value of regex will change from True to False in a future version.
  df[column] = pd.to_numeric(df[column].astype(str).str.replace('[^0-9]', ''), errors='coerce').astype('Int64')

,ProjectID,Subcategories,URL,State,ProjectName,ProjectDescription,CreatorName,LastUpdate,RemaingingDays,UpdateCount,...,Category,WebNum,IsFeatured,IsConnect,TotalCreated,TotalBacked,IsIdentityVerified,IsVerifiedIDAvailable,NonCurrency_Pledged,NonCurrency_Goal
0,1,3D Printing,https://www.kickstarter.com/projects/3dprinter...,live,Halloween Spooktacular STL Bundle for 3D Printing,100+ 3D Printable Designs for a Haunting Hallo...,3D Printer Academy,NaN,3days to go,10,...,Technology,1,False,False,17,0,True,True,False,False
1,2,3D Printing,https://www.kickstarter.com/projects/3dpprofes...,successful,PrintABlok:BattleMecha - Kitbash Toys for 3D P...,"PrintABlok, the toy of the future, is going Ro...",Joe Larson,2023-09-15T15:01:07-04:00,NaN,90,...,Technology,1,False,True,8,25,True,True,False,False
2,3,3D Printing,https://www.kickstarter.com/projects/snapmaker...,successful,Snapmaker 2.0: Modular 3-in-1 3D Printers,Unlock your full creative potential from 3D pr...,Snapmaker,2023-06-29T11:14:46-04:00,NaN,260,...,Technology,1,False,False,2,2,True,True,False,False
3,4,3D Printing,https://www.kickstarter.com/projects/126044585...,successful,Automatic Rubber Band Blaster Kit!,History trembled the day the Rubber Band Blast...,Dorhout R&D LLC,2015-04-06T14:15:36-04:00,NaN,190,...,Technology,2,False,True,2,11,True,True,False,False
4,5,3D Printing,https://www.kickstarter.com/projects/logxen/sm...,successful,Smoothieboard - The future of CNC motion control,Easy to use open source G-code interpreter for...,"Uberclock, LLC",2019-09-07T16:01:27-04:00,NaN,200,...,Technology,4,False,True,1,19,True,True,False,False

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 89069 entries, 0 to 89092
Data columns (total 46 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProjectID              89069 non-null  int64
 1   Subcategories          89069 non-null  object
 2   URL                    89069 non-null  object
 3   State                  89069 non-null  object
 4   ProjectName            89066 non-null  object
 5   ProjectDescription     89002 non-null  object
 6   CreatorName            89056 non-null  object
 7   LastUpdate             87129 non-null  object
 8   RemaingingDays         920 non-null    object
 9   UpdateCount            88831 non-null  Int64
 10  CommentCount           88050 non-null  Int64
 11  ProWeLove              89069 non-null  bool
 12  ProjectLocation        89069 non-null  object
 13  Pledged                86275 non-null  float64
 14  Goal                   86293 non-null  float64
 15  ImgCount               89069 non-null  int64
 16  videoCount             89069 non-null  int64
 17  youtubeCount           89069 non-null  int64
 18  Backer                 88027 non-null  Int64
 19  StartDate              87130 non-null  datetime64[ns]
 20  EndDate                87130 non-null  datetime64[ns]
 21  Days                   87130 non-null  Int64
 22  Featured               566 non-null    object
 23  Story                  88049 non-null  object
 24  CreatorLocation        87519 non-null  object
 25  Verified               71226 non-null  object
 26  LastLogin              6145 non-null   datetime64[ns]
 27  CreatorURL             89016 non-null  object
 28  Connect                89016 non-null  object
 29  Text                   89016 non-null  object
 30  Biography              85894 non-null  object
 31  backed                 85894 non-null  Int64
 32  joined                 85894 non-null  object
 33  create                 85591 non-null  Int64
 34  webList                64337 non-null  object
 35  ActualEndDate          1158 non-null   object
 36  Category               89069 non-null  object
 37  WebNum                 89069 non-null  int64
 38  IsFeatured             89069 non-null  bool
 39  IsConnect              89069 non-null  bool
 40  TotalCreated           89016 non-null  Int64
 41  TotalBacked            89016 non-null  Int64
 42  IsIdentityVerified     89069 non-null  bool
 43  IsVerifiedIDAvailable  89069 non-null  bool
 44  NonCurrency_Pledged    89069 non-null  bool
 45  NonCurrency_Goal       89069 non-null  bool
dtypes: Int64(8), bool(7), datetime64[ns](3), float64(2), int64(5), object(21)
memory usage: 28.5+ MB

In [71]:
# Convert 'LastUpdate' and 'joined' to datetime, standardizing on UTC for timezone-aware dates
df['LastUpdate'] = pd.to_datetime(df['LastUpdate'], utc=True)
df['joined'] = pd.to_datetime(df['joined'], utc=True)

# convert the datetime to a specific timezone and then remove the timezone.
df['LastUpdate'] = df['LastUpdate'].dt.tz_convert(None)
df['joined'] = df['joined'].dt.tz_convert(None)

# proceed with extracting just the date part as before
df['LastUpdate'] = df['LastUpdate'].dt.date
df['joined'] = df['joined'].dt.date

# Convert the date objects back to datetimes
df['LastUpdate'] = pd.to_datetime(df['LastUpdate'])
df['joined'] = pd.to_datetime(df['joined'])

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 89069 entries, 0 to 89092
Data columns (total 46 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProjectID              89069 non-null  int64
 1   Subcategories          89069 non-null  object
 2   URL                    89069 non-null  object
 3   State                  89069 non-null  object
 4   ProjectName            89066 non-null  object
 5   ProjectDescription     89002 non-null  object
 6   CreatorName            89056 non-null  object
 7   LastUpdate             87129 non-null  datetime64[ns]
 8   RemaingingDays         920 non-null    object
 9   UpdateCount            88831 non-null  Int64
 10  CommentCount           88050 non-null  Int64
 11  ProWeLove              89069 non-null  bool
 12  ProjectLocation        89069 non-null  object
 13  Pledged                86275 non-null  float64
 14  Goal                   86293 non-null  float64
 15  ImgCount               89069 non-null  int64
 16  videoCount             89069 non-null  int64
 17  youtubeCount           89069 non-null  int64
 18  Backer                 88027 non-null  Int64
 19  StartDate              87130 non-null  datetime64[ns]
 20  EndDate                87130 non-null  datetime64[ns]
 21  Days                   87130 non-null  Int64
 22  Featured               566 non-null    object
 23  Story                  88049 non-null  object
 24  CreatorLocation        87519 non-null  object
 25  Verified               71226 non-null  object
 26  LastLogin              6145 non-null   datetime64[ns]
 27  CreatorURL             89016 non-null  object
 28  Connect                89016 non-null  object
 29  Text                   89016 non-null  object
 30  Biography              85894 non-null  object
 31  backed                 85894 non-null  Int64
 32  joined                 85894 non-null  datetime64[ns]
 33  create                 85591 non-null  Int64
 34  webList                64337 non-null  object
 35  ActualEndDate          1158 non-null   object
 36  Category               89069 non-null  object
 37  WebNum                 89069 non-null  int64
 38  IsFeatured             89069 non-null  bool
 39  IsConnect              89069 non-null  bool
 40  TotalCreated           89016 non-null  Int64
 41  TotalBacked            89016 non-null  Int64
 42  IsIdentityVerified     89069 non-null  bool
 43  IsVerifiedIDAvailable  89069 non-null  bool
 44  NonCurrency_Pledged    89069 non-null  bool
 45  NonCurrency_Goal       89069 non-null  bool
dtypes: Int64(8), bool(7), datetime64[ns](5), float64(2), int64(5), object(19)
memory usage: 28.5+ MB

# Drop mostly NaN (missing) and not relevant values

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 89069 entries, 0 to 89092
Data columns (total 46 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProjectID              89069 non-null  int64
 1   Subcategories          89069 non-null  object
 2   URL                    89069 non-null  object
 3   State                  89069 non-null  object
 4   ProjectName            89066 non-null  object
 5   ProjectDescription     89002 non-null  object
 6   CreatorName            89056 non-null  object
 7   LastUpdate             87129 non-null  datetime64[ns]
 8   RemaingingDays         920 non-null    object
 9   UpdateCount            88831 non-null  Int64
 10  CommentCount           88050 non-null  Int64
 11  ProWeLove              89069 non-null  bool
 12  ProjectLocation        89069 non-null  object
 13  Pledged                86275 non-null  float64
 14  Goal                   86293 non-null  float64
 15  ImgCount               89069 non-null  int64
 16  videoCount             89069 non-null  int64
 17  youtubeCount           89069 non-null  int64
 18  Backer                 88027 non-null  Int64
 19  StartDate              87130 non-null  datetime64[ns]
 20  EndDate                87130 non-null  datetime64[ns]
 21  Days                   87130 non-null  Int64
 22  Featured               566 non-null    object
 23  Story                  88049 non-null  object
 24  CreatorLocation        87519 non-null  object
 25  Verified               71226 non-null  object
 26  LastLogin              6145 non-null   datetime64[ns]
 27  CreatorURL             89016 non-null  object
 28  Connect                89016 non-null  object
 29  Text                   89016 non-null  object
 30  Biography              85894 non-null  object
 31  backed                 85894 non-null  Int64
 32  joined                 85894 non-null  datetime64[ns]
 33  create                 85591 non-null  Int64
 34  webList                64337 non-null  object
 35  ActualEndDate          1158 non-null   object
 36  Category               89069 non-null  object
 37  WebNum                 89069 non-null  int64
 38  IsFeatured             89069 non-null  bool
 39  IsConnect              89069 non-null  bool
 40  TotalCreated           89016 non-null  Int64
 41  TotalBacked            89016 non-null  Int64
 42  IsIdentityVerified     89069 non-null  bool
 43  IsVerifiedIDAvailable  89069 non-null  bool
 44  NonCurrency_Pledged    89069 non-null  bool
 45  NonCurrency_Goal       89069 non-null  bool
dtypes: Int64(8), bool(7), datetime64[ns](5), float64(2), int64(5), object(19)
memory usage: 28.5+ MB

In [73]:
# Create a boolean mask where created equals backed 
equal_mask = df['create'] == df['backed'] 
# Calculate the ratio 
ratio = equal_mask.mean() # mean of boolean Series is the ratio of Trues to total 
# Print the ratio 
print(f"The ratio of records where created equals backed: {ratio:.2f}")

The ratio of records where created equals backed: 0.33

In [74]:
df.columns

Index(['ProjectID', 'Subcategories', 'URL', 'State', 'ProjectName',
       'ProjectDescription', 'CreatorName', 'LastUpdate', 'RemaingingDays',
       'UpdateCount', 'CommentCount', 'ProWeLove', 'ProjectLocation',
       'Pledged', 'Goal', 'ImgCount', 'videoCount', 'youtubeCount', 'Backer',
       'StartDate', 'EndDate', 'Days', 'Featured', 'Story', 'CreatorLocation',
       'Verified', 'LastLogin', 'CreatorURL', 'Connect', 'Text', 'Biography',
       'backed', 'joined', 'create', 'webList', 'ActualEndDate', 'Category',
       'WebNum', 'IsFeatured', 'IsConnect', 'TotalCreated', 'TotalBacked',
       'IsIdentityVerified', 'IsVerifiedIDAvailable', 'NonCurrency_Pledged',
       'NonCurrency_Goal'],
      dtype='object')

In [75]:
#['LastLogin','ActualEndDate','RemaingingDays']mostly NaN (missing) values and is not relevant 
#['create','backed']not reliable and not consistent with text
#['FriendNum'] mostly NaN (missing) values

# Create new_df For the df with ['Pledged','Goal']Converted to usd

In [76]:
# Merge the converted 'Pledged_USD' and 'Goal_USD' values back into the original df based on 'ProjectID'
new_df = df.merge(non_currency_strings[['ProjectID', 'Pledged_USD', 'Goal_USD']], 
              on='ProjectID', 
              how='left', 
              suffixes=('', '_updated'))

# Update 'Pledged' and 'Goal' in df with the USD converted values where available
new_df['Pledged'] = new_df['Pledged_USD'].fillna(df['Pledged'])
new_df['Goal'] = new_df['Goal_USD'].fillna(df['Goal'])
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 89069 entries, 0 to 89068
Data columns (total 48 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProjectID              89069 non-null  int64
 1   Subcategories          89069 non-null  object
 2   URL                    89069 non-null  object
 3   State                  89069 non-null  object
 4   ProjectName            89066 non-null  object
 5   ProjectDescription     89002 non-null  object
 6   CreatorName            89056 non-null  object
 7   LastUpdate             87129 non-null  datetime64[ns]
 8   RemaingingDays         920 non-null    object
 9   UpdateCount            88831 non-null  Int64
 10  CommentCount           88050 non-null  Int64
 11  ProWeLove              89069 non-null  bool
 12  ProjectLocation        89069 non-null  object
 13  Pledged                87563 non-null  float64
 14  Goal                   87581 non-null  float64
 15  ImgCount               89069 non-null  int64
 16  videoCount             89069 non-null  int64
 17  youtubeCount           89069 non-null  int64
 18  Backer                 88027 non-null  Int64
 19  StartDate              87130 non-null  datetime64[ns]
 20  EndDate                87130 non-null  datetime64[ns]
 21  Days                   87130 non-null  Int64
 22  Featured               566 non-null    object
 23  Story                  88049 non-null  object
 24  CreatorLocation        87519 non-null  object
 25  Verified               71226 non-null  object
 26  LastLogin              6145 non-null   datetime64[ns]
 27  CreatorURL             89016 non-null  object
 28  Connect                89016 non-null  object
 29  Text                   89016 non-null  object
 30  Biography              85894 non-null  object
 31  backed                 85894 non-null  Int64
 32  joined                 85894 non-null  datetime64[ns]
 33  create                 85591 non-null  Int64
 34  webList                64337 non-null  object
 35  ActualEndDate          1158 non-null   object
 36  Category               89069 non-null  object
 37  WebNum                 89069 non-null  int64
 38  IsFeatured             89069 non-null  bool
 39  IsConnect              89069 non-null  bool
 40  TotalCreated           89016 non-null  Int64
 41  TotalBacked            89016 non-null  Int64
 42  IsIdentityVerified     89069 non-null  bool
 43  IsVerifiedIDAvailable  89069 non-null  bool
 44  NonCurrency_Pledged    89069 non-null  bool
 45  NonCurrency_Goal       89069 non-null  bool
 46  Pledged_USD            1752 non-null   float64
 47  Goal_USD               1757 non-null   float64
dtypes: Int64(8), bool(7), datetime64[ns](5), float64(4), int64(5), object(19)
memory usage: 29.8+ MB

# IsProjectUSD

In [77]:
new_df.drop(['LastLogin','ActualEndDate','RemaingingDays','NonCurrency_Pledged','NonCurrency_Goal',], axis=1, inplace=True)

In [78]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 89069 entries, 0 to 89068
Data columns (total 43 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProjectID              89069 non-null  int64
 1   Subcategories          89069 non-null  object
 2   URL                    89069 non-null  object
 3   State                  89069 non-null  object
 4   ProjectName            89066 non-null  object
 5   ProjectDescription     89002 non-null  object
 6   CreatorName            89056 non-null  object
 7   LastUpdate             87129 non-null  datetime64[ns]
 8   UpdateCount            88831 non-null  Int64
 9   CommentCount           88050 non-null  Int64
 10  ProWeLove              89069 non-null  bool
 11  ProjectLocation        89069 non-null  object
 12  Pledged                87563 non-null  float64
 13  Goal                   87581 non-null  float64
 14  ImgCount               89069 non-null  int64
 15  videoCount             89069 non-null  int64
 16  youtubeCount           89069 non-null  int64
 17  Backer                 88027 non-null  Int64
 18  StartDate              87130 non-null  datetime64[ns]
 19  EndDate                87130 non-null  datetime64[ns]
 20  Days                   87130 non-null  Int64
 21  Featured               566 non-null    object
 22  Story                  88049 non-null  object
 23  CreatorLocation        87519 non-null  object
 24  Verified               71226 non-null  object
 25  CreatorURL             89016 non-null  object
 26  Connect                89016 non-null  object
 27  Text                   89016 non-null  object
 28  Biography              85894 non-null  object
 29  backed                 85894 non-null  Int64
 30  joined                 85894 non-null  datetime64[ns]
 31  create                 85591 non-null  Int64
 32  webList                64337 non-null  object
 33  Category               89069 non-null  object
 34  WebNum                 89069 non-null  int64
 35  IsFeatured             89069 non-null  bool
 36  IsConnect              89069 non-null  bool
 37  TotalCreated           89016 non-null  Int64
 38  TotalBacked            89016 non-null  Int64
 39  IsIdentityVerified     89069 non-null  bool
 40  IsVerifiedIDAvailable  89069 non-null  bool
 41  Pledged_USD            1752 non-null   float64
 42  Goal_USD               1757 non-null   float64
dtypes: Int64(8), bool(5), datetime64[ns](4), float64(4), int64(5), object(17)
memory usage: 27.6+ MB

certain columns uniquely identify a record, and others like 'URL' and 'CreatorURL' might logically contain repeats without indicating true duplication, then dropping duplicates based on the subset makes sense.

In [79]:
# columns_to_consider = [col for col in df.columns if col not in ['ProjectID','URL', 'CreatorURL','Pledged','Goal']] # Drop duplicates based on these columns \new_df= new_df.drop_duplicates(subset=columns_to_consider, keep='first') 
# df= df.drop_duplicates(subset=columns_to_consider, keep='first') 
# new_df= new_df.drop_duplicates(subset=columns_to_consider, keep='first')
# print(df.info())
# print(new_df.info())#87796 they are same if we drop duplicated based on the ['ProjectID','URL', 'CreatorURL','Pledged','Goal']

# Save the file

In [80]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 89069 entries, 0 to 89068
Data columns (total 43 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProjectID              89069 non-null  int64
 1   Subcategories          89069 non-null  object
 2   URL                    89069 non-null  object
 3   State                  89069 non-null  object
 4   ProjectName            89066 non-null  object
 5   ProjectDescription     89002 non-null  object
 6   CreatorName            89056 non-null  object
 7   LastUpdate             87129 non-null  datetime64[ns]
 8   UpdateCount            88831 non-null  Int64
 9   CommentCount           88050 non-null  Int64
 10  ProWeLove              89069 non-null  bool
 11  ProjectLocation        89069 non-null  object
 12  Pledged                87563 non-null  float64
 13  Goal                   87581 non-null  float64
 14  ImgCount               89069 non-null  int64
 15  videoCount             89069 non-null  int64
 16  youtubeCount           89069 non-null  int64
 17  Backer                 88027 non-null  Int64
 18  StartDate              87130 non-null  datetime64[ns]
 19  EndDate                87130 non-null  datetime64[ns]
 20  Days                   87130 non-null  Int64
 21  Featured               566 non-null    object
 22  Story                  88049 non-null  object
 23  CreatorLocation        87519 non-null  object
 24  Verified               71226 non-null  object
 25  CreatorURL             89016 non-null  object
 26  Connect                89016 non-null  object
 27  Text                   89016 non-null  object
 28  Biography              85894 non-null  object
 29  backed                 85894 non-null  Int64
 30  joined                 85894 non-null  datetime64[ns]
 31  create                 85591 non-null  Int64
 32  webList                64337 non-null  object
 33  Category               89069 non-null  object
 34  WebNum                 89069 non-null  int64
 35  IsFeatured             89069 non-null  bool
 36  IsConnect              89069 non-null  bool
 37  TotalCreated           89016 non-null  Int64
 38  TotalBacked            89016 non-null  Int64
 39  IsIdentityVerified     89069 non-null  bool
 40  IsVerifiedIDAvailable  89069 non-null  bool
 41  Pledged_USD            1752 non-null   float64
 42  Goal_USD               1757 non-null   float64
dtypes: Int64(8), bool(5), datetime64[ns](4), float64(4), int64(5), object(17)
memory usage: 27.6+ MB

In [81]:
new_df.to_excel('kickstarter_cleaned_fullversion_usd_v4.xlsx', index=False)#89013 entries this time we convert the non usd entires into usd

# import the data of full version

In [82]:
#df=pd.read_excel("D:/trykicstarter/Kickstarter_0319/coding/Data Preprocessing/kickstarter_fullversion_usd_v4.xlsx")
df=pd.read_excel('kickstarter_cleaned_fullversion_usd_v4.xlsx')
df.head()

,ProjectID,Subcategories,URL,State,ProjectName,ProjectDescription,CreatorName,LastUpdate,UpdateCount,CommentCount,...,Category,WebNum,IsFeatured,IsConnect,TotalCreated,TotalBacked,IsIdentityVerified,IsVerifiedIDAvailable,Pledged_USD,Goal_USD
0,1,3D Printing,https://www.kickstarter.com/projects/3dprinter...,live,Halloween Spooktacular STL Bundle for 3D Printing,100+ 3D Printable Designs for a Haunting Hallo...,3D Printer Academy,NaT,10.0,23.0,...,Technology,1,False,False,17.0,0.0,True,True,NaN,NaN
1,2,3D Printing,https://www.kickstarter.com/projects/3dpprofes...,successful,PrintABlok:BattleMecha - Kitbash Toys for 3D P...,"PrintABlok, the toy of the future, is going Ro...",Joe Larson,2023-09-15,90.0,4.0,...,Technology,1,False,True,8.0,25.0,True,True,NaN,NaN
2,3,3D Printing,https://www.kickstarter.com/projects/snapmaker...,successful,Snapmaker 2.0: Modular 3-in-1 3D Printers,Unlock your full creative potential from 3D pr...,Snapmaker,2023-06-29,260.0,5611.0,...,Technology,1,False,False,2.0,2.0,True,True,NaN,NaN
3,4,3D Printing,https://www.kickstarter.com/projects/126044585...,successful,Automatic Rubber Band Blaster Kit!,History trembled the day the Rubber Band Blast...,Dorhout R&D LLC,2015-04-06,190.0,42.0,...,Technology,2,False,True,2.0,11.0,True,True,NaN,NaN
4,5,3D Printing,https://www.kickstarter.com/projects/logxen/sm...,successful,Smoothieboard - The future of CNC motion control,Easy to use open source G-code interpreter for...,"Uberclock, LLC",2019-09-07,200.0,241.0,...,Technology,4,False,True,1.0,19.0,True,True,NaN,NaN

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89069 entries, 0 to 89068
Data columns (total 43 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProjectID              89069 non-null  int64
 1   Subcategories          89069 non-null  object
 2   URL                    89069 non-null  object
 3   State                  89069 non-null  object
 4   ProjectName            89066 non-null  object
 5   ProjectDescription     89002 non-null  object
 6   CreatorName            89053 non-null  object
 7   LastUpdate             87129 non-null  datetime64[ns]
 8   UpdateCount            88831 non-null  float64
 9   CommentCount           88050 non-null  float64
 10  ProWeLove              89069 non-null  bool
 11  ProjectLocation        89069 non-null  object
 12  Pledged                87563 non-null  float64
 13  Goal                   87581 non-null  float64
 14  ImgCount               89069 non-null  int64
 15  videoCount             89069 non-null  int64
 16  youtubeCount           89069 non-null  int64
 17  Backer                 88027 non-null  float64
 18  StartDate              87130 non-null  datetime64[ns]
 19  EndDate                87130 non-null  datetime64[ns]
 20  Days                   87130 non-null  float64
 21  Featured               566 non-null    object
 22  Story                  88049 non-null  object
 23  CreatorLocation        87519 non-null  object
 24  Verified               71226 non-null  object
 25  CreatorURL             89016 non-null  object
 26  Connect                89016 non-null  object
 27  Text                   89016 non-null  object
 28  Biography              85894 non-null  object
 29  backed                 85894 non-null  float64
 30  joined                 85894 non-null  datetime64[ns]
 31  create                 85591 non-null  float64
 32  webList                64337 non-null  object
 33  Category               89069 non-null  object
 34  WebNum                 89069 non-null  int64
 35  IsFeatured             89069 non-null  bool
 36  IsConnect              89069 non-null  bool
 37  TotalCreated           89016 non-null  float64
 38  TotalBacked            89016 non-null  float64
 39  IsIdentityVerified     89069 non-null  bool
 40  IsVerifiedIDAvailable  89069 non-null  bool
 41  Pledged_USD            1752 non-null   float64
 42  Goal_USD               1757 non-null   float64
dtypes: bool(5), datetime64[ns](4), float64(12), int64(5), object(17)
memory usage: 26.2+ MB

In [84]:
df['State'].unique()

array(['live', 'successful', 'failed', 'canceled', 'suspended',
       'upcoming'], dtype=object)

In [85]:
# Find the smallest and maximum EndDate 
smallest_end_date = df['EndDate'].min() 
maximum_end_date = df['EndDate'].max() 
 
print("Smallest EndDate:", smallest_end_date)
print("Maximum EndDate:", maximum_end_date)

Smallest EndDate: 2009-06-10 00:00:00
Maximum EndDate: 2023-11-25 00:00:00

# Select Projects wth EndDate from 2015 to 2022  ,and completed('successful', 'failed') projects

In [86]:
filtered_projects = df[df['State'].isin(['successful', 'failed'])]
filtered_projects.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76205 entries, 1 to 89068
Data columns (total 43 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProjectID              76205 non-null  int64
 1   Subcategories          76205 non-null  object
 2   URL                    76205 non-null  object
 3   State                  76205 non-null  object
 4   ProjectName            76202 non-null  object
 5   ProjectDescription     76145 non-null  object
 6   CreatorName            76191 non-null  object
 7   LastUpdate             76204 non-null  datetime64[ns]
 8   UpdateCount            76205 non-null  float64
 9   CommentCount           76205 non-null  float64
 10  ProWeLove              76205 non-null  bool
 11  ProjectLocation        76205 non-null  object
 12  Pledged                75515 non-null  float64
 13  Goal                   75533 non-null  float64
 14  ImgCount               76205 non-null  int64
 15  videoCount             76205 non-null  int64
 16  youtubeCount           76205 non-null  int64
 17  Backer                 76182 non-null  float64
 18  StartDate              76205 non-null  datetime64[ns]
 19  EndDate                76205 non-null  datetime64[ns]
 20  Days                   76205 non-null  float64
 21  Featured               555 non-null    object
 22  Story                  76205 non-null  object
 23  CreatorLocation        75108 non-null  object
 24  Verified               60716 non-null  object
 25  CreatorURL             76154 non-null  object
 26  Connect                76154 non-null  object
 27  Text                   76154 non-null  object
 28  Biography              74218 non-null  object
 29  backed                 74218 non-null  float64
 30  joined                 74218 non-null  datetime64[ns]
 31  create                 74218 non-null  float64
 32  webList                55823 non-null  object
 33  Category               76205 non-null  object
 34  WebNum                 76205 non-null  int64
 35  IsFeatured             76205 non-null  bool
 36  IsConnect              76205 non-null  bool
 37  TotalCreated           76154 non-null  float64
 38  TotalBacked            76154 non-null  float64
 39  IsIdentityVerified     76205 non-null  bool
 40  IsVerifiedIDAvailable  76205 non-null  bool
 41  Pledged_USD            1420 non-null   float64
 42  Goal_USD               1425 non-null   float64
dtypes: bool(5), datetime64[ns](4), float64(12), int64(5), object(17)
memory usage: 23.0+ MB

In [87]:
# Create a filter for dates between 2015 and 2022
start_date = pd.to_datetime("2015-01-01")
end_date = pd.to_datetime("2022-12-31")

# Use boolean indexing to filter rows
filtered_projects = filtered_projects[(filtered_projects['EndDate'] >= start_date) & (filtered_projects['EndDate'] <= end_date)]

# Show the filtered dataframe
filtered_projects.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56650 entries, 2 to 89067
Data columns (total 43 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProjectID              56650 non-null  int64
 1   Subcategories          56650 non-null  object
 2   URL                    56650 non-null  object
 3   State                  56650 non-null  object
 4   ProjectName            56649 non-null  object
 5   ProjectDescription     56599 non-null  object
 6   CreatorName            56636 non-null  object
 7   LastUpdate             56649 non-null  datetime64[ns]
 8   UpdateCount            56650 non-null  float64
 9   CommentCount           56650 non-null  float64
 10  ProWeLove              56650 non-null  bool
 11  ProjectLocation        56650 non-null  object
 12  Pledged                56185 non-null  float64
 13  Goal                   56193 non-null  float64
 14  ImgCount               56650 non-null  int64
 15  videoCount             56650 non-null  int64
 16  youtubeCount           56650 non-null  int64
 17  Backer                 56629 non-null  float64
 18  StartDate              56650 non-null  datetime64[ns]
 19  EndDate                56650 non-null  datetime64[ns]
 20  Days                   56650 non-null  float64
 21  Featured               263 non-null    object
 22  Story                  56650 non-null  object
 23  CreatorLocation        56044 non-null  object
 24  Verified               55646 non-null  object
 25  CreatorURL             56607 non-null  object
 26  Connect                56607 non-null  object
 27  Text                   56607 non-null  object
 28  Biography              55423 non-null  object
 29  backed                 55423 non-null  float64
 30  joined                 55423 non-null  datetime64[ns]
 31  create                 55423 non-null  float64
 32  webList                41249 non-null  object
 33  Category               56650 non-null  object
 34  WebNum                 56650 non-null  int64
 35  IsFeatured             56650 non-null  bool
 36  IsConnect              56650 non-null  bool
 37  TotalCreated           56607 non-null  float64
 38  TotalBacked            56607 non-null  float64
 39  IsIdentityVerified     56650 non-null  bool
 40  IsVerifiedIDAvailable  56650 non-null  bool
 41  Pledged_USD            1010 non-null   float64
 42  Goal_USD               1015 non-null   float64
dtypes: bool(5), datetime64[ns](4), float64(12), int64(5), object(17)
memory usage: 17.1+ MB

In [88]:
filtered_projects['State'].unique()

array(['successful', 'failed'], dtype=object)

In [89]:
# Find the smallest and maximum EndDate 
smallest_end_date = filtered_projects['EndDate'].min() 
maximum_end_date = filtered_projects['EndDate'].max() 
print("Smallest EndDate:", smallest_end_date)
print("Maximum EndDate:", maximum_end_date)

Smallest EndDate: 2015-01-01 00:00:00
Maximum EndDate: 2022-12-31 00:00:00

In [90]:
# Convert 'State' to a boolean column where 'successful' = True and 'failed' = False
filtered_projects['State'] = filtered_projects['State'].map({'successful': True, 'failed': False})
filtered_projects.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56650 entries, 2 to 89067
Data columns (total 43 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProjectID              56650 non-null  int64
 1   Subcategories          56650 non-null  object
 2   URL                    56650 non-null  object
 3   State                  56650 non-null  bool
 4   ProjectName            56649 non-null  object
 5   ProjectDescription     56599 non-null  object
 6   CreatorName            56636 non-null  object
 7   LastUpdate             56649 non-null  datetime64[ns]
 8   UpdateCount            56650 non-null  float64
 9   CommentCount           56650 non-null  float64
 10  ProWeLove              56650 non-null  bool
 11  ProjectLocation        56650 non-null  object
 12  Pledged                56185 non-null  float64
 13  Goal                   56193 non-null  float64
 14  ImgCount               56650 non-null  int64
 15  videoCount             56650 non-null  int64
 16  youtubeCount           56650 non-null  int64
 17  Backer                 56629 non-null  float64
 18  StartDate              56650 non-null  datetime64[ns]
 19  EndDate                56650 non-null  datetime64[ns]
 20  Days                   56650 non-null  float64
 21  Featured               263 non-null    object
 22  Story                  56650 non-null  object
 23  CreatorLocation        56044 non-null  object
 24  Verified               55646 non-null  object
 25  CreatorURL             56607 non-null  object
 26  Connect                56607 non-null  object
 27  Text                   56607 non-null  object
 28  Biography              55423 non-null  object
 29  backed                 55423 non-null  float64
 30  joined                 55423 non-null  datetime64[ns]
 31  create                 55423 non-null  float64
 32  webList                41249 non-null  object
 33  Category               56650 non-null  object
 34  WebNum                 56650 non-null  int64
 35  IsFeatured             56650 non-null  bool
 36  IsConnect              56650 non-null  bool
 37  TotalCreated           56607 non-null  float64
 38  TotalBacked            56607 non-null  float64
 39  IsIdentityVerified     56650 non-null  bool
 40  IsVerifiedIDAvailable  56650 non-null  bool
 41  Pledged_USD            1010 non-null   float64
 42  Goal_USD               1015 non-null   float64
dtypes: bool(6), datetime64[ns](4), float64(12), int64(5), object(16)
memory usage: 16.7+ MB

# Duplicates are being removed based on  'CreatorName', 'joined','Verified', 'StartDate',ProjectName'

In [91]:
filtered_projects = filtered_projects.drop_duplicates(subset=[ 'CreatorName', 'joined','Verified', 'StartDate','ProjectName','Category','Subcategories'], keep='last')
filtered_projects.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54763 entries, 2 to 89067
Data columns (total 43 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProjectID              54763 non-null  int64
 1   Subcategories          54763 non-null  object
 2   URL                    54763 non-null  object
 3   State                  54763 non-null  bool
 4   ProjectName            54762 non-null  object
 5   ProjectDescription     54714 non-null  object
 6   CreatorName            54749 non-null  object
 7   LastUpdate             54762 non-null  datetime64[ns]
 8   UpdateCount            54763 non-null  float64
 9   CommentCount           54763 non-null  float64
 10  ProWeLove              54763 non-null  bool
 11  ProjectLocation        54763 non-null  object
 12  Pledged                54300 non-null  float64
 13  Goal                   54308 non-null  float64
 14  ImgCount               54763 non-null  int64
 15  videoCount             54763 non-null  int64
 16  youtubeCount           54763 non-null  int64
 17  Backer                 54742 non-null  float64
 18  StartDate              54763 non-null  datetime64[ns]
 19  EndDate                54763 non-null  datetime64[ns]
 20  Days                   54763 non-null  float64
 21  Featured               244 non-null    object
 22  Story                  54763 non-null  object
 23  CreatorLocation        54172 non-null  object
 24  Verified               53793 non-null  object
 25  CreatorURL             54720 non-null  object
 26  Connect                54720 non-null  object
 27  Text                   54720 non-null  object
 28  Biography              53571 non-null  object
 29  backed                 53571 non-null  float64
 30  joined                 53571 non-null  datetime64[ns]
 31  create                 53571 non-null  float64
 32  webList                39869 non-null  object
 33  Category               54763 non-null  object
 34  WebNum                 54763 non-null  int64
 35  IsFeatured             54763 non-null  bool
 36  IsConnect              54763 non-null  bool
 37  TotalCreated           54720 non-null  float64
 38  TotalBacked            54720 non-null  float64
 39  IsIdentityVerified     54763 non-null  bool
 40  IsVerifiedIDAvailable  54763 non-null  bool
 41  Pledged_USD            985 non-null    float64
 42  Goal_USD               990 non-null    float64
dtypes: bool(6), datetime64[ns](4), float64(12), int64(5), object(16)
memory usage: 16.2+ MB

In [92]:
filtered_projects = filtered_projects.drop_duplicates(subset=[ 'CreatorName', 'joined','Verified', 'StartDate','ProjectName'], keep='first')
filtered_projects.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54763 entries, 2 to 89067
Data columns (total 43 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProjectID              54763 non-null  int64
 1   Subcategories          54763 non-null  object
 2   URL                    54763 non-null  object
 3   State                  54763 non-null  bool
 4   ProjectName            54762 non-null  object
 5   ProjectDescription     54714 non-null  object
 6   CreatorName            54749 non-null  object
 7   LastUpdate             54762 non-null  datetime64[ns]
 8   UpdateCount            54763 non-null  float64
 9   CommentCount           54763 non-null  float64
 10  ProWeLove              54763 non-null  bool
 11  ProjectLocation        54763 non-null  object
 12  Pledged                54300 non-null  float64
 13  Goal                   54308 non-null  float64
 14  ImgCount               54763 non-null  int64
 15  videoCount             54763 non-null  int64
 16  youtubeCount           54763 non-null  int64
 17  Backer                 54742 non-null  float64
 18  StartDate              54763 non-null  datetime64[ns]
 19  EndDate                54763 non-null  datetime64[ns]
 20  Days                   54763 non-null  float64
 21  Featured               244 non-null    object
 22  Story                  54763 non-null  object
 23  CreatorLocation        54172 non-null  object
 24  Verified               53793 non-null  object
 25  CreatorURL             54720 non-null  object
 26  Connect                54720 non-null  object
 27  Text                   54720 non-null  object
 28  Biography              53571 non-null  object
 29  backed                 53571 non-null  float64
 30  joined                 53571 non-null  datetime64[ns]
 31  create                 53571 non-null  float64
 32  webList                39869 non-null  object
 33  Category               54763 non-null  object
 34  WebNum                 54763 non-null  int64
 35  IsFeatured             54763 non-null  bool
 36  IsConnect              54763 non-null  bool
 37  TotalCreated           54720 non-null  float64
 38  TotalBacked            54720 non-null  float64
 39  IsIdentityVerified     54763 non-null  bool
 40  IsVerifiedIDAvailable  54763 non-null  bool
 41  Pledged_USD            985 non-null    float64
 42  Goal_USD               990 non-null    float64
dtypes: bool(6), datetime64[ns](4), float64(12), int64(5), object(16)
memory usage: 16.2+ MB

In [93]:
# # Filter the DataFrame where Pledged_USD','Goal_USD is not null and extract the corresponding ProjectIDs 
# # Extract the corresponding ProjectIDs
# project_ids_with_pledged_goal_usd_amount =  filtered_projects[(~filtered_projects['Pledged_USD'].isnull()) & (~filtered_projects['Goal_USD'].isnull())]['ProjectID'].unique()

# print("ProjectIDs with non-null Pledged_USD and Goal_USD:")
# print(project_ids_with_pledged_goal_usd_amount)

In [94]:
# len(np.unique(project_ids_with_pledged_goal_usd_amount))

In [95]:
filtered_projects['Featured'].head(50)

2                                                    NaN
6                                                    NaN
7                                                    NaN
10     Tech Weekly: Lights, Camera, Action\nJuly 11 2015
14                                                   NaN
20                                                   NaN
27              Tech Weekly: Fresh Prints\nMarch 13 2015
28     Kickstarter's Future Fab Lab and More at the 2...
31                                                   NaN
38                                                   NaN
41            Tech Weekly: Elemental Design\nMay 23 2015
67     March Madness\nMarch 17 2015\n\n\nTech Weekly:...
68     40+ Ideas to Inspire Your Project of Earth\nJu...
70                                                   NaN
82                                                   NaN
83                                                   NaN
86     Kickstarter's Guide to CES 2017\nDecember 29 2...
93                                                   NaN
94                                                   NaN
103    40+ Ideas to Inspire Your Project of Earth\nJu...
106                                                  NaN
112                                                  NaN
113                                                  NaN
114                                                  NaN
117                                                  NaN
118                                                  NaN
119                                                  NaN
120                                                  NaN
121                                                  NaN
122                                                  NaN
123                                                  NaN
125                                                  NaN
126                                                  NaN
127                                                  NaN
128                                                  NaN
131                                                  NaN
132                                                  NaN
133                                                  NaN
134                                                  NaN
135                                                  NaN
136                                                  NaN
138                                                  NaN
139                                                  NaN
140                                                  NaN
141                                                  NaN
142                                                  NaN
143                                                  NaN
144                                                  NaN
146                                                  NaN
147                                                  NaN
Name: Featured, dtype: object

In [96]:
filtered_projects['Featured'].iloc[7]

"Kickstarter's Future Fab Lab and More at the 2016 World Maker Faire\nSeptember 29 2016\n\n\nRobots, Music, Home Farming: Our Tech Predictions for 2016\nJanuary 9 2016"

# Save the filtered file

In [97]:
#filtered_projects.to_excel('D:/trykicstarter/Kickstarter_0319/data/2.Filtered/kickstarter_filtered_usd_v4.xlsx', index=True)#54978 entries*36
filtered_projects.to_excel('kickstarter_filtered_usd_v4.xlsx', index=True)#54763 entries*43

# Rewards

# import the original Reward data of the tech,game,design

In [98]:
re_1011 = pd.read_excel('E:/Kickstarter_0406/data/1.Original/kickstarter1011_rewards.xlsx')
re_1009 = pd.read_excel('E:/Kickstarter_0406/data/1.Original/kickstarter1009_rewards.xlsx')
re_1018=pd.read_excel('E:/Kickstarter_0406/data/1.Original/kickstarter1018_rewards.xlsx')

In [99]:
rw=pd.concat([re_1009, re_1011,re_1018], ignore_index=True, sort=False)
rw.head()

,RewardID,ProjectID,Status,Amount,BackersNum,RewardDescript,EstimatedDelivery,Limitedquantity,Shipsto,Included,RewardName,Unnamed: 0
0,1.0,1.0,Available rewards,$ 24,33,***Kickstarter SPECIAL***\nRegular price: $24\...,2023-09-01,NaN,NaN,NaN,Spooktacular STL Bundle,NaN
1,2.0,1.0,Available rewards,$ 48,115,***KICKSTARTER SPECIAL***\n\n100+ 3D Printable...,2023-09-01,NaN,NaN,NaN,Spooktacular STL Bundle + Thread,NaN
2,3.0,1.0,Available rewards,$ 249,18,100+ 3D Printable Designs for a Haunting Hallo...,2023-09-01,NaN,NaN,NaN,3D Printer Academy All Access,NaN
3,4.0,1.0,All gone,$ 20,138,***SUPER EARLY BIRD SPECIAL***\nRegular price:...,2023-09-01,NaN,NaN,NaN,Spooktacular STL Bundle,NaN
4,5.0,1.0,All gone,$ 22,32,***EARLY BIRD SPECIAL***\nRegular price: $24\n...,2023-09-01,NaN,NaN,NaN,Spooktacular STL Bundle,NaN

In [100]:
rw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 651796 entries, 0 to 651795
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   RewardID           273178 non-null  float64
 1   ProjectID          651742 non-null  float64
 2   Status             651796 non-null  object
 3   Amount             651796 non-null  object
 4   BackersNum         651796 non-null  int64
 5   RewardDescript     644225 non-null  object
 6   EstimatedDelivery  645680 non-null  object
 7   Limitedquantity    251 non-null     object
 8   Shipsto            339 non-null     object
 9   Included           370 non-null     object
 10  RewardName         375996 non-null  object
 11  Unnamed: 0         83124 non-null   float64
dtypes: float64(3), int64(1), object(8)
memory usage: 59.7+ MB

# Convert ['EstimatedDelivery']

In [101]:
# Converting 'EstimatedDelivery' to the datetime type
rw['EstimatedDelivery'] = pd.to_datetime(rw['EstimatedDelivery'], errors='coerce')
rw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 651796 entries, 0 to 651795
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   RewardID           273178 non-null  float64
 1   ProjectID          651742 non-null  float64
 2   Status             651796 non-null  object
 3   Amount             651796 non-null  object
 4   BackersNum         651796 non-null  int64
 5   RewardDescript     644225 non-null  object
 6   EstimatedDelivery  645680 non-null  datetime64[ns]
 7   Limitedquantity    251 non-null     object
 8   Shipsto            339 non-null     object
 9   Included           370 non-null     object
 10  RewardName         375996 non-null  object
 11  Unnamed: 0         83124 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(7)
memory usage: 59.7+ MB

In [102]:
rw['Status'].unique()

array(['Available rewards', 'All gone'], dtype=object)

In [103]:
rw['Status'].head(50)

0     Available rewards
1     Available rewards
2     Available rewards
3              All gone
4              All gone
5              All gone
6              All gone
7     Available rewards
8     Available rewards
9     Available rewards
10             All gone
11    Available rewards
12    Available rewards
13    Available rewards
14    Available rewards
15    Available rewards
16             All gone
17             All gone
18             All gone
19             All gone
20             All gone
21             All gone
22             All gone
23             All gone
24             All gone
25    Available rewards
26    Available rewards
27    Available rewards
28    Available rewards
29    Available rewards
30    Available rewards
31    Available rewards
32             All gone
33    Available rewards
34    Available rewards
35    Available rewards
36    Available rewards
37    Available rewards
38    Available rewards
39    Available rewards
40    Available rewards
41             All gone
42             All gone
43             All gone
44    Available rewards
45    Available rewards
46    Available rewards
47    Available rewards
48    Available rewards
49    Available rewards
Name: Status, dtype: object

In [104]:
# Use the 'apply' method with a lambda function to change 'Not connected' to 0 and others to 1
rw['Status'] = rw['Status'].apply(lambda x: 0 if x == 'Available rewards' else 1)
rw['Status']=rw['Status'].astype(bool)
rw['Status'].head(50)

0     False
1     False
2     False
3      True
4      True
5      True
6      True
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14    False
15    False
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32     True
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41     True
42     True
43     True
44    False
45    False
46    False
47    False
48    False
49    False
Name: Status, dtype: bool

In [105]:
rw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 651796 entries, 0 to 651795
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   RewardID           273178 non-null  float64
 1   ProjectID          651742 non-null  float64
 2   Status             651796 non-null  bool
 3   Amount             651796 non-null  object
 4   BackersNum         651796 non-null  int64
 5   RewardDescript     644225 non-null  object
 6   EstimatedDelivery  645680 non-null  datetime64[ns]
 7   Limitedquantity    251 non-null     object
 8   Shipsto            339 non-null     object
 9   Included           370 non-null     object
 10  RewardName         375996 non-null  object
 11  Unnamed: 0         83124 non-null   float64
dtypes: bool(1), datetime64[ns](1), float64(3), int64(1), object(6)
memory usage: 55.3+ MB

# Correct RewardID

In [106]:
rw['RewardID']=range(1,len(rw)+1)

In [107]:
rw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 651796 entries, 0 to 651795
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   RewardID           651796 non-null  int64
 1   ProjectID          651742 non-null  float64
 2   Status             651796 non-null  bool
 3   Amount             651796 non-null  object
 4   BackersNum         651796 non-null  int64
 5   RewardDescript     644225 non-null  object
 6   EstimatedDelivery  645680 non-null  datetime64[ns]
 7   Limitedquantity    251 non-null     object
 8   Shipsto            339 non-null     object
 9   Included           370 non-null     object
 10  RewardName         375996 non-null  object
 11  Unnamed: 0         83124 non-null   float64
dtypes: bool(1), datetime64[ns](1), float64(2), int64(2), object(6)
memory usage: 55.3+ MB

# Convert ['Amount']

In [108]:
rw['Amount'].unique()

array(['$ 24', '$ 48', '$ 249', ..., '$ 5,269', '$ 1,004', '$ 1,241'],
      dtype=object)

In [109]:
rw['Amount'].head(50)

0        $ 24
1        $ 48
2       $ 249
3        $ 20
4        $ 22
5        $ 38
6        $ 42
7        $ 15
8        $ 50
9       $ 100
10      $ 100
11      $ 719
12      $ 719
13      $ 899
14      $ 899
15    $ 1,079
16      $ 599
17      $ 719
18      $ 749
19      $ 899
20      $ 899
21      $ 899
22    $ 1,079
23    $ 1,079
24    $ 1,079
25        $ 5
26       $ 19
27       $ 29
28       $ 75
29       $ 75
30      $ 140
31      $ 275
32       $ 75
33        $ 1
34       $ 10
35      $ 100
36      $ 125
37      $ 130
38      $ 150
39      $ 160
40      $ 185
41       $ 98
42       $ 99
43      $ 200
44       $ 14
45       $ 58
46       $ 99
47      $ 128
48      $ 227
49      $ 779
Name: Amount, dtype: object

In [110]:
#Function to check if the entry is a string that does not contain standard currency format 
def is_non_currency_string(value): 
    if pd.isna(value):
        return False
    if isinstance(value, str): 
        # Check if the string is a currency format (starts with $ or contains 'US$') 
        # If not, return True (it's a non-currency string) 
        return not re.match(r'^(US\$|\$)', value.strip()) 
    return False # Non-strings are not our concern here 

# Apply the function to each column individually 
non_currency_strings_rw = rw[rw['Amount'].apply(is_non_currency_string)]  # Now, combine these results into a new DataFrame 
# First, list all columns for identifying duplicates 
non_currency_strings_rw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6632 entries, 873 to 648396
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   RewardID           6632 non-null   int64
 1   ProjectID          6632 non-null   float64
 2   Status             6632 non-null   bool
 3   Amount             6632 non-null   object
 4   BackersNum         6632 non-null   int64
 5   RewardDescript     6532 non-null   object
 6   EstimatedDelivery  6632 non-null   datetime64[ns]
 7   Limitedquantity    0 non-null      object
 8   Shipsto            0 non-null      object
 9   Included           0 non-null      object
 10  RewardName         5329 non-null   object
 11  Unnamed: 0         893 non-null    float64
dtypes: bool(1), datetime64[ns](1), float64(2), int64(2), object(6)
memory usage: 628.2+ KB

In [111]:
non_currency_strings_rw.head()

,RewardID,ProjectID,Status,Amount,BackersNum,RewardDescript,EstimatedDelivery,Limitedquantity,Shipsto,Included,RewardName,Unnamed: 0
873,874,97.0,False,HK$ 298,140,Discount：40% OFF\n\nPacking List:\n1. MT2A PR...,2023-10-01,NaN,NaN,NaN,MT2A PRO Early Bird,NaN
874,875,97.0,False,HK$ 388,8,Discount：20% OFF\n\nPacking List:\n1. MT2A PR...,2023-10-01,NaN,NaN,NaN,MT2A PRO Kickstarter Price,NaN
875,876,97.0,True,HK$ 298,200,Discount：40% OFF\n\nPacking List:\n1. MT2A PR...,2023-10-01,NaN,NaN,NaN,MT2A PRO Super Early Bird（Free Postage）,NaN
2187,2188,258.0,False,€ 66,20,We welcome all new backers and any late arriva...,2023-08-01,NaN,NaN,NaN,All In,NaN
2188,2189,258.0,False,€ 89,141,This is an 'All In' for all the models in the ...,2023-08-01,NaN,NaN,NaN,All In - Golden Ticket,NaN

In [112]:
exchange_rates = {
    '€': 100000 / 91865,   # Euro
    'HK$': 100000 / 781973,  # Hong Kong Dollar
    'CA$': 100000 / 135394,  # Canadian Dollar
    '¥': 100000 / 14909284,  # Japanese Yen
    '£': 100000 / 78572,   # British Pound
    'AU$': 100000 / 152374,  # Australian Dollar
    'S$': 100000 / 133832,  # Singapore Dollar
    'MX$': 100000 / 1671705,  # Mexican Peso
    'NZ$': 100000 / 164103,  # New Zealand Dollar
    'CHF': 100000 / 88329,   # Swiss Franc
    'DKK': 100000 / 685059,  # Danish Krone
    'NOK': 100000 / 1061,  # Norwegian Krone
    'PLN': 100000 / 395399,  # Polish Zloty, adjusted based on your example
    'SEK': 100000 / 1036369,  # Swedish Krona, adjusted based on your example
}


def convert_to_usd(value):
    if pd.isna(value) or isinstance(value, (float, int)):
        return value  # Return as-is if value is NaN or already a number
    
    # Adjust regex to capture both '€ 50,000' and '50 000 $' formats
    pattern = re.compile(r'([A-Za-z¥€£$]+)?\s*([\d,\. ]+)([A-Za-z¥€£$]+)?')
    
    cleaned_value = value.replace(',', '').replace(' ', '').strip()  # Remove commas and spaces for conversion
    
    match = pattern.match(cleaned_value)
    if match:
        currency_prefix, amount_str, currency_suffix = match.groups()
        currency = currency_prefix if currency_prefix else (currency_suffix if currency_suffix else '$')  # Default to $
        try:
            amount = float(amount_str)
            return round(amount * exchange_rates.get(currency, 1), 2)
        except ValueError:
            print(f"Invalid amount: {amount_str}")
    else:
        print(f"Unmatched format: {value}")
    return None

In [113]:
non_currency_strings_rw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6632 entries, 873 to 648396
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   RewardID           6632 non-null   int64
 1   ProjectID          6632 non-null   float64
 2   Status             6632 non-null   bool
 3   Amount             6632 non-null   object
 4   BackersNum         6632 non-null   int64
 5   RewardDescript     6532 non-null   object
 6   EstimatedDelivery  6632 non-null   datetime64[ns]
 7   Limitedquantity    0 non-null      object
 8   Shipsto            0 non-null      object
 9   Included           0 non-null      object
 10  RewardName         5329 non-null   object
 11  Unnamed: 0         893 non-null    float64
dtypes: bool(1), datetime64[ns](1), float64(2), int64(2), object(6)
memory usage: 628.2+ KB

In [114]:
non_currency_strings_rw['Amount_USD'] = non_currency_strings_rw['Amount'].apply(convert_to_usd)  
#non_currency_strings_rw.to_excel('non_currency_strings_rw.xlsx', index=False)

C:\Users\Wu\AppData\Local\Temp\ipykernel_11652\957952433.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_currency_strings_rw['Amount_USD'] = non_currency_strings_rw['Amount'].apply(convert_to_usd)

In [115]:
non_currency_strings_rw['Amount'].tail(50)

640594           € 5
640595          € 15
640596          € 15
640597          € 25
640598          € 50
640599         € 100
640600         € 250
640601         € 500
640602       € 1,000
640603       € 5,000
640604       € 7,000
641576       CA$  15
641577       CA$  20
641578       CA$  30
641579       CA$  40
641580       CA$  45
641581       CA$  75
642443           € 5
642444          € 10
642445          € 20
642446          € 30
642447          € 40
642448          € 50
642449          € 75
642450         € 100
642451         € 200
642452         € 500
642453       € 1,000
642980           £ 5
642981          £ 10
642982          £ 25
642983          £ 50
642984         £ 100
642985         £ 500
642986       £ 1,000
642987       £ 5,000
644081      MX$  180
644082      MX$  320
644083      MX$  350
644084      MX$  150
644128        CA$  5
644129       CA$  25
644130       CA$  50
644131       CA$  70
644132       CA$  90
644133      CA$  125
648393      HK$  860
648394    HK$  1,479
648395    HK$  2,803
648396    HK$  1,363
Name: Amount, dtype: object

In [116]:
rw['Amount'].head(50)

0        $ 24
1        $ 48
2       $ 249
3        $ 20
4        $ 22
5        $ 38
6        $ 42
7        $ 15
8        $ 50
9       $ 100
10      $ 100
11      $ 719
12      $ 719
13      $ 899
14      $ 899
15    $ 1,079
16      $ 599
17      $ 719
18      $ 749
19      $ 899
20      $ 899
21      $ 899
22    $ 1,079
23    $ 1,079
24    $ 1,079
25        $ 5
26       $ 19
27       $ 29
28       $ 75
29       $ 75
30      $ 140
31      $ 275
32       $ 75
33        $ 1
34       $ 10
35      $ 100
36      $ 125
37      $ 130
38      $ 150
39      $ 160
40      $ 185
41       $ 98
42       $ 99
43      $ 200
44       $ 14
45       $ 58
46       $ 99
47      $ 128
48      $ 227
49      $ 779
Name: Amount, dtype: object

In [117]:
# Function to check currency and extract amount 
def extract_usd_amount(value): 
    if isinstance(value,str):# Match US$ or $ followed by any number (with commas) 
        match = re.match(r'(US\$|\$)\s*(\d[\d,]*)', value)
        if match: # Extracted currency and amount 
            currency, amount = match.groups() 
            amount = float(amount.replace(',', '')) 
            # Convert amount to a float after removing commas 
            if currency == '$' or currency == 'US$':  
                return amount # Check if currency is USD 
    return pd.NA # Return NaN if not USD or no match 
# Apply the function to the 'Pledges' column 
rw['Amount'] = rw['Amount'].apply(extract_usd_amount)# Filter out rows where 'USD_Pledges' is NaN (i.e., not in USD) 
rw['Amount'].head(50)

0       24.0
1       48.0
2      249.0
3       20.0
4       22.0
5       38.0
6       42.0
7       15.0
8       50.0
9      100.0
10     100.0
11     719.0
12     719.0
13     899.0
14     899.0
15    1079.0
16     599.0
17     719.0
18     749.0
19     899.0
20     899.0
21     899.0
22    1079.0
23    1079.0
24    1079.0
25       5.0
26      19.0
27      29.0
28      75.0
29      75.0
30     140.0
31     275.0
32      75.0
33       1.0
34      10.0
35     100.0
36     125.0
37     130.0
38     150.0
39     160.0
40     185.0
41      98.0
42      99.0
43     200.0
44      14.0
45      58.0
46      99.0
47     128.0
48     227.0
49     779.0
Name: Amount, dtype: object

In [118]:
rw['Amount'] = pd.to_numeric(rw['Amount'], errors='coerce')
rw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 651796 entries, 0 to 651795
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   RewardID           651796 non-null  int64
 1   ProjectID          651742 non-null  float64
 2   Status             651796 non-null  bool
 3   Amount             645164 non-null  float64
 4   BackersNum         651796 non-null  int64
 5   RewardDescript     644225 non-null  object
 6   EstimatedDelivery  645680 non-null  datetime64[ns]
 7   Limitedquantity    251 non-null     object
 8   Shipsto            339 non-null     object
 9   Included           370 non-null     object
 10  RewardName         375996 non-null  object
 11  Unnamed: 0         83124 non-null   float64
dtypes: bool(1), datetime64[ns](1), float64(3), int64(2), object(5)
memory usage: 55.3+ MB

In [119]:
# Merge the converted 'Pledged_USD' and 'Goal_USD' values back into the original df based on 'ProjectID'
new_rw = rw.merge(non_currency_strings_rw[['RewardID', 'Amount_USD']], 
              on='RewardID', 
              how='left', 
              suffixes=('', '_updated'))

# Update 'Pledged' and 'Goal' in df with the USD converted values where available
new_rw['Amount'] = new_rw['Amount_USD'].fillna(rw['Amount'])
new_rw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 651796 entries, 0 to 651795
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   RewardID           651796 non-null  int64
 1   ProjectID          651742 non-null  float64
 2   Status             651796 non-null  bool
 3   Amount             651796 non-null  float64
 4   BackersNum         651796 non-null  int64
 5   RewardDescript     644225 non-null  object
 6   EstimatedDelivery  645680 non-null  datetime64[ns]
 7   Limitedquantity    251 non-null     object
 8   Shipsto            339 non-null     object
 9   Included           370 non-null     object
 10  RewardName         375996 non-null  object
 11  Unnamed: 0         83124 non-null   float64
 12  Amount_USD         6632 non-null    float64
dtypes: bool(1), datetime64[ns](1), float64(4), int64(2), object(5)
memory usage: 65.3+ MB

# remain the feature

In [120]:
non_currency_strings_rw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6632 entries, 873 to 648396
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   RewardID           6632 non-null   int64
 1   ProjectID          6632 non-null   float64
 2   Status             6632 non-null   bool
 3   Amount             6632 non-null   object
 4   BackersNum         6632 non-null   int64
 5   RewardDescript     6532 non-null   object
 6   EstimatedDelivery  6632 non-null   datetime64[ns]
 7   Limitedquantity    0 non-null      object
 8   Shipsto            0 non-null      object
 9   Included           0 non-null      object
 10  RewardName         5329 non-null   object
 11  Unnamed: 0         893 non-null    float64
 12  Amount_USD         6632 non-null   float64
dtypes: bool(1), datetime64[ns](1), float64(3), int64(2), object(6)
memory usage: 680.0+ KB

# Drop mostly NaN (missing) and not relevant values

In [121]:
new_rw.drop(['Unnamed: 0','Limitedquantity', 'Shipsto','Included'], axis=1, inplace=True)
print(new_rw.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 651796 entries, 0 to 651795
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   RewardID           651796 non-null  int64
 1   ProjectID          651742 non-null  float64
 2   Status             651796 non-null  bool
 3   Amount             651796 non-null  float64
 4   BackersNum         651796 non-null  int64
 5   RewardDescript     644225 non-null  object
 6   EstimatedDelivery  645680 non-null  datetime64[ns]
 7   RewardName         375996 non-null  object
 8   Amount_USD         6632 non-null    float64
dtypes: bool(1), datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 45.4+ MB
None

In [122]:
# Remove duplicate rows based on these columns
columns_to_check = [col for col in new_rw.columns if col not in ['RewardID']]
new_rw = new_rw.drop_duplicates(subset=columns_to_check)
print(new_rw.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 651034 entries, 0 to 651795
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   RewardID           651034 non-null  int64
 1   ProjectID          650980 non-null  float64
 2   Status             651034 non-null  bool
 3   Amount             651034 non-null  float64
 4   BackersNum         651034 non-null  int64
 5   RewardDescript     643552 non-null  object
 6   EstimatedDelivery  644918 non-null  datetime64[ns]
 7   RewardName         375361 non-null  object
 8   Amount_USD         6632 non-null    float64
dtypes: bool(1), datetime64[ns](1), float64(3), int64(2), object(2)
memory usage: 45.3+ MB
None

In [123]:
# # Filter the DataFrame where Amount_USD is not null and extract the corresponding ProjectIDs 
# project_ids_with_usd_amount = new_rw.loc[~new_rw['Amount_USD'].isnull(), 'ProjectID'].unique() 
# print("ProjectIDs with non-null Amount_USD:") 
# print(project_ids_with_usd_amount)

In [124]:
# len(np.unique(project_ids_with_usd_amount))

# Save the file

In [ ]:
new_rw.to_excel('kickstarter_reward_fullversion_usd_v4.xlsx', index=True)#651034 entries